<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Abrasive
Description: A two-column, fixed-width design with dirty looks.
Version    : 1.0
Released   : 20081122

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Abrasive/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrapper">
   <div id="header">
    <div id="logo">
     <h1>
      {{=response.title or request.application}}
     </h1>
     <h2>
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
    </div>
    <!-- end #logo -->
    <div id="menu">
     {{=MENU(response.menu)}}
    </div>
    <!-- end #menu -->
   </div>
   <!-- end #header -->
   <div id="page">
    <div id="bgtop">
     <div id="bgbottom">
      <div id="content">
       <div class="flash">{{=response.flash or ''}}</div>
       {{include}}
      </div>
      <!-- end #content -->
      <div id="sidebar">
       <ul>
        <li>
         <h2>
          Nullam vitae
         </h2>
         <ul>
          <li>
           <a href="#">
            Morbi ante sem aliquam
           </a>
          </li>
          <li>
           <a href="#">
            Vitae egestas ullamcorpe
           </a>
          </li>
          <li>
           <a href="#">
            Ornare donec nec neque
           </a>
          </li>
          <li>
           <a href="#">
            Vel rhoncus adipiscing
           </a>
          </li>
         </ul>
        </li>
        <li>
         <h2>
          Sed magna
         </h2>
         <ul>
          <li>
           <a href="#">
            Morbi ante sem aliquam
           </a>
          </li>
          <li>
           <a href="#">
            Vitae egestas ullamcorpe
           </a>
          </li>
          <li>
           <a href="#">
            Vulputate non magna
           </a>
          </li>
          <li>
           <a href="#">
            Cras a massa integer
           </a>
          </li>
          <li>
           <a href="#">
            Nec turpis vel pulvinar
           </a>
          </li>
          <li>
           <a href="#">
            Ornare donec nec neque
           </a>
          </li>
          <li>
           <a href="#">
            Vel rhoncus adipiscing
           </a>
          </li>
          <li>
           <a href="#">
            Vulputate non magna
           </a>
          </li>
          <li>
           <a href="#">
            Cras a massa integer
           </a>
          </li>
          <li>
           <a href="#">
            Nec turpis vel pulvinar
           </a>
          </li>
          <li>
           <a href="#">
            Vulputate non magna
           </a>
          </li>
          <li>
           <a href="#">
            Nec turpis vel pulvinar
           </a>
          </li>
         </ul>
        </li>
       </ul>
      </div>
      <!-- end #sidebar -->
      <div style="clear: both;">
       &nbsp;
      </div>
     </div>
    </div>
   </div>
   <!-- end #page -->
   <div id="footer">
    <p>
     Copyright (c) 2008 SiteName.com. Design by
     <a href="http://www.nodethirtythree.com/">
      NodeThirtyThree
     </a>
     and
     <a href="http://www.freecsstemplates.org/">
      FreeCSSTemplates
     </a>
    </p>
   </div>
   <!-- end #footer -->
  </div>
  <!-- end #wrapper -->
 </body>
</html>
