<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Abscond/screen.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <h2>
    {{=response.subtitle or '=response.subtitle'}}
   </h2>
  </div>
  <div id="navigation">
   <ul>
    <li>
     <a href="#00">
      Home
     </a>
    </li>
    <li id="active">
     <a href="#01">
      Blog
     </a>
    </li>
    <li>
     <a href="#02">
      Archives
     </a>
    </li>
    <li>
     <a href="#03">
      About
     </a>
    </li>
    <li>
     <a href="#04">
      Contact
     </a>
    </li>
   </ul>
  </div>
  <div id="wrapper">
   <div id="content-wrapper">
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
   </div>
   <div id="sidebar-wrapper">
    <div id="sidebar">
     <div class="sideblock">
      <h3 id="heading_popular">
       Popular Posts
      </h3>
      <ul>
       <li>
        <a href="#21">
         Odd Man Out
        </a>
       </li>
       <li>
        <a href="#22">
         Duke and Duchess
        </a>
       </li>
       <li>
        <a href="#23">
         Marquess and Marchioness
        </a>
       </li>
       <li>
        <a href="#24">
         Earl and Countess
        </a>
       </li>
       <li>
        <a href="#25">
         Viscount and Viscountess
        </a>
       </li>
       <li>
        <a href="#26">
         Baron and Baroness
        </a>
       </li>
      </ul>
     </div>
     <div class="sideblock">
      <h3 id="heading_monthly">
       Monthly Archives
      </h3>
      <ul>
       <li>
        <a href="#19">
         October 2006
        </a>
       </li>
       <li>
        <a href="#18">
         September 2006
        </a>
       </li>
       <li>
        <a href="#17">
         August 2006
        </a>
       </li>
       <li>
        <a href="#16">
         July 2006
        </a>
       </li>
       <li>
        <a href="#15">
         June 2006
        </a>
       </li>
       <li>
        <a href="#14">
         May 2006
        </a>
       </li>
       <li>
        <a href="#13">
         April 2006
        </a>
       </li>
       <li>
        <a href="#12">
         March 2006
        </a>
       </li>
       <li>
        <a href="#11">
         February 2006
        </a>
       </li>
       <li>
        <a href="#10">
         January 2006
        </a>
       </li>
       <li>
        <a href="#09">
         December 2005
        </a>
       </li>
      </ul>
     </div>
     <div class="sideblock">
      <h3 id="heading_cats">
       Category Archives
      </h3>
      <ul>
       <li>
        <a href="#15">
         100 Greatest Cartoons
        </a>
       </li>
       <li>
        <a href="#16">
         Laptops vs. Actors
        </a>
       </li>
       <li>
        <a href="#17">
         Internet vs. Television
        </a>
       </li>
       <li>
        <a href="#18">
         Characters
        </a>
       </li>
       <li>
        <a href="#19">
         .NET Framework
        </a>
       </li>
       <li>
        <a href="#20">
         Dead Albums
        </a>
       </li>
       <li>
        <a href="#21">
         Antidisestablishmentarianism
        </a>
       </li>
       <li>
        <a href="#22">
         2006 Births
        </a>
       </li>
       <li>
        <a href="#23">
         Charmed
        </a>
       </li>
       <li>
        <a href="#24">
         1324 B.C.E.
        </a>
       </li>
       <li>
        <a href="#25">
         Google
        </a>
       </li>
       <li>
        <a href="#26">
         MSN
        </a>
       </li>
       <li>
        <a href="#27">
         Books
        </a>
       </li>
       <li>
        <a href="#28">
         Establishments
        </a>
       </li>
       <li>
        <a href="#29">
         Technology &amp; What Not
        </a>
       </li>
       <li>
        <a href="#30">
         Processes &amp; Meetings
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <div id="footer">
   <p>
    Copyright &copy; 1890 &mdash; 2006 Absond, Inc. All rights reserved.
   </p>
   <p>
    Design by
    <a href="http://www.nikhedonia.com/" rel="bookmark" title="SimplyGold">
     Sadhana Ganapathiraju
    </a>
    . 
			Try more
    <a href="http://www.nikhedonia.com/showcase/free_templates/" rel="bookmark" title="Other Free Templates">
     free templates
    </a>
    or
    <a href="http://www.nikhedonia.com/showcase/commercial_templates/" rel="bookmark" title="Commercial Templates">
     commercial templates
    </a>
    .
   </p>
   <p>
    <a href="#31">
     Legal
    </a>
    |
    <a href="#32">
     Terms of Service
    </a>
    |
    <a href="#33">
     Privacy Statement
    </a>
    |
    <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.0 Strict">
     Xhtml
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Valid CSS 2.0 Strict">
     Css
    </a>
   </p>
  </div>
 </body>
</html>