<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Affection
Version    : 1.0
Released   : 20070417
Description: A two-column fixed-width template. Content area is further divided into two columms. Suitable for small websites and blogs.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Affection/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="logo">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <h2>
    {{=response.subtitle or '=response.subtitle'}}
   </h2>
  </div>
  <div id="page">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end #content -->
   <div id="sidebar">
    <div id="menu">
     {{=MENU(response.menu)}}
    </div>
    <div id="links">
     <h2>
      Ipsum Dolorem
     </h2>
     <ul>
      <li>
       <a href="#">
        Maecenas luctus at
       </a>
      </li>
      <li>
       <a href="#">
        Etiam  volutpat erat
       </a>
      </li>
      <li>
       <a href="#">
        Donec dictum metus
       </a>
      </li>
     </ul>
    </div>
    <div>
     <h2>
      A Blockquote
     </h2>
     <blockquote>
      <p>
       Quisque dictum integer nisl risus, sagittis convallis. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
      </p>
     </blockquote>
    </div>
   </div>
   <!-- end #sidebar -->
   <div id="extra" style="clear: both; height: 1px;">
   </div>
  </div>
  <!-- end #page -->
  <div id="footer">
   <p class="links">
    <a href="#">
     Privacy
    </a>
    &#183;
    <a href="#">
     Terms
    </a>
    &#183; Designed By
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    &#183;
    <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Strict">
     <abbr title="eXtensible HyperText Markup Language">
      XHTML
     </abbr>
    </a>
    &#183;
    <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS">
     <abbr title="Cascading Style Sheets">
      CSS
     </abbr>
    </a>
   </p>
   <p class="legal">
    &copy; 2007 Affection
   </p>
  </div>
 </body>
</html>
