<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Amadeus/master.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="navigation">
   <ul>
    <li>
     <a href="#">
      Home
     </a>
    </li>
    <li class="active">
     <a href="#">
      Archives
     </a>
    </li>
    <li>
     <a href="#">
      About
     </a>
    </li>
    <li>
     <a href="#">
      Contact
     </a>
    </li>
   </ul>
  </div>
  <div id="header">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <h2>
    {{=response.subtitle or '=response.subtitle'}}
   </h2>
  </div>
  <div id="wrapper">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="sidebar">
    <div class="block" id="cat_archives">
     <h2>
      Categories
     </h2>
     <ul>
      <li>
       <a href="#">
        Amadeus
       </a>
      </li>
      <li>
       <a href="#">
        Wikipedia
       </a>
      </li>
      <li>
       <a href="#">
        References
       </a>
      </li>
      <li>
       <a href="#">
        Sardinia
       </a>
      </li>
      <li>
       <a href="#">
        Savoy
       </a>
      </li>
      <li>
       <a href="#">
        Dukes
       </a>
      </li>
      <li>
       <a href="#">
        Pages
       </a>
      </li>
      <li>
       <a href="#">
        Spain
       </a>
      </li>
      <li>
       <a href="#">
        Titles
       </a>
      </li>
      <li>
       <a href="#">
        Mozart
       </a>
      </li>
      <li>
       <a href="#">
        Plays
       </a>
      </li>
     </ul>
    </div>
    <div class="block" id="month_archives">
     <h2>
      Months
     </h2>
     <ul>
      <li>
       <a href="#">
        April 2007
       </a>
      </li>
      <li>
       <a href="#">
        March 2007
       </a>
      </li>
      <li>
       <a href="#">
        February 2007
       </a>
      </li>
      <li>
       <a href="#">
        January 2007
       </a>
      </li>
      <li>
       <a href="#">
        December 2006
       </a>
      </li>
      <li>
       <a href="#">
        November 2006
       </a>
      </li>
      <li>
       <a href="#">
        October 2006
       </a>
      </li>
      <li>
       <a href="#">
        September 2006
       </a>
      </li>
      <li>
       <a href="#">
        August 2006
       </a>
      </li>
     </ul>
    </div>
    <div class="block" id="about_me">
     <h2>
      About Me
     </h2>
     <p>
      Victor Amadeus II undertook sweeping administrative reforms within Savoy-Piedmont. In 1696 
				he established a system of intendents, based on the French model, responsible for collecting 
				taxes and law enforcement. In 1697 he began a land survey which was largely completed by 1711, 
				the Perequazione, to examine the land holdings and privileges of the Church and nobility. In 
				1717 he reformed the secretariat system in Turin establishing individual secretaries for war, 
				internal affairs and foreign affairs.
     </p>
     <p>
      From the 1670s he also had a new administrative zone built in Turin, around the ducal palace. 
				This zone included a military academy, the ministry of war, a mint, and a customs house. This 
				work was still ongoing upon his death.
     </p>
     <p>
      Still getting all information from
      <cite title="Victor Amadeus II of Sardine">
       Wikipedia
      </cite>
     </p>
    </div>
   </div>
  </div>
  <div id="footer">
   <p>
    Design by
    <a href="http://www.nikhedonia.com/">
     Sadhana Ganapathiraju
    </a>
    |
    <a href="http://validator.w3.org/check/referer">
     XHTML
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2">
     CSS
    </a>
    |
    <a href="http://creativecommons.org/licenses/by-sa/2.5/">
     Creative Commons
    </a>
   </p>
  </div>
 </body>
</html>