<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/anibanner01/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <span class="quotes1">
     "Lorem ipsum dolor sit
     <b>
      consectetuer adipiscing
     </b>
     sed diem ibh euismod
     <b>
      tincidunt ut
     </b>
     dolore magna."
    </span>
   </div>
   <div id="navcontainer">
    <ul id="navlist">
     <li id="active">
      <a href="index.html" id="current">
       Home
       <span>
        Back to the main page.
       </span>
      </a>
     </li>
     <li>
      <a href="index.html">
       Consectetuer
       <span>
        This is the link to consectetuer.
       </span>
      </a>
     </li>
     <li>
      <a href="index.html">
       Dignissim Qui Blandit
       <span>
        Anyone for dignissim qui blandit?
       </span>
      </a>
     </li>
     <li>
      <a href="index.html">
       Vero Eros Et
       <span>
        Did you vero your eros et today?
       </span>
      </a>
     </li>
     <li>
      <a href="index.html">
       Duis Te Feugi
       <span>
        There is a duis in my te feugi.
       </span>
      </a>
     </li>
    </ul>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div class="botsmall">
    |
    <a href="index.html">
     Home
    </a>
    |
    <a href="index.html">
     Consectetuer
    </a>
    |
    <a href="index.html">
     Dignissim Qui Blandit
    </a>
    |
    <a href="index.html">
     Vero Eros Et
    </a>
    |
    <a href="index.html">
     Duis Te Feugi
    </a>
    |
   </div>
   <div id="copyright">
    Copyright 2006 yoursite.com | Design by
    <a href="http://www.animatedbanner.com/">
     AnimatedBanner.com
    </a>
   </div>
  </div>
 </body>
</html>
