<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Balloonr
Version    : 1.0
Released   : 20070813
Description: A two-column design for 1024x768 resolutions suitable for blogs and forum sites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Ballonr/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- start header -->
  <div id="header">
   <form id="search" method="get" action="">
    <fieldset>
     <legend>
      Search
     </legend>
     <input id="searchfield" type="text" name="s" value="" />
     <input id="searchsubmit" type="submit" value="Search" />
    </fieldset>
   </form>
   <h1>
    {{=response.title or request.application}}
   </h1>
   <h2>
    {{=response.subtitle or '=response.subtitle'}}
   </h2>
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="page">
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start sidebar -->
   <div id="sidebar">
    <ul>
     <li>
      <h2>
       Lorem Ipsum
      </h2>
      <ul>
       <li>
        <a href="#">
         Fusce dui neque fringilla
        </a>
       </li>
       <li>
        <a href="#">
         Eget tempor eget nonummy
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Nec metus sed donec
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Velit semper nisi molestie
        </a>
       </li>
       <li>
        <a href="#">
         Eget tempor eget nonummy
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Volutpat Dolore
      </h2>
      <ul>
       <li>
        <a href="#">
         Eget tempor eget nonummy
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Velit semper nisi molestie
        </a>
       </li>
       <li>
        <a href="#">
         Nec metus sed donec
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Fusce dui neque fringilla
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Magna Bibendum
      </h2>
      <ul>
       <li>
        <a href="#">
         Nec metus sed donec
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Velit semper nisi molestie
        </a>
       </li>
       <li>
        <a href="#">
         Eget tempor eget nonummy
        </a>
       </li>
       <li>
        <a href="#">
         Nec metus sed donec
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Velit semper nisi molestie
        </a>
       </li>
      </ul>
     </li>
    </ul>
    <div style="clear: both;">
     &nbsp;
    </div>
   </div>
   <!-- end sidebar -->
  </div>
  <!-- end page -->
  <div id="footer">
   <p id="legal">
    &copy;2007 All Rights Reserved. | Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
   <p id="links">
    <a href="#">
     Privacy
    </a>
    |
    <a href="#">
     Terms
    </a>
    |
    <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">
     <abbr title="eXtensible HyperText Markup Language">
      XHTML
     </abbr>
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS">
     <abbr title="Cascading Style Sheets">
      CSS
     </abbr>
    </a>
   </p>
  </div>
 </body>
</html>
