<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Balloon Fest
Version    : 1.0
Released   : 20070709
Description: A two-column, fixed-width template suitable for small business websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/BalloonFest/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="menu">
   {{=MENU(response.menu)}}
  </div>
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
  </div>
  <div id="page">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <div id="sidebar">
    <div id="search" class="boxed">
     <h2 class="title">
      Quick Search
     </h2>
     <div class="content">
      <form id="searchform" method="get" action="">
       <fieldset>
        <input id="searchinput" type="text" name="searchinput" value="" />
        <input id="searchsubmit" type="submit" value="Search" />
       </fieldset>
      </form>
      <p>
       <a href="#">
        Advanced Search
       </a>
      </p>
     </div>
    </div>
    <div id="news" class="boxed">
     <h2 class="title">
      News &amp; Events
     </h2>
     <div class="content">
      <ul>
       <li class="first">
        <h3>
         04 July 2007
        </h3>
        <p>
         <a href="#">
          In posuere eleifend odio quisque semper&hellip;
         </a>
        </p>
       </li>
       <li>
        <h3>
         29 June 2007
        </h3>
        <p>
         <a href="#">
          Donec leo, vivamus fermentum nibh in augue&hellip;
         </a>
        </p>
       </li>
       <li>
        <h3>
         13 June 2007
        </h3>
        <p>
         <a href="#">
          Quisque dictum integer nisl risus sagittis&hellip;
         </a>
        </p>
       </li>
      </ul>
     </div>
    </div>
    <div id="extra" class="boxed">
     <h2 class="title">
      Sagittis Convallis
     </h2>
     <div class="content">
      <ul class="list">
       <li class="first">
        <a href="#">
         Ut semper vestibulum est
        </a>
       </li>
       <li>
        <a href="#">
         Vestibulum luctus venenatis
        </a>
       </li>
       <li>
        <a href="#">
         Integer rutrum nisl in mi
        </a>
       </li>
       <li>
        <a href="#">
         Etiam malesuada rutrum enim
        </a>
       </li>
       <li>
        <a href="#">
         Aenean elementum facilisis
        </a>
       </li>
       <li>
        <a href="#">
         Ut tincidunt elit vitae augue
        </a>
       </li>
       <li>
        <a href="#">
         Sed quis odio sagittis leo
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- end sidebar -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p id="legal">
    &copy;2007 Balloon Fest. All Rights Reserved
    <br />
    Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
   <p id="links">
    <a href="#">
     Privacy
    </a>
    |
    <a href="#">
     Terms
    </a>
    |
    <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">
     <abbr title="eXtensible HyperText Markup Language">
      XHTML
     </abbr>
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS">
     <abbr title="Cascading Style Sheets">
      CSS
     </abbr>
    </a>
   </p>
  </div>
 </body>
</html>
