<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Beta/styles.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     spyka.net - you know you want to
    </p>
   </div>
   <div id="nav">
    {{=MENU(response.menu)}}
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <p>
     &copy; 2008 mySite. Design:
     <a href="http://www.spyka.net" title="spyka Webmaster">
      spyka webmaster
     </a>
     available from
     <a href="http://www.justfreetemplates.com" title="free css templates">
      Just Free Templates
     </a>
     . Valid
     <a href="http://validator.w3.org/check/referer" title="valid XHTML strict">
      XHTML
     </a>
     and
     <a href="http://jigsaw.w3.org/css-validator/check/referer" title="CSS">
      CSS
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
