<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Blogging
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20090208

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Blogging/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrapper">
   <div id="header">
    <div id="menu">
     {{=MENU(response.menu)}}
    </div>
    <!-- end #menu -->
    <div id="search">
     <form method="get" action="">
      <fieldset>
       <input type="text" name="s" id="search-text" size="15" />
       <input type="submit" id="search-submit" value="Search" />
      </fieldset>
     </form>
    </div>
    <!-- end #search -->
   </div>
   <!-- end #header -->
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     <em>
      template design by
      <a href="http://www.freecsstemplates.org/">
       Free CSS Templates
      </a>
     </em>
    </p>
   </div>
   <hr />
   <!-- end #logo -->
   <!-- end #header-wrapper -->
   <div id="page">
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <!-- end #content -->
    <div id="sidebar">
     <ul>
      <li>
       <h2>
        Aliquam tempus
       </h2>
       <p>
        Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in consectetuer hendrerit, volutpat.
       </p>
      </li>
      <li id="calendar">
       <h2>
        Calendar
       </h2>
       <div id="calendar_wrap">
        <table summary="Calendar">
         <caption>
          March 2008
         </caption>
         <thead>
          <tr>
           <th abbr="Monday" scope="col" title="Monday">
            M
           </th>
           <th abbr="Tuesday" scope="col" title="Tuesday">
            T
           </th>
           <th abbr="Wednesday" scope="col" title="Wednesday">
            W
           </th>
           <th abbr="Thursday" scope="col" title="Thursday">
            T
           </th>
           <th abbr="Friday" scope="col" title="Friday">
            F
           </th>
           <th abbr="Saturday" scope="col" title="Saturday">
            S
           </th>
           <th abbr="Sunday" scope="col" title="Sunday">
            S
           </th>
          </tr>
         </thead>
         <tfoot>
          <tr>
           <td abbr="February" colspan="3" id="prev">
            <a href="#" title="">
             &laquo; Feb
            </a>
           </td>
           <td class="pad">
            &nbsp;
           </td>
           <td abbr="April" colspan="3" id="next">
            <a href="#" title="">
             Apr &raquo;
            </a>
           </td>
          </tr>
         </tfoot>
         <tbody>
          <tr>
           <td colspan="5" class="pad">
            &nbsp;
           </td>
           <td>
            1
           </td>
           <td>
            2
           </td>
          </tr>
          <tr>
           <td>
            3
           </td>
           <td>
            4
           </td>
           <td>
            5
           </td>
           <td>
            6
           </td>
           <td>
            7
           </td>
           <td>
            8
           </td>
           <td>
            9
           </td>
          </tr>
          <tr>
           <td>
            10
           </td>
           <td id="today">
            11
           </td>
           <td>
            12
           </td>
           <td>
            13
           </td>
           <td>
            14
           </td>
           <td>
            15
           </td>
           <td>
            16
           </td>
          </tr>
          <tr>
           <td>
            17
           </td>
           <td>
            18
           </td>
           <td>
            19
           </td>
           <td>
            20
           </td>
           <td>
            21
           </td>
           <td>
            22
           </td>
           <td>
            23
           </td>
          </tr>
          <tr>
           <td>
            24
           </td>
           <td>
            25
           </td>
           <td>
            26
           </td>
           <td>
            27
           </td>
           <td>
            28
           </td>
           <td>
            29
           </td>
           <td>
            30
           </td>
          </tr>
          <tr>
           <td>
            31
           </td>
           <td class="pad" colspan="6">
            &nbsp;
           </td>
          </tr>
         </tbody>
        </table>
       </div>
      </li>
      <li>
       <h2>
        Turpis nulla
       </h2>
       <ul>
        <li>
         <a href="#">
         </a>
         <a href="#">
          Nec metus sed donec
         </a>
        </li>
        <li>
         <a href="#">
          Magna lacus bibendum mauris
         </a>
        </li>
        <li>
         <a href="#">
          Velit semper nisi molestie
         </a>
        </li>
        <li>
         <a href="#">
          Eget tempor eget nonummy
         </a>
        </li>
        <li>
         <a href="#">
          Nec metus sed donec
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">
     &nbsp;
    </div>
   </div>
   <!-- end #page -->
   <div id="footer">
    <p>
     Copyright (c) 2008 Sitename.com. All rights reserved. Design by
     <a href="http://www.freecsstemplates.org/">
      Free CSS Templates
     </a>
     .
    </p>
   </div>
   <!-- end #footer -->
  </div>
 </body>
</html>
