<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Blogsmith
Description: A two-column, fixed-width blog design.
Version    : 1.0
Released   : 20071001

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/BlogSmith/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- start header -->
  <div id="logo">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <p>
    By Free CSS Templates
   </p>
  </div>
  <div id="menu">
   {{=MENU(response.menu)}}
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="page">
   <div id="page-bg">
    <div id="latest-post">
     <img src="images/img04.jpg" alt="" width="140" height="165" class="right" />
     <h1>
      Welcome to Our Website!
     </h1>
     <p>
      <strong>
       Blogsmith
      </strong>
      is a free, fully standards-compliant CSS template designed by
      <a href="http://www.freecsstemplates.org/">
       Free CSS Templates
      </a>
      . This free template is released under a
      <a href="http://creativecommons.org/licenses/by/2.5/">
       Creative Commons Attributions 2.5
      </a>
      license, so you're pretty much free to do whatever you want with it  (even use it commercially) provided you keep the links in the footer intact. Have fun with it :)
     </p>
     <p>
      This template is also available as a
      <a href="http://www.freewpthemes.net/preview/blogsmith/">
       WordPress theme
      </a>
      at
      <a href="http://www.freewpthemes.net/">
       Free WordPress Themes
      </a>
      . The photo on this template is from
      <a href="http://www.pdphoto.org/">
       PDPhoto.org
      </a>
      .
     </p>
    </div>
    <!-- start content -->
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <!-- end content -->
    <!-- start sidebar -->
    <div id="sidebar">
     <ul>
      <li>
       <h2>
        Categories
       </h2>
       <ul>
        <li>
         <a href="#">
          Aliquam libero
         </a>
        </li>
        <li>
         <a href="#">
          Consectetuer adipiscing elit
         </a>
        </li>
        <li>
         <a href="#">
          metus aliquam pellentesque
         </a>
        </li>
        <li>
         <a href="#">
          Suspendisse iaculis mauris
         </a>
        </li>
        <li>
         <a href="#">
          Urnanet non molestie semper
         </a>
        </li>
        <li>
         <a href="#">
          Proin gravida orci porttitor
         </a>
        </li>
       </ul>
      </li>
      <li>
       <h2>
        Archives
       </h2>
       <ul>
        <li>
         <a href="#">
          September
         </a>
         (23)
        </li>
        <li>
         <a href="#">
          August
         </a>
         (31)
        </li>
        <li>
         <a href="#">
          July
         </a>
         (31)
        </li>
        <li>
         <a href="#">
          June
         </a>
         (30)
        </li>
        <li>
         <a href="#">
          May
         </a>
         (31)
        </li>
       </ul>
      </li>
     </ul>
    </div>
    <!-- end sidebar -->
    <div style="clear: both;">
     &nbsp;
    </div>
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p>
    &copy;2007 All Rights Reserved. &nbsp;&bull;&nbsp; Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
  </div>
 </body>
</html>
