<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/blueMonkey/main.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <div id="headerLeft">
     <h1>
      {{=response.title or request.application}}
     </h1>
    </div>
    <div id="headerMain">
     <div id="navcontainer">
      <ul>
       <li>
        <img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" />
       </li>
       <li>
        <a href="#">
         Home
        </a>
       </li>
       <li>
        <img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" />
       </li>
       <li>
        <a href="#">
         About
        </a>
       </li>
       <li>
        <img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" />
       </li>
       <li>
        <a href="#">
         Products
        </a>
       </li>
       <li>
        <img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" />
       </li>
       <li>
        <a href="#">
         Services
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div id="lowerMenu">
    <a href="#">
     Message Center
    </a>
    |
    <a href="#">
     What's New?
    </a>
    |
    <a href="#">
     Downloads
    </a>
    |
    <a href="#">
     About us
    </a>
   </div>
   <div id="mainBody">
    <p>
     Tuesday October 17, 2006
    </p>
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <div id="footer">
     Copyright YourName Design by Bryan Lass,
     <a href="http://www.idavista.com">
      IdaVista
     </a>
     , Inc.
    </div>
   </div>
  </div>
 </body>
</html>