<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/BlueSky20/include/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <center>
   <div id="container">
    <div id="image">
     <br />
     <br />
     <font size="7">
      &nbsp;
      <u>
       Blue Sky 2.0
      </u>
     </font>
     <br />
     &nbsp;&nbsp;&nbsp;
     <u>
      Created by Chris Smith
     </u>
    </div>
    <div id="menu">
     {{=MENU(response.menu)}}
    </div>
    <div id="main">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <div id="copyright">
     Copyright
     <a href="index.html">
      your site
     </a>
     2006 | Valid
     <a href="index.html">
      css
     </a>
     and
     <a href="index.html">
      html
     </a>
     <br />
     Designed by:
     <a href="http://www.random-world.net">
      Christopher Smith
     </a>
    </div>
   </div>
  </center>
 </body>
</html>