<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/BrightPixel/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div class="main">
   <div class="container">
    <div class="gfx">
     <a href="index.html">
      <span>
      </span>
     </a>
    </div>
    <div class="menu">
     {{=MENU(response.menu)}}
    </div>
    <div class="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <div class="footer">
     &copy; 2006
     <a href="index.html">
      Sitename.com
     </a>
     . Design by
     <a href="http://arcsin.se">
      Arcsin
     </a>
    </div>
   </div>
  </div>
 </body>
</html>