<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Bucolic/master.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Bucolic/#'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <h1>
    {{=response.title or request.application}}
   </h1>
  </div>
  <div id="navigation">
   <ul>
    <li class="active">
     <a href="#" title="SimplyGold">
      Home
     </a>
    </li>
    <li>
     <a href="#notebook/">
      Blog
     </a>
    </li>
    <li>
     <a href="#showcase/">
      Our Portfolio
     </a>
    </li>
    <li>
     <a href="#about/">
      About Us
     </a>
    </li>
    <li>
     <a href="#contact/">
      Contact Us
     </a>
    </li>
   </ul>
  </div>
  <div id="about">
   <dl>
    <dt>
     <strong>
      bu-col-ic
     </strong>
     [
     <em>
      byoo-
      <strong>
       kol
      </strong>
      -ik
     </em>
     ]
    </dt>
    <dd>
     1. of or pertaining to shepherds; pastoral.
    </dd>
    <dd>
     2. of, pertaining to, or suggesting an idyllic rural life.
    </dd>
    <dd>
     3. a pastoral poem.
    </dd>
    <dd>
     <a class="offsite" href="http://dictionary.reference.com/search?q=bucolic&amp;x=0&amp;y=0">
      &mdash;
      <cite>
       dictionary.com
      </cite>
     </a>
    </dd>
   </dl>
  </div>
  <div id="content">
   <div class="flash">{{=response.flash or ''}}</div>
   {{include}}
  </div>
  <div id="footer">
   <p>
    Design by
    <a href="http://www.nikhedonia.com/" title="SimplyGold">
     Sadhana Ganapathiraju
    </a>
    | Released 
		under
    <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" title="Creative Commons Attribution-NonCommercial-ShareAlike 2.5 License">
     Creative Commons
    </a>
    license.
   </p>
   <p>
    Try more
    <a href="#showcase/free_templates/" rel="bookmark">
     free templates
    </a>
    or
    <a href="#showcase/commercial_templates/" rel="bookmark">
     commercial templates
    </a>
   </p>
   <p>
    <a href="#31">
     Legal
    </a>
    |
    <a href="#32">
     Terms of Service
    </a>
    |
    <a href="#33">
     Privacy Statement
    </a>
    |
    <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.0 Strict">
     Xhtml
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Valid CSS 2.0 Strict">
     Css
    </a>
   </p>
  </div>
 </body>
</html>