<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/BusinesTemplate004/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- Begin Wrapper -->
  <div id="wrapper">
   <!-- Begin Header -->
   <div id="header">
    <div class="logo">
     <h1 id="lineone">
      {{=response.title or request.application}}
     </h1>
     <h2 id="linetwo">
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
    </div>
    <!-- Begin Naviagtion -->
    <div id="navigation">
     <ul>
      <li>
       <a href="#">
        Link One
       </a>
      </li>
      <li>
       <a href="#">
        Link Two
       </a>
      </li>
      <li>
       <a href="http://businesswebsitetemplates.blogspot.com">
        Business Website Templates
       </a>
      </li>
      <li>
       <a href="#">
        Link Four
       </a>
      </li>
      <li>
       <a href="#">
        Link Five
       </a>
      </li>
     </ul>
    </div>
    <!-- End Naviagtion -->
   </div>
   <!-- End Header -->
   <!-- Begin Content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- End Content -->
   <!-- Begin Footer -->
   <div id="footer">
    <p>
     <a href="http://validator.w3.org/">
      Valid CSS
     </a>
     ::
     <a href="http://validator.w3.org/">
      Valid XHTML
     </a>
     Copyright &copy; 2007 by Free Templates :: Designed by:
    </p>
   </div>
  </div>
 </body>
</html>