<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Canvass
Version    : 1.0
Released   : 20070615
Description: A two-column, fixed width template with a artistic look.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Canvass/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <p>
    By
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
  </div>
  <!-- end header -->
  <div id="page">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <div id="sidebar">
    <ul>
     <li id="menu" class="bg6">
      <h2 class="bg1">
       Menu
      </h2>
      <ul>
       <li class="first">
        <a href="#" accesskey="1" title="">
         Home
        </a>
       </li>
       <li>
        <a href="#" accesskey="2" title="">
         Blogs
        </a>
       </li>
       <li>
        <a href="#" accesskey="3" title="">
         Photos
        </a>
       </li>
       <li>
        <a href="#" accesskey="4" title="">
         Links
        </a>
       </li>
       <li>
        <a href="#" accesskey="5" title="">
         About
        </a>
       </li>
       <li>
        <a href="#" accesskey="6" title="">
         Contact
        </a>
       </li>
      </ul>
     </li>
     <li id="news">
      <h2 class="bg2">
       Categories
      </h2>
      <ul>
       <li class="first">
        6/15:
        <a href="#">
         Donec dictum metus lorem ipsum &hellip;
        </a>
       </li>
       <li>
        6/12:
        <a href="#">
         Etiam rhoncus volutpat lorem ipsum&hellip;
        </a>
       </li>
       <li>
        6/9:
        <a href="#">
         Integer gravida nibh lorem ipsum&hellip;
        </a>
       </li>
      </ul>
     </li>
     <li id="archives">
      <h2 class="bg3">
       Archives
      </h2>
      <ul>
       <li class="first">
        <a href="#">
         June 2007
        </a>
        <i>
         (2)
        </i>
       </li>
       <li>
        <a href="#">
         May 2007
        </a>
        <i>
         (31)
        </i>
       </li>
       <li>
        <a href="#">
         April 2007
        </a>
        <i>
         (30)
        </i>
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end sidebar -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p id="legal">
    <strong>
     Canvass
    </strong>
    &copy; 2007. Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
   <p id="links">
    <a href="#">
     Privacy Policy
    </a>
    |
    <a href="#">
     Terms of Use
    </a>
    |
    <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">
     <abbr title="eXtensible HyperText Markup Language">
      XHTML
     </abbr>
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS">
     <abbr title="Cascading Style Sheets">
      CSS
     </abbr>
    </a>
   </p>
  </div>
  <!-- end footer -->
 </body>
</html>
