<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : chasmogamous
Description: A two-column, fixed-width template suitable for business sites and blogs.
Version    : 1.0
Released   : 20080116

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Chasmogamous/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
  </div>
  <hr />
  <!-- start page -->
  <div id="page">
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start sidebar -->
   <div id="sidebar">
    <ul>
     <li id="calendar">
      <h2>
       Calendar
      </h2>
      <table summary="Calendar">
       <caption>
        November 2007
       </caption>
       <thead>
        <tr>
         <th abbr="Monday" scope="col" title="Monday">
          M
         </th>
         <th abbr="Tuesday" scope="col" title="Tuesday">
          T
         </th>
         <th abbr="Wednesday" scope="col" title="Wednesday">
          W
         </th>
         <th abbr="Thursday" scope="col" title="Thursday">
          T
         </th>
         <th abbr="Friday" scope="col" title="Friday">
          F
         </th>
         <th abbr="Saturday" scope="col" title="Saturday">
          S
         </th>
         <th abbr="Sunday" scope="col" title="Sunday">
          S
         </th>
        </tr>
       </thead>
       <tfoot>
        <tr>
         <td abbr="October" colspan="3" id="prev">
          <a href="http://wordpress.local/?m=200710" title="View posts for October 2007">
           &laquo; Oct
          </a>
         </td>
         <td class="pad">
          &nbsp;
         </td>
         <td abbr="December" colspan="3" id="next">
          <a href="http://wordpress.local/?m=200710" title="View posts for December 2007">
           Dec &raquo;
          </a>
         </td>
        </tr>
       </tfoot>
       <tbody>
        <tr>
         <td colspan="3" class="pad">
          &nbsp;
         </td>
         <td>
          1
         </td>
         <td>
          2
         </td>
         <td>
          3
         </td>
         <td>
          4
         </td>
        </tr>
        <tr>
         <td id="today">
          5
         </td>
         <td>
          6
         </td>
         <td>
          7
         </td>
         <td>
          8
         </td>
         <td>
          9
         </td>
         <td>
          10
         </td>
         <td>
          11
         </td>
        </tr>
        <tr>
         <td>
          12
         </td>
         <td>
          13
         </td>
         <td>
          14
         </td>
         <td>
          15
         </td>
         <td>
          16
         </td>
         <td>
          17
         </td>
         <td>
          18
         </td>
        </tr>
        <tr>
         <td>
          19
         </td>
         <td>
          20
         </td>
         <td>
          21
         </td>
         <td>
          22
         </td>
         <td>
          23
         </td>
         <td>
          24
         </td>
         <td>
          25
         </td>
        </tr>
        <tr>
         <td>
          26
         </td>
         <td>
          27
         </td>
         <td>
          28
         </td>
         <td>
          29
         </td>
         <td>
          30
         </td>
         <td class="pad" colspan="2">
          &nbsp;
         </td>
        </tr>
       </tbody>
      </table>
     </li>
     <li>
      <h2>
       Etiam dolore
      </h2>
      <p>
       Nulla pellentesque dolor non tellus. Duis vel elit sit
       <a href="#">
        amet ipsum vehicula
       </a>
       varius. Vestibulum ante ipsum primis in faucibus orci luctus.
      </p>
     </li>
     <li>
      <h2>
       Consequat lorem
      </h2>
      <ul>
       <li>
        <a href="#">
         Proin nec magna nec massa
        </a>
       </li>
       <li>
        <a href="#">
         Sit amet purus congue
        </a>
       </li>
       <li>
        <a href="#">
         Molestie aliquam erat volutpat
        </a>
       </li>
       <li>
        <a href="#">
         Amet ipsum vehicula varius
        </a>
       </li>
       <li>
        <a href="#">
         Primis in faucibus orci luctus
        </a>
       </li>
       <li>
        <a href="#">
         Vestibulum ante ipsum
        </a>
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end sidebar -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p class="legal">
    Copyright (c) 2007 Website Name. All rights reserved.
   </p>
   <p class="credit">
    Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
  </div>
 </body>
</html>
