<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : CityLights
Version    : 1.0
Released   : 20081119
Description: A Web 2.0 design with fluid width suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/CityLights/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- start header -->
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     <a href="http://www.freecsstemplates.org/">
      By Free CSS Templates
     </a>
    </p>
   </div>
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="banner">
   &nbsp;
  </div>
  <div id="page">
   <!-- start sidebar -->
   <div id="sidebar">
    <ul>
     <li id="categories">
      <h2>
       {{=response.subtitle or '=response.subtitle'}}
      </h2>
      <ul>
       <li>
        <a href="#">
         Lorem Ipsum
        </a>
        (1)
       </li>
       <li>
        <a href="#">
         Uncategorized
        </a>
        (4)
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Lorem Ipsum Dolor
      </h2>
      <ul>
       <li>
        <a href="#">
         Nulla luctus eleifend purus
        </a>
       </li>
       <li>
        <a href="#">
         Praesent  scelerisque
        </a>
       </li>
       <li>
        <a href="#">
         Ut nonummy rutrum sem
        </a>
       </li>
       <li>
        <a href="#">
         Pellentesque tempus   nulla
        </a>
       </li>
       <li>
        <a href="#">
         Fusce ultrices fringilla metus
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Lorem Ipsum Dolor
      </h2>
      <ul>
       <li>
        <a href="#">
         Pellentesque tempus   nulla
        </a>
       </li>
       <li>
        <a href="#">
         Fusce ultrices fringilla metus
        </a>
       </li>
       <li>
        <a href="#">
         Praesent mattis condimentum
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Lorem Ipsum Dolor
      </h2>
      <ul>
       <li>
        <a href="#">
         Nulla luctus eleifend purus
        </a>
       </li>
       <li>
        <a href="#">
         Praesent  scelerisque
        </a>
       </li>
       <li>
        <a href="#">
         Ut nonummy rutrum sem
        </a>
       </li>
       <li>
        <a href="#">
         Pellentesque tempus   nulla
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Lorem Ipsum Dolor
      </h2>
      <ul>
       <li>
        <a href="#">
         Nulla luctus eleifend purus
        </a>
       </li>
       <li>
        <a href="#">
         Praesent  scelerisque
        </a>
       </li>
       <li>
        <a href="#">
         Ut nonummy rutrum sem
        </a>
       </li>
       <li>
        <a href="#">
         Pellentesque tempus   nulla
        </a>
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end sidebar -->
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <br style="clear: both;" />
  </div>
  <!-- end page -->
  <!-- start footer -->
  <div id="footer">
   <p class="legal">
    &copy;2007 CityLights. All Rights Reserved.
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    &nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Icons by
    <a href="http://famfamfam.com/">
     FAMFAMFAM
    </a>
    .
   </p>
  </div>
  <!-- end footer -->
 </body>
</html>
