<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Clarity/css/1.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <h3>
    A CSS / XHTML Template by Six Shooter Media
   </h3>
   <ul id="nav">
    <li>
     <a href="#">
      Link Here
     </a>
    </li>
    <li>
     <a href="#" class="active">
      Active Link
     </a>
    </li>
    <li>
     <a href="#">
      Link Here
     </a>
    </li>
    <li>
     <a href="#">
      Link Here
     </a>
    </li>
    <li>
     <a href="#">
      Link Here
     </a>
    </li>
    <li>
     <a href="#">
      Link Here
     </a>
    </li>
   </ul>
  </div>
  <div id="container">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="sidebar">
    <h3>
     About
    </h3>
    <p class="about">
     A small paragraph can go here describing your site; what it is here for, long term goals etc. Go nuts!
    </p>
    <h3>
     Links
    </h3>
    <ul>
     <li>
      <a href="http://www.sixshootermedia.com">
       <span>
        &raquo;
       </span>
       Six Shooter Media
      </a>
     </li>
     <li>
      <a href="http://www.sixshootermedia.com/free-templates/">
       <span>
        &raquo;
       </span>
       Free Templates
      </a>
     </li>
     <li>
      <a href="http://www.opendesigns.org">
       <span>
        &raquo;
       </span>
       Open Designs
      </a>
     </li>
     <li>
      <a href="http://www.google.com">
       <span>
        &raquo;
       </span>
       Google
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div id="footer">
   <p class="validate">
    <a href="http://validator.w3.org/check?uri=referer">
     XHTML
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/">
     CSS
    </a>
    <br />
    <a href="#content">
     Top
    </a>
   </p>
   <!-- Please leave this line intact -->
   <p>
    Template design by
    <a href="http://www.sixshootermedia.com">
     Six Shooter Media
    </a>
    .
    <br />
    <!-- you can delete below here -->
    © All your copyright information here.
   </p>
  </div>
  <script type="text/javascript">
   //<![CDATA[
/* Replacement calls. Please see documentation for more information. */

if(typeof sIFR == "function"){


// This is the older, ordered syntax

	sIFR.replaceElement("h1", "sifr/cronos_pro.swf", "#000000", null, null, null, 0, 0, 0, 0);
	sIFR.replaceElement("h2", "sifr/cronos_pro.swf", "#000000", null, null, null, 0, 0, 0, 0);
	sIFR.replaceElement("#content h3", "sifr/cronos_pro.swf", "#6BCB25", null, null, null, 0, 0, 0, 0);
	sIFR.replaceElement("#sidebar h3", "sifr/cronos_pro.swf", "#000000", null, null, null, 0, 0, 0, 0);


};

//]]>
  </script>
 </body>
</html>