<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/CoffeeNCream/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div class="container">
   <div class="header">
    <div class="title">
     <h1>
      {{=response.title or request.application}}
     </h1>
    </div>
   </div>
   <div class="navigation">
    <a href="index.html">
     Vestibulum
    </a>
    <a href="index.html">
     Suspendisse
    </a>
    <a href="index.html">
     Elemen
    </a>
    <a href="index.html">
     Maecenas
    </a>
    <a href="index.html">
     Sodales
    </a>
    <div class="clearer">
     <span>
     </span>
    </div>
   </div>
   <div class="main">
    <div class="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <div class="sidenav">
     <h1>
      Something
     </h1>
     <ul>
      <li>
       <a href="index.html">
        pellentesque
       </a>
      </li>
      <li>
       <a href="index.html">
        sociis natoque
       </a>
      </li>
      <li>
       <a href="index.html">
        semper
       </a>
      </li>
      <li>
       <a href="index.html">
        convallis
       </a>
      </li>
     </ul>
     <h1>
      Another thing
     </h1>
     <ul>
      <li>
       <a href="index.html">
        consequat molestie
       </a>
      </li>
      <li>
       <a href="index.html">
        sem justo
       </a>
      </li>
      <li>
       <a href="index.html">
        semper
       </a>
      </li>
      <li>
       <a href="index.html">
        sociis natoque
       </a>
      </li>
     </ul>
     <h1>
      Third and last
     </h1>
     <ul>
      <li>
       <a href="index.html">
        sociis natoque
       </a>
      </li>
      <li>
       <a href="index.html">
        magna sed purus
       </a>
      </li>
      <li>
       <a href="index.html">
        tincidunt
       </a>
      </li>
      <li>
       <a href="index.html">
        consequat molestie
       </a>
      </li>
     </ul>
    </div>
    <div class="clearer">
     <span>
     </span>
    </div>
   </div>
   <div class="footer">
    &copy; 2006
    <a href="index.html">
     Website.com
    </a>
    . Valid
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
     CSS
    </a>
    &amp;
    <a href="http://validator.w3.org/check?uri=referer">
     XHTML
    </a>
    . Template design by
    <a href="http://arcsin.se">
     Arcsin
    </a>
   </div>
  </div>
 </body>
</html>