<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/ColdDay/main.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <br />
    <h1>
     {{=response.title or request.application}}
    </h1>
    <br />
    <br />
    <br />
    <br />
    <div id="tabs">
     <ul>
      <li id="current">
       <a href="#">
        <span>
         Home
        </span>
       </a>
      </li>
      <li>
       <a href="#">
        <span>
         Products
        </span>
       </a>
      </li>
      <li>
       <a href="#">
        <span>
         Services
        </span>
       </a>
      </li>
      <li>
       <a href="#">
        <span>
         Support
        </span>
       </a>
      </li>
      <li>
       <a href="#">
        <span>
         About
        </span>
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div id="mainCell">
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
   </div>
   <div id="footer">
    <span style="color:#767B7F">
     Copyright your name, Design by Bryan Lass,
     <a href="http://www.idavista.com">
      IdaVista
     </a>
     Inc.
     <br />
    </span>
    <a href="http://validator.w3.org/check?uri=referer">
     <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
    </a>
   </div>
  </div>
 </body>
</html>