<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Collaboration
Description: A two-column, fixed-width design suitable for small websites and blogs.
Version    : 1.0
Released   : 20080102

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Collaboration/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="menu">
   {{=MENU(response.menu)}}
  </div>
  <div id="logo">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <h2>
    {{=response.subtitle or '=response.subtitle'}}
   </h2>
  </div>
  <div id="splash">
   <img src="images/img05.jpg" alt="" />
  </div>
  <hr />
  <div id="page">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end #content -->
   <div id="sidebar">
    <ul>
     <li id="search">
      <h2>
       Search
      </h2>
      <form id="searchform" method="get" action="">
       <div>
        <input type="text" name="s" id="s" size="15" />
        <br />
        <input name="submit" type="submit" value="Search" />
       </div>
      </form>
     </li>
     <li>
      <h2>
       Veroeros etiam
      </h2>
      <p>
       <strong>
        Morbi sit amet
       </strong>
       mauris Nam vitae nibh eu sapien dictum pharetra. Vestibulum elementum neque vel lacus. Proin auctor dolor loremmassa. Phasellus sit.
       <a href="#">
        More&hellip;
       </a>
      </p>
     </li>
     <li>
      <h2>
       Blandit Volutpat
      </h2>
      <ul>
       <li>
        <a href="#">
         Morbi sit amet sed magna
        </a>
       </li>
       <li>
        <a href="#">
         Lacus dapibus interdum
        </a>
       </li>
       <li>
        <a href="#">
         Donec pede nisl dolore sed
        </a>
       </li>
       <li>
        <a href="#">
         Lacus dapibus et interdum
        </a>
       </li>
       <li>
        <a href="#">
         Morbi sit amet magna  etiam
        </a>
       </li>
       <li>
        <a href="#">
         Maecenas sed sem lorem
        </a>
       </li>
       <li>
        <a href="#">
         Lacus dapibus interdum
        </a>
       </li>
       <li>
        <a href="#">
         Donec pede nisl dolore
        </a>
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end #sidebar -->
  </div>
  <!-- end #page -->
  <div id="footer">
   <p>
    (c) 2007 Website Name. Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
  </div>
 </body>
</html>
