<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
 <head profile="http://gmpg.org/xfn/11">
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Colorvoid/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="layout_wrapper">
   <div id="layout_edgetop">
   </div>
   <div id="layout_container">
    <div id="site_title">
     <h1 class="left">
      {{=response.title or request.application}}
     </h1>
     <h2 class="right">
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
     <div class="clearer">
      &nbsp;
     </div>
    </div>
    <div id="top_separator">
    </div>
    <div id="navigation">
     <div id="tabs">
      <ul>
       <li class="current_page_item">
        <a href="index.html">
         <span>
          Posts page
         </span>
        </a>
       </li>
       <li>
        <a href="comments.html">
         <span>
          Post comments
         </span>
        </a>
       </li>
       <li>
        <a href="page.html">
         <span>
          Sample test page
         </span>
        </a>
       </li>
       <li>
        <a href="archives.html">
         <span>
          Archives
         </span>
        </a>
       </li>
       <li>
        <a href="empty.html">
         <span>
          Empty page
         </span>
        </a>
       </li>
      </ul>
      <div class="clearer">
       &nbsp;
      </div>
     </div>
    </div>
    <div class="spacer h5">
    </div>
    <div id="main">
     <div class="left" id="main_left">
      <div id="main_left_content">
       <div class="post">
        <div class="post_title">
         <h1 class="left">
          <a href="#">
           Porttitor posuere
          </a>
         </h1>
         <div class="post_date right">
          April 13th, 2008
         </div>
         <div class="clearer">
          &nbsp;
         </div>
        </div>
        <div class="post_body">
         <p>
          In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor. In bibendum. Aenean ornare,
          <a href="index.html">
           nunc eget pretium
          </a>
          porttitor, sem est pretium leo, non euismod nulla dui non diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est.
         </p>
         <blockquote>
          <p>
           Sed sodales nisl sit amet augue. Donec ultrices, augue ullamcorper posuere laoreet, turpis massa tristique justo, sed egestas metus magna sed purus.
          </p>
         </blockquote>
         <h2>
          Sollicitudin
         </h2>
         <p>
          Aliquam risus justo, mollis in, laoreet a, consectetuer nec, risus. Nunc blandit sodales lacus. Nam luctus semper mi. In eu diam.
         </p>
         <p>
          Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus. Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis
          <a href="index.html">
           quam aliquam
          </a>
          risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.
         </p>
         <div class="post_metadata">
          <div class="content">
           <div class="flash">{{=response.flash or ''}}</div>
           {{include}}
          </div>
         </div>
        </div>
        <div class="post_bottom">
        </div>
       </div>
       <div class="post">
        <div class="post_title">
         <h1 class="left">
          <a href="#">
           Adipiscing
          </a>
         </h1>
         <div class="post_date right">
          March 10th, 2008
         </div>
         <div class="clearer">
          &nbsp;
         </div>
        </div>
        <div class="post_body">
         <p>
          Aliquam risus justo, mollis in, laoreet a, consectetuer nec, risus. Nunc blandit sodales lacus. Nam luctus semper mi.
         </p>
         <ul>
          <li>
           Tristique
          </li>
          <li>
           Aenean
          </li>
          <li>
           Pretium
          </li>
         </ul>
         <p>
          In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor. In bibendum. Aenean ornare, nunc eget pretium porttitor, sem est pretium leo, non euismod nulla dui non diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est.
         </p>
         <div class="post_metadata">
          <div class="content">
           <div class="left">
            Posted in
            <a href="#">
             Vestibulum
            </a>
            , tagged:
            <a href="#">
             diam
            </a>
            ,
            <a href="#">
             vulputate
            </a>
            ,
            <a href="#">
             platea
            </a>
           </div>
           <div class="right">
            <span class="comment">
             <a href="#">
              11 Comments
             </a>
            </span>
           </div>
           <div class="clearer">
            &nbsp;
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="pagenavigation">
        <div class="pagenav">
         <div class="left">
          <a href="#">
           &laquo; Older Entries
          </a>
         </div>
         <div class="right">
         </div>
         <div class="clearer">
          &nbsp;
         </div>
        </div>
        <div class="pagenav_bottom">
        </div>
       </div>
      </div>
     </div>
     <div class="right" id="main_right">
      <div id="sidebar">
       <div class="box">
        <div class="box_title">
         Search
        </div>
        <div class="box_body">
         <form method="get" id="searchform" action="#">
          <div>
           <table class="search">
            <tr>
             <td>
              <input type="text" value="" name="s" id="s" />
             </td>
             <td style="padding-left: 10px">
              <input type="image" src="img/button_go.gif" />
             </td>
            </tr>
           </table>
          </div>
         </form>
        </div>
        <div class="box_bottom">
        </div>
       </div>
       <div class="box">
        <div class="box_title">
         Archives
        </div>
        <div class="box_body">
         <ul>
          <li>
           <a href="#">
            December 2007
           </a>
           (5)
          </li>
          <li>
           <a href="#">
            June 2007
           </a>
           (2)
          </li>
          <li>
           <a href="#">
            May 2007
           </a>
           (6)
          </li>
          <li>
           <a href="#">
            March 2007
           </a>
           (12)
          </li>
          <li>
           <a href="#">
            February 2007
           </a>
           (8)
          </li>
          <li>
           <a href="#">
            May 2007
           </a>
           (10)
          </li>
         </ul>
        </div>
        <div class="box_bottom">
        </div>
       </div>
       <div class="box">
        <div class="box_title">
         Categories
        </div>
        <div class="box_body">
         <ul>
          <li>
           <a href="#">
            Single Column
           </a>
           (5)
          </li>
          <li>
           <a href="#">
            Three Columns
           </a>
           (2)
          </li>
          <li>
           <a href="#">
            Two Columns
           </a>
           (14)
          </li>
         </ul>
        </div>
        <div class="box_bottom">
        </div>
       </div>
       <div class="box">
        <div class="box_title">
         Links
        </div>
        <div class="box_body">
         <ul>
          <li>
           <a href="http://templates.arcsin.se/category/blogger-templates/">
            Blogger Templates
           </a>
          </li>
          <li>
           <a href="http://templates.arcsin.se/category/joomla-templates/">
            Joomla Templates
           </a>
          </li>
          <li>
           <a href="http://templates.arcsin.se/professional-templates/">
            Professional Templates
           </a>
          </li>
          <li>
           <a href="http://templates.arcsin.se/category/website-templates/">
            Website Templates
           </a>
          </li>
          <li>
           <a href="http://templates.arcsin.se/category/wordpress-themes/">
            Wordpress Themes
           </a>
          </li>
         </ul>
        </div>
        <div class="box_bottom">
        </div>
       </div>
       <div class="box">
        <div class="box_title">
         Textbox
        </div>
        <div class="box_body p10">
         A box with some text.
        </div>
        <div class="box_bottom">
        </div>
       </div>
      </div>
     </div>
     <div class="clearer">
      &nbsp;
     </div>
    </div>
    <div id="footer">
     <div class="left">
      &#169; 2008 Website name
     </div>
     <div class="right">
      <a href="http://templates.arcsin.se/">
       Website template
      </a>
      by
      <a href="http://arcsin.se/">
       Arcsin
      </a>
     </div>
     <div class="clearer">
      &nbsp;
     </div>
    </div>
   </div>
   <div id="layout_edgebottom">
   </div>
  </div>
 </body>
</html>