<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Compressed 
Description: A three-column, fixed-width template fit for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20080524

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Compressed/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="logo">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <h2>
    {{=response.subtitle or '=response.subtitle'}}
   </h2>
  </div>
  <!-- end #header -->
  <div id="page">
   <!-- start sidebar1 -->
   <div id="sidebar1" class="sidebar">
    <ul>
     <li id="search">
      <h2>
       Search
      </h2>
      <form id="searchform" method="get" action="">
       <div>
        <input type="text" name="s" id="s" size="15" />
        <br />
        <input name="submit" type="submit" value="Search" />
       </div>
      </form>
     </li>
     <li>
      <h2>
       Categories
      </h2>
      <ul>
       <li>
        <a href="#" title="View all posts filed under Uncategorized">
         Uncategorized
        </a>
        (3)
       </li>
       <li>
        <a href="#" title="View all posts filed under Lorem Ipsum">
         Lorem Ipsum
        </a>
        (42)
       </li>
       <li>
        <a href="#" title="View all posts filed under Urna Congue Rutrum">
         Urna Congue Rutrum
        </a>
        (28)
       </li>
       <li>
        <a href="#" title="View all posts filed under Augue Praesent">
         Augue Praesent
        </a>
        (55)
       </li>
       <li>
        <a href="#" title="View all posts filed under Vivamus Fermentum">
         Vivamus Fermentum
        </a>
        (13)
       </li>
      </ul>
     </li>
     <li id="archives">
      <h2>
       Archives
      </h2>
      <ul>
       <li>
        <a href="#">
         November 2007
        </a>
        &nbsp;(24)
       </li>
       <li>
        <a href="#">
         October 2007
        </a>
        &nbsp;(31)
       </li>
       <li>
        <a href="#">
         September 2007
        </a>
        &nbsp;(30)
       </li>
       <li>
        <a href="#">
         August 2007
        </a>
        &nbsp;(31)
       </li>
       <li>
        <a href="#">
         July 2007
        </a>
        &nbsp;(31)
       </li>
       <li>
        <a href="#">
         June 2007
        </a>
        &nbsp;(30)
       </li>
       <li>
        <a href="#">
         May 2007
        </a>
        &nbsp;(31)
       </li>
       <li>
        <a href="#">
         April 2007
        </a>
        &nbsp;(30)
       </li>
       <li>
        <a href="#">
         March 2007
        </a>
        &nbsp;(31)
       </li>
       <li>
        <a href="#">
         February 2007
        </a>
        &nbsp;(28)
       </li>
       <li>
        <a href="#">
         January 2007
        </a>
        &nbsp;(31)
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end sidebar1 -->
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start sidebar2 -->
   <div id="sidebar2" class="sidebar">
    <ul>
     <li id="recent-posts">
      <h2>
       Recent Posts
      </h2>
      <ul>
       <li>
        <h3>
         <a href="#">
          Aliquam Libero
         </a>
        </h3>
        <p>
         Nullam  ante orci, eget, tempus quis, ultrices in, est. Curabitur sit amet  nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel,  suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque  imperdiet.
         <a href="#">
          More&hellip;
         </a>
        </p>
       </li>
       <li>
        <h3>
         <a href="#">
          Semper Vestibulum
         </a>
        </h3>
        <p>
         Donec  leo, vivamus fermentum nibh in augue praesent a lacus at urna congue  rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum  id, congue, and nibh.
         <a href="#">
          More&hellip;
         </a>
        </p>
       </li>
       <li>
        <h3>
         <a href="#">
          Etiam Malesuada
         </a>
        </h3>
        <p>
         Donec  leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue  rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh.
         <a href="#">
          More&hellip;
         </a>
        </p>
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end sidebar2 -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p class="legal">
    &copy;2007 All Rights Reserved. Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
  </div>
 </body>
</html>
