<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Compromise
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20081103

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Compromise/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     design by
     <a href="http://www.freecsstemplates.org/">
      Free CSS Templates
     </a>
    </p>
   </div>
  </div>
  <!-- end #header -->
  <div id="menu">
   {{=MENU(response.menu)}}
  </div>
  <!-- end #menu -->
  <div id="wrapper">
   <div class="btm">
    <div id="page">
     <div id="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
     <!-- end #content -->
     <div id="sidebar">
      <ul>
       <li>
        <h2>
         Aliquam tempus
        </h2>
        <p>
         Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper urna ornare consectetuer hendrerit.
        </p>
       </li>
       <li>
        <h2>
         Categories
        </h2>
        <ul>
         <li>
          <a href="#">
           Uncategorized
          </a>
          (3)
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
         <li>
          <a href="#">
           Lorem Ipsum
          </a>
          (42)
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
         <li>
          <a href="#">
           Urna Congue Rutrum
          </a>
          (28)
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
         <li>
          <a href="#">
           Vivamus Fermentum
          </a>
          (13)
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
        </ul>
       </li>
       <li>
        <h2>
         Blogroll
        </h2>
        <ul>
         <li>
          <a href="#">
           Phasellus Pellentesque
          </a>
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
         <li>
          <a href="#">
           Consectetuer Adipiscing
          </a>
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
         <li>
          <a href="#">
           Urna Congue Rutrum
          </a>
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
         <li>
          <a href="#">
           Phasellus Pellentesque
          </a>
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
         <li>
          <a href="#">
           Urna Congue Rutrum
          </a>
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
        </ul>
       </li>
       <li>
        <h2>
         Archives
        </h2>
        <ul>
         <li>
          <a href="#">
           December 2007
          </a>
          &nbsp;(29)
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
         <li>
          <a href="#">
           November 2007
          </a>
          &nbsp;(30)
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
         <li>
          <a href="#">
           October 2007
          </a>
          &nbsp;(31)
          <span>
           Lorem Ipsum Dolor Sit Amit
          </span>
         </li>
        </ul>
       </li>
      </ul>
     </div>
     <!-- end #sidebar -->
     <div style="clear: both;">
      &nbsp;
     </div>
    </div>
    <!-- end #page -->
   </div>
  </div>
  <div id="footer">
   <p>
    Copyright (c) 2008 Sitename.com. All rights reserved. Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
  </div>
  <!-- end #footer -->
 </body>
</html>
