<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Contaminated/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div class="wrapper">
   <div class="container">
    <div class="main">
     <div class="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
     <div class="sidenav">
      <h2>
       Something
      </h2>
      <ul>
       <li>
        <a href="index.html">
         pellentesque
        </a>
       </li>
       <li>
        <a href="index.html">
         sociis natoque
        </a>
       </li>
       <li>
        <a href="index.html">
         semper
        </a>
       </li>
       <li>
        <a href="index.html">
         convallis
        </a>
       </li>
      </ul>
      <h2>
       Another thing
      </h2>
      <ul>
       <li>
        <a href="index.html">
         consequat molestie
        </a>
       </li>
       <li>
        <a href="index.html">
         sem justo
        </a>
       </li>
       <li>
        <a href="index.html">
         semper
        </a>
       </li>
       <li>
        <a href="index.html">
         sociis natoque
        </a>
       </li>
      </ul>
      <h2>
       Third and last
      </h2>
      <ul>
       <li>
        <a href="index.html">
         sociis natoque
        </a>
       </li>
       <li>
        <a href="index.html">
         magna sed purus
        </a>
       </li>
       <li>
        <a href="index.html">
         tincidunt
        </a>
       </li>
       <li>
        <a href="index.html">
         consequat molestie
        </a>
       </li>
      </ul>
     </div>
     <div class="clearer">
     </div>
    </div>
    <div class="footer">
     <span class="left">
      &copy; 2007
      <a href="index.html">
       Website.com
      </a>
      . Valid
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
       CSS
      </a>
      &amp;
      <a href="http://validator.w3.org/check?uri=referer">
       XHTML
      </a>
     </span>
     <span class="right">
      <a href="http://templates.arcsin.se">
       Website template
      </a>
      by
      <a href="http://arcsin.se">
       Arcsin
      </a>
     </span>
     <div class="clearer">
      <span>
      </span>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>