<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Css2//favicon.png'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Css2/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- default margin = default layout -->
  <div id="header">
   <a href="#">
    your site.com
   </a>
   <div id="slogan">
    your slogan.
   </div>
  </div>
  <div id="nav">
   {{=MENU(response.menu)}}
  </div>
  <div id="main">
   <div class="flash">{{=response.flash or ''}}</div>
   {{include}}
  </div>
  <div id="footer">
   <a href="http://jigsaw.w3.org/css-validator/check/referer">
    Valid Css
   </a>
   and
   <a href="http://validator.w3.org/check?uri=referer">
    Valid Xhtml
   </a>
   © 2006-2007 yoursite.com  .Template design by Ace @
   <a href="http://www.xeonfx.com">
    Xeonfx.com
   </a>
  </div>
 </body>
</html>