<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/design106a/style/style106_right.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/design106a/style/colour2.css'))}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
  {{include 'web2py_ajax.html'}}
 </head>
 <body>
  <div id="main">
   <div id="links">
    <!-- **** INSERT LINKS HERE **** -->
    <a href="#">
     another link
    </a>
    |
    <a href="#">
     another link
    </a>
    |
    <a href="#">
     another link
    </a>
    |
    <a href="#">
     another link
    </a>
   </div>
   <div id="logo">
    <h1>
     TEMPLATE HEADING GOES HERE
    </h1>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    &copy; 2006 your name |
    <a href="#">
     email@emailaddress
    </a>
    |
    <a href="http://validator.w3.org/check?uri=referer">
     XHTML 1.1
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
     CSS
    </a>
    |
    <a href="http://www.dcarter.co.uk">
     design by dcarter
    </a>
   </div>
  </div>
 </body>
</html>
