<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Embouteillage
Version    : 1.0
Released   : 200800204
Description: Three-column blog design with the third column allocated for ads. Features Web 2.0 design ideal for 1024x768 resolutions.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Embouteillage/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- start header -->
  <div id="wrapper">
   <div id="header">
    <div id="logo">
     <h1>
      {{=response.title or request.application}}
     </h1>
     <p>
      <a href="http://www.freecsstemplates.org/">
       By Free CSS Templates
      </a>
     </p>
    </div>
    <div id="rss">
     <a href="#">
      Subscribe to RSS Feed
     </a>
    </div>
    <div id="search">
     <form id="searchform" method="get" action="">
      <fieldset>
       <input type="text" name="s" id="s" size="15" value="" />
       <input type="submit" id="x" value="Search" />
      </fieldset>
     </form>
    </div>
   </div>
   <!-- end header -->
   <!-- star menu -->
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
   <!-- end menu -->
   <!-- start page -->
   <div id="page">
    <!-- start ads -->
    <div id="ads">
     <a href="#">
      <img src="images/ad160x600.gif" alt="" width="160" height="600" />
     </a>
    </div>
    <!-- end ads -->
    <!-- start content -->
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <!-- end content -->
    <!-- start sidebar -->
    <div id="sidebar">
     <ul>
      <li id="categories">
       <h2>
        Categories
       </h2>
       <ul>
        <li>
         <a href="#">
          Lorem Ipsum
         </a>
         (1)
        </li>
        <li>
         <a href="#">
          Uncategorized
         </a>
         (4)
        </li>
       </ul>
      </li>
      <li id="calendar">
       <h2>
        Calendar
       </h2>
       <div id="calendar_wrap">
        <table id="wp-calendar" summary="Calendar">
         <caption>
          August 2007
         </caption>
         <thead>
          <tr>
           <th abbr="Monday" scope="col" title="Monday">
            M
           </th>
           <th abbr="Tuesday" scope="col" title="Tuesday">
            T
           </th>
           <th abbr="Wednesday" scope="col" title="Wednesday">
            W
           </th>
           <th abbr="Thursday" scope="col" title="Thursday">
            T
           </th>
           <th abbr="Friday" scope="col" title="Friday">
            F
           </th>
           <th abbr="Saturday" scope="col" title="Saturday">
            S
           </th>
           <th abbr="Sunday" scope="col" title="Sunday">
            S
           </th>
          </tr>
         </thead>
         <tfoot>
          <tr>
           <td abbr="July" colspan="3" id="prev">
            <a href="#">
             &laquo; Jul
            </a>
           </td>
           <td class="pad">
            &nbsp;
           </td>
           <td abbr="September" colspan="3" id="next" class="pad">
            <a href="#">
             Sep &raquo;
            </a>
           </td>
          </tr>
         </tfoot>
         <tbody>
          <tr>
           <td colspan="2" class="pad">
            &nbsp;
           </td>
           <td>
            1
           </td>
           <td>
            2
           </td>
           <td>
            3
           </td>
           <td>
            4
           </td>
           <td>
            5
           </td>
          </tr>
          <tr>
           <td>
            6
           </td>
           <td>
            7
           </td>
           <td>
            8
           </td>
           <td>
            9
           </td>
           <td>
            10
           </td>
           <td>
            11
           </td>
           <td>
            12
           </td>
          </tr>
          <tr>
           <td>
            13
           </td>
           <td>
            14
           </td>
           <td>
            15
           </td>
           <td>
            16
           </td>
           <td>
            17
           </td>
           <td>
            18
           </td>
           <td>
            19
           </td>
          </tr>
          <tr>
           <td>
            20
           </td>
           <td id="today">
            21
           </td>
           <td>
            22
           </td>
           <td>
            23
           </td>
           <td>
            24
           </td>
           <td>
            25
           </td>
           <td>
            26
           </td>
          </tr>
          <tr>
           <td>
            27
           </td>
           <td>
            28
           </td>
           <td>
            29
           </td>
           <td>
            30
           </td>
           <td>
            31
           </td>
           <td class="pad" colspan="2">
            &nbsp;
           </td>
          </tr>
         </tbody>
        </table>
       </div>
      </li>
      <li>
       <h2>
        Lorem Ipsum Dolor
       </h2>
       <ul>
        <li>
         <a href="#">
          Nulla luctus eleifend purus
         </a>
        </li>
        <li>
         <a href="#">
          Praesent  scelerisque erat
         </a>
        </li>
        <li>
         <a href="#">
          Ut nonummy rutrum semuot
         </a>
        </li>
        <li>
         <a href="#">
          Pellentesque  quam quis nulla
         </a>
        </li>
        <li>
         <a href="#">
          Fusce ultrices fringilla metus
         </a>
        </li>
        <li>
         <a href="#">
          Praesent  condimentum nisl
         </a>
        </li>
       </ul>
      </li>
      <li>
       <h2>
        Ultrices Fringilla Metus
       </h2>
       <ul>
        <li>
         <a href="#">
          Nulla luctus eleifend purus
         </a>
        </li>
        <li>
         <a href="#">
          Praesent  scelerisque erat
         </a>
        </li>
        <li>
         <a href="#">
          Ut nonummy rutrum semuot
         </a>
        </li>
        <li>
         <a href="#">
          Pellentesque  quam quis nulla
         </a>
        </li>
        <li>
         <a href="#">
          Fusce ultrices fringilla metus
         </a>
        </li>
        <li>
         <a href="#">
          Praesent  condimentum nisl
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </div>
    <!-- end sidebar -->
   </div>
   <!-- end page -->
   <!-- start footer -->
   <div id="footer">
    <p class="legal">
     &copy;2007 Embouteillage. All Rights Reserved.
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by
     <a href="http://www.freecsstemplates.org/">
      Free CSS Templates
     </a>
     &nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Icons by
     <a href="http://famfamfam.com/">
      FAMFAMFAM
     </a>
     .
    </p>
    <p class="links">
     <a href="http://validator.w3.org/check/referer" class="xhtml" title="This page validates as XHTML">
      Valid
      <abbr title="eXtensible HyperText Markup Language">
       XHTML
      </abbr>
     </a>
     &nbsp;&bull;&nbsp;
     <a href="http://jigsaw.w3.org/css-validator/check/referer" class="css" title="This page validates as CSS">
      Valid
      <abbr title="Cascading Style Sheets">
       CSS
      </abbr>
     </a>
    </p>
   </div>
  </div>
  <!-- end footer -->
 </body>
</html>
