<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Experience
Description: A three-column, fixed-width design with fluid header and footer.
Version    : 1.0
Released   : 20071009

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Experience/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- start header -->
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     By Free CSS Templates
    </p>
   </div>
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="page">
   <!-- start leftbar -->
   <div id="leftbar" class="sidebar">
    <ul>
     <li>
      <h2>
       {{=response.subtitle or '=response.subtitle'}}
      </h2>
      <ul>
       <li>
        <a href="#">
         Aliquam libero
        </a>
       </li>
       <li>
        <a href="#">
         Consectetuer elit
        </a>
       </li>
       <li>
        <a href="#">
         Metus aliquam
        </a>
       </li>
       <li>
        <a href="#">
         Suspendisse mauris
        </a>
       </li>
       <li>
        <a href="#">
         Urnanet non semper
        </a>
       </li>
       <li>
        <a href="#">
         Proin porttitor
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Archives
      </h2>
      <ul>
       <li>
        <a href="#">
         Aliquam libero
        </a>
       </li>
       <li>
        <a href="#">
         Consectetuer elit
        </a>
       </li>
       <li>
        <a href="#">
         Metus aliquam
        </a>
       </li>
       <li>
        <a href="#">
         Suspendisse mauris
        </a>
       </li>
       <li>
        <a href="#">
         Urnanet non semper
        </a>
       </li>
       <li>
        <a href="#">
         Proin porttitor
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Aliquam
      </h2>
      <ul>
       <li>
        <a href="#">
         Aliquam libero
        </a>
       </li>
       <li>
        <a href="#">
         Consectetuer elit
        </a>
       </li>
       <li>
        <a href="#">
         Metus aliquam
        </a>
       </li>
       <li>
        <a href="#">
         Suspendisse mauris
        </a>
       </li>
       <li>
        <a href="#">
         Urnanet non semper
        </a>
       </li>
       <li>
        <a href="#">
         Proin porttitor
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Urnanet
      </h2>
      <ul>
       <li>
        <a href="#">
         Aliquam libero
        </a>
       </li>
       <li>
        <a href="#">
         Consectetuer elit
        </a>
       </li>
       <li>
        <a href="#">
         Metus aliquam
        </a>
       </li>
       <li>
        <a href="#">
         Suspendisse mauris
        </a>
       </li>
       <li>
        <a href="#">
         Urnanet non semper
        </a>
       </li>
       <li>
        <a href="#">
         Proin porttitor
        </a>
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end leftbar -->
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start rightbar -->
   <div id="rightbar" class="sidebar">
    <ul>
     <li>
      <form id="searchform" method="get" action="#">
       <div>
        <input type="text" name="s" id="s" size="15" value="" />
        <br />
        <input type="submit" value="Search" />
       </div>
      </form>
     </li>
     <li>
      <h2>
       Tags
      </h2>
      <a href="#">
       dolor
      </a>
      <a href="#">
       ipsum
      </a>
      <a href="#">
       lorem
      </a>
      <a href="#">
       sit amet
      </a>
      <a href="#">
       dolor
      </a>
      <a href="#">
       ipsum
      </a>
      <a href="#">
       lorem
      </a>
      <a href="#">
       sit amet
      </a>
     </li>
     <li>
      <h2>
       Recent Posts
      </h2>
      <ul>
       <li>
        <a href="#">
         Aliquam libero
        </a>
       </li>
       <li>
        <a href="#">
         Consectetuer adipiscing elit
        </a>
       </li>
       <li>
        <a href="#">
         Metus aliquam pellentesque
        </a>
       </li>
       <li>
        <a href="#">
         Suspendisse iaculis mauris
        </a>
       </li>
       <li>
        <a href="#">
         Urnanet non molestie semper
        </a>
       </li>
       <li>
        <a href="#">
         Proin gravida orci porttitor
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Recent Comments
      </h2>
      <ul>
       <li>
        <a href="#">
         Free CSS Templates
        </a>
        on
        <a href="#">
         Aliquam libero
        </a>
       </li>
       <li>
        <a href="#">
         Free CSS Templates
        </a>
        on
        <a href="#">
         Consectetuer adipiscing elit
        </a>
       </li>
       <li>
        <a href="#">
         Free CSS Templates
        </a>
        on
        <a href="#">
         Metus aliquam pellentesque
        </a>
       </li>
       <li>
        <a href="#">
         Free CSS Templates
        </a>
        on
        <a href="#">
         Suspendisse iaculis mauris
        </a>
       </li>
       <li>
        <a href="#">
         Free CSS Templates
        </a>
        on
        <a href="#">
         Urnanet non molestie semper
        </a>
       </li>
       <li>
        <a href="#">
         Free CSS Templates
        </a>
        on
        <a href="#">
         Proin gravida orci porttitor
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Calendar
      </h2>
      <div id="calendar_wrap">
       <table summary="Calendar">
        <caption>
         October 2007
        </caption>
        <thead>
         <tr>
          <th abbr="Monday" scope="col" title="Monday">
           M
          </th>
          <th abbr="Tuesday" scope="col" title="Tuesday">
           T
          </th>
          <th abbr="Wednesday" scope="col" title="Wednesday">
           W
          </th>
          <th abbr="Thursday" scope="col" title="Thursday">
           T
          </th>
          <th abbr="Friday" scope="col" title="Friday">
           F
          </th>
          <th abbr="Saturday" scope="col" title="Saturday">
           S
          </th>
          <th abbr="Sunday" scope="col" title="Sunday">
           S
          </th>
         </tr>
        </thead>
        <tfoot>
         <tr>
          <td abbr="September" colspan="3" id="prev">
           <a href="#" title="View posts for September 2007">
            &laquo; Sep
           </a>
          </td>
          <td class="pad">
           &nbsp;
          </td>
          <td colspan="3" id="next">
           &nbsp;
          </td>
         </tr>
        </tfoot>
        <tbody>
         <tr>
          <td>
           1
          </td>
          <td>
           2
          </td>
          <td>
           3
          </td>
          <td id="today">
           4
          </td>
          <td>
           5
          </td>
          <td>
           6
          </td>
          <td>
           7
          </td>
         </tr>
         <tr>
          <td>
           8
          </td>
          <td>
           9
          </td>
          <td>
           10
          </td>
          <td>
           11
          </td>
          <td>
           12
          </td>
          <td>
           13
          </td>
          <td>
           14
          </td>
         </tr>
         <tr>
          <td>
           15
          </td>
          <td>
           16
          </td>
          <td>
           17
          </td>
          <td>
           18
          </td>
          <td>
           19
          </td>
          <td>
           20
          </td>
          <td>
           21
          </td>
         </tr>
         <tr>
          <td>
           22
          </td>
          <td>
           23
          </td>
          <td>
           24
          </td>
          <td>
           25
          </td>
          <td>
           26
          </td>
          <td>
           27
          </td>
          <td>
           28
          </td>
         </tr>
         <tr>
          <td>
           29
          </td>
          <td>
           30
          </td>
          <td>
           <a href="#">
            31
           </a>
          </td>
          <td class="pad" colspan="4">
           &nbsp;
          </td>
         </tr>
        </tbody>
       </table>
      </div>
     </li>
    </ul>
   </div>
   <!-- end rightbar -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <hr />
  <div id="footer">
   <p>
    &copy;2007 All Rights Reserved. &nbsp;&bull;&nbsp; Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
  </div>
 </body>
</html>
