<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/FemFlex1/style.css'))}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
  {{include 'web2py_ajax.html'}}
 </head>
 <body>
  <div id="header">
   <h1>
    Fem Flex 1
   </h1>
  </div>
  <div id="content">
   <div class="flash">{{=response.flash or ''}}</div>
   {{include}}
  </div>
  <div id="left">
   <h2>
    Our Sponsors
   </h2>
   <ul>
    <li>
     <a href="#">
      Link 1
     </a>
    </li>
    <li>
     <a href="#">
      Link 2
     </a>
    </li>
    <li>
     <a href="#">
      Link 3
     </a>
    </li>
    <li>
     <a href="#">
      Link 4
     </a>
    </li>
    <li>
     <a href="#">
      Link 5
     </a>
    </li>
   </ul>
   <p>
    Some text or news here
   </p>
  </div>
  <div id="right">
   <h2>
    Site Menu
   </h2>
   <ul>
    <li>
     <a href="#">
      Link 1
     </a>
    </li>
    <li>
     <a href="#">
      Link 2
     </a>
    </li>
    <li>
     <a href="#">
      Link 3
     </a>
    </li>
    <li>
     <a href="#">
      Link 4
     </a>
    </li>
    <li>
     <a href="#">
      Link 5
     </a>
    </li>
   </ul>
   <p>
    Some text or news here
   </p>
   <p>
    A centered image:
   </p>
   <img src="images/sample3.gif" alt="Sample Image" class="centered" />
  </div>
  <div id="footer">
   <p>
    Copyright&copy; 2006 Your Company. All Rights Reserved.
    <br />
    |&nbsp;XHTML template by
    <a href="http://www.karenblundell.com" target="blank">
     arwen54
    </a>
    &nbsp;|&nbsp;
    <a href="http://validator.w3.org/check?uri=referer" target="_blank">
     Valid XHTML
    </a>
    &nbsp;|&nbsp;
    <a href="http://jigsaw.w3.org/css-validator/" target="_blank">
     Valid CSS
    </a>
    &nbsp;|
   </p>
  </div>
 </body>
</html>