<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/FluidSolution/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div class="left">
   <div class="header">
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
   <div class="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
  </div>
  <div class="nav">
   {{=MENU(response.menu)}}
  </div>
  <div class="right">
   <div class="round">
    <div class="roundtl">
     <span>
     </span>
    </div>
    <div class="roundtr">
     <span>
     </span>
    </div>
    <div class="clearer">
     <span>
     </span>
    </div>
   </div>
   <div class="subnav">
    <h1>
     Something
    </h1>
    <ul>
     <li>
      <a href="index.html">
       pellentesque
      </a>
     </li>
     <li>
      <a href="index.html">
       sociis natoque
      </a>
     </li>
     <li>
      <a href="index.html">
       convallis
      </a>
     </li>
     <li>
      <a href="index.html">
       sociis natoque
      </a>
     </li>
    </ul>
    <h1>
     Another thing
    </h1>
    <ul>
     <li>
      <a href="index.html">
       consequat molestie
      </a>
     </li>
     <li>
      <a href="index.html">
       sem justo
      </a>
     </li>
     <li>
      <a href="index.html">
       semper
      </a>
     </li>
     <li>
      <a href="index.html">
       magna sed purus
      </a>
     </li>
     <li>
      <a href="index.html">
       tincidunt
      </a>
     </li>
    </ul>
    <h1>
     Third and last
    </h1>
    <ul>
     <li>
      <a href="index.html">
       sociis natoque
      </a>
     </li>
     <li>
      <a href="index.html">
       magna sed purus
      </a>
     </li>
     <li>
      <a href="index.html">
       tincidunt
      </a>
     </li>
     <li>
      <a href="index.html">
       sociis natoque
      </a>
     </li>
     <li>
      <a href="index.html">
       consequat molestie
      </a>
     </li>
     <li>
      <a href="index.html">
       sem justo
      </a>
     </li>
    </ul>
   </div>
   <div class="round">
    <div class="roundbl">
     <span>
     </span>
    </div>
    <div class="roundbr">
     <span>
     </span>
    </div>
    <span class="clearer">
    </span>
   </div>
  </div>
  <div class="footer">
   &copy; 2006
   <a href="index.html">
    Website.com
   </a>
   . Valid
   <a href="http://jigsaw.w3.org/css-validator/check/referer">
    CSS
   </a>
   &amp;
   <a href="http://validator.w3.org/check?uri=referer">
    XHTML
   </a>
   . Template design by
   <a href="http://arcsin.se">
    Arcsin
   </a>
  </div>
 </body>
</html>