<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/GenghisKahn/screen.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body id="bhome">
  <div id="container">
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
   <div id="navigation">
    <ul>
     <li id="home">
      <a href="#home" title="Home">
       Home
      </a>
     </li>
     <li id="about">
      <a href="#about" title="About">
       About Us
      </a>
     </li>
     <li id="contact">
      <a href="#contact" title="Contact">
       Contact Us
      </a>
     </li>
     <li id="blog">
      <a href="#blog" title="Blog">
       Our Blog
      </a>
     </li>
     <li id="news">
      <a href="#news" title="News">
       News
      </a>
     </li>
    </ul>
   </div>
   <div id="wrapper">
    <div id="content-wrapper">
     <div id="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
    </div>
    <div id="sidebar-wrapper">
     <div id="sidebar">
      <div class="searchBox">
       <form action="#" method="post" id="searchForm">
        <p>
         <input type="text" size="20" id="keywords" />
         <input type="submit" id="search" value="Search" />
        </p>
       </form>
      </div>
      <h2>
       Here's the Heading Again
      </h2>
      <ul>
       <li>
        This
       </li>
       <li>
        is
       </li>
       <li>
        an unordered
       </li>
       <li>
        list.
       </li>
      </ul>
      <h2>
       And Yet Another Heading
      </h2>
      <ol>
       <li>
        Whereas
       </li>
       <li>
        this
       </li>
       <li>
        is
       </li>
       <li>
        an ordered
       </li>
       <li>
        list.
       </li>
      </ol>
      <h1>
       Heading 1
      </h1>
      <h2>
       Heading 2
      </h2>
      <h3>
       Heading 3
      </h3>
      <h4>
       Heading 4
      </h4>
      <h5>
       Heading 5
      </h5>
      <h6>
       Heading 6
      </h6>
     </div>
    </div>
   </div>
   <div id="footer">
    <p>
     Copyright &copy; 1162 &ndash; 1227 Genghis Kahn and company. All rights reserved | 
				Destroying countries at people's expense since 1206 | Recently finished conquering
     <a href="http://validator.w3.org/check/referer" title="Xhtml 1.0 Strict">
      Xhtml
     </a>
     and
     <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Css 2.0 Strict">
      Css
     </a>
    </p>
   </div>
  </div>
 </body>
</html>