<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrapper">
   <div id="header">
    <h3>
     <a href="#">
      Ginger-esque
     </a>
    </h3>
   </div>
   <div id="sidebar">
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
    <ul>
     <li>
      <a href="http://www.ginger-ninja.net/" title="Home">
       Link 1
      </a>
     </li>
     <li>
      <a href="http://www.ginger-ninja.net/" title="Home">
       Link 2
      </a>
     </li>
     <li>
      <a href="http://www.ginger-ninja.net/" title="Home">
       Link 3
      </a>
     </li>
     <li>
      <a href="http://www.ginger-ninja.net/" title="Home">
       Link 4
      </a>
     </li>
    </ul>
    <h2>
     Recent Entries
    </h2>
    <ul>
     <li>
      <a href="#">
       New website design
      </a>
     </li>
     <li>
      <a href="#">
       Welcome
      </a>
     </li>
    </ul>
    <h2>
     Categories
    </h2>
    <ul>
     <li>
      <a href="#">
       General
      </a>
     </li>
     <li>
      <a href="#">
       News
      </a>
     </li>
     <li>
      <a href="#">
       Funny
      </a>
     </li>
    </ul>
    <h2>
     Links
    </h2>
    <ul>
     <li>
      <a href="#">
       Link 1
      </a>
     </li>
     <li>
      <a href="#">
       Link 2
      </a>
     </li>
     <li>
      <a href="#">
       Link 3
      </a>
     </li>
     <li>
      <a href="#">
       Link 4
      </a>
     </li>
    </ul>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
  </div>
  <div id="footer">
   <p>
    &copy; 2006 Your-Website.com |
    <a href="http://validator.w3.org/check/referer">
     XHTML
    </a>
    | Design by
    <a href="http://www.ginger-ninja.net/">
     Ginger Ninja!
    </a>
   </p>
  </div>
 </body>
</html>