<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/GoldenFall/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrapper">
   <div id="header">
    <h3>
     <a href="#">
      Golden Fall
     </a>
    </h3>
   </div>
   <div id="body">
    <div id="sidebar">
     <h2>
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
     <ul>
      <li>
       <a href="#">
        Link One
       </a>
      </li>
      <li>
       <a href="#">
        Link Two
       </a>
      </li>
      <li>
       <a href="#">
        Link Three
       </a>
      </li>
      <li>
       <a href="#">
        Link Four
       </a>
      </li>
      <li>
       <a href="#">
        Link Five
       </a>
      </li>
     </ul>
     <h2>
      Recent Entries
     </h2>
     <ul>
      <li>
       <a href="#">
        Golden Fall
       </a>
      </li>
      <li>
       <a href="#">
        Quick update!!
       </a>
      </li>
      <li>
       <a href="#">
        Hello world!
       </a>
      </li>
     </ul>
    </div>
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
   </div>
   <div id="footer">
    &copy; 2006 Your-Website.com |
    <a href="#">
     XHTML
    </a>
    | Design by
    <a href="http://www.ginger-ninja.net/">
     Ginger Ninja!
    </a>
   </div>
  </div>
 </body>
</html>
