<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/golf/styles.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrap">
   <div class="header">
    <div class="title">
     <h1>
      {{=response.title or request.application}}
     </h1>
     <h2>
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
    </div>
    <div class="nav">
     {{=MENU(response.menu)}}
    </div>
    <div class="clear">
    </div>
   </div>
   <div class="pagewrapper">
    <div class="innerpagewrapper">
     <div class="page">
      <div class="content">
       <div class="flash">{{=response.flash or ''}}</div>
       {{include}}
      </div>
      <div class="sidebar">
       <h4>
        About us
       </h4>
       <p>
        A little bit of information about your website, what you do, what's on offer and why visitors should stick around
       </p>
       <h4>
        Links
       </h4>
       <ul>
        <li>
         <a href="http://www.spyka.net" title="spyka Webmaster resources">
          spyka webmaster
         </a>
        </li>
        <li>
         <a href="http://www.justfreetemplates.com" title="free web templates">
          JustFreeTemplates
         </a>
        </li>
        <li>
         <a href="http://www.spyka.net/forums" title="webmaster forums">
          Webmaster forums
         </a>
        </li>
        <li>
         <a href="http://www.profileartist.net" title="premium templates">
          Premium templates
         </a>
        </li>
        <li>
         <a href="http://www.awesomestyles.com" title="free forum skins and templates">
          Forum resources
         </a>
        </li>
       </ul>
       <h4>
        Search
       </h4>
       <form action="#" method="get" class="searchform">
        <p>
         <input type="text" id="searchq" name="q" />
         <input type="submit" class="formbutton" value="Search" />
        </p>
       </form>
      </div>
      <div class="footer">
       <p>
        <a href="http://validator.w3.org/check/referer" title="valid XHTML">
         XHTML
        </a>
        |
        <a href="http://jigsaw.w3.org/css-validator/check/referer" title="valid CSS">
         CSS
        </a>
        &nbsp;&nbsp; &copy; YourWebsiteName. Design:
        <a href="http://www.spyka.net">
         spyka webmaster
        </a>
        |
        <a href="http://www.justfreetemplates.com">
         Free Web Templates
        </a>
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
