<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Grassy/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrapper">
   <div id="header">
    <div style="padding-top:35px;">
     <h3>
      <a href="#">
       <span class="title1">
        Ginger
       </span>
       <span class="title2">
        Ninja!
       </span>
      </a>
     </h3>
    </div>
    <div class="description">
     Web design &amp; Development
    </div>
   </div>
   <div id="nav">
    {{=MENU(response.menu)}}
   </div>
   <div id="sidebar">
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
    <ul>
     <li>
      <a href="#">
       New design
      </a>
     </li>
     <li>
      <a href="#">
       New design
      </a>
     </li>
     <li>
      <a href="#">
       New design
      </a>
     </li>
     <li>
      <a href="#">
       New design
      </a>
     </li>
    </ul>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <div id="footer-links">
     <a href="#">
      Home
     </a>
     &middot;
     <a href="#">
      Templates
     </a>
     &middot;
     <a href="#">
      Tutorials
     </a>
     &middot;
     <a href="#">
      About
     </a>
     &middot;
     <a href="#">
      Contact
     </a>
    </div>
    &copy; 2006 Your-Website.com |
    <a href="#">
     XHTML
    </a>
    <br />
    Design by
    <a href="http://www.ginger-ninja.net/">
     Ginger Ninja!
    </a>
   </div>
  </div>
 </body>
</html>
