<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <!-- 
This template was designed by Will Peavy - willpeavy.net
It is distributed under a Creative Commons License - http://creativecommons.org/licenses/by-sa/3.0/ 
You are free to use this design on your personal or commercial web site as long as you retain 'Site Design by Will Peavy' in the footer
-->
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/GreenSwish/styles.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="navigation">
    <a href="index.html" id="link1">
     Page 1
    </a>
    <a href="index.html" id="link2">
     Page 2
    </a>
    <a href="index.html" id="link3">
     Page 3
    </a>
    <a href="index.html" id="link4">
     Page 4
    </a>
    <a href="index.html" id="link5">
     Page 5
    </a>
    <a href="index.html" id="logo">
     yoursite.com
    </a>
   </div>
   <div id="stretch">
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <p>
     Site Design by
     <a href="http://willpeavy.net">
      Will Peavy
     </a>
     /
			Valid
     <a href="http://validator.w3.org/">
      XHTML
     </a>
     and
     <a href="http://jigsaw.w3.org/css-validator/">
      CSS
     </a>
     /
			Contents by
     <em>
      Your Name
     </em>
     , Copyright 2007
    </p>
   </div>
   <div id="cover">
   </div>
  </div>
 </body>
</html>
