<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/greg01/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
   <div id="menu-h">
    <ul>
     <li>
      <a href="#" class="active">
       one
      </a>
     </li>
     <li>
      <a href="#">
       two
      </a>
     </li>
     <li>
      <a href="#">
       three
      </a>
     </li>
    </ul>
   </div>
   <div id="main">
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <div id="menu-v">
     <h1>
      Navigate
     </h1>
     <ul>
      <li>
       <a href="#">
        eleven
       </a>
      </li>
      <li>
       <a href="#">
        twenty-two
       </a>
      </li>
      <li>
       <a href="#">
        thirty-three
       </a>
      </li>
      <li>
       <a href="#">
        fourty-four
       </a>
      </li>
      <li>
       <a href="#">
        fifty-five
       </a>
      </li>
     </ul>
     <h2>
      Happenings
     </h2>
     <p>
      Cras varius, lorem eu cursus elementum, neque sapien pharetra quam, vel luctus enim
				nunc sed quam valentiume theru.
     </p>
    </div>
   </div>
  </div>
  <div class="clear">
  </div>
  <div id="footer">
   <p>
    &copy; 2007 Your Name Here
    <br />
    <a href="http://gregdev.net">
     Designed by Greg Smith
    </a>
   </p>
  </div>
 </body>
</html>