<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/GrungeSuperstar/reset.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/GrungeSuperstar/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="paper_left">
   <div id="paper_right">
    <div id="layout_wrapper">
     <div id="layout_container">
      <div id="layout_content">
       <div id="site_title">
        <h1>
         {{=response.title or request.application}}
        </h1>
        <h2>
         {{=response.subtitle or '=response.subtitle'}}
        </h2>
       </div>
       <div id="header_image">
       </div>
       <div class="navigation">
        <ul>
         <li class="current_page_item">
          <a href="index.html">
           Posts page
          </a>
         </li>
         <li>
          <a href="comments.html">
           Post comments
          </a>
         </li>
         <li>
          <a href="page.html">
           Sample test page
          </a>
         </li>
         <li>
          <a href="archives.html">
           Archives
          </a>
         </li>
         <li>
          <a href="empty.html">
           Empty page
          </a>
         </li>
        </ul>
        <div class="clearer">
         &nbsp;
        </div>
       </div>
       <!-- Note: Uncomment this section to display subnavigation

	<div class="clearer">&nbsp;</div>

	<div class="navigation" id="subnav">

		<ul>
			<li><a href="#">Subnav item 1</a></li>
			<li><a href="#">Subnav item 2</a></li>
			<li><a href="#">Subnav item 3</a></li>
		</ul>

		<div class="clearer">&nbsp;</div>

	</div>
-->
       <div id="main">
        <div class="post">
         <div class="post_top">
          <div class="post_title">
           <h2>
            <a href="#">
             Porttitor posuere
            </a>
           </h2>
          </div>
          <div class="post_date">
           Jun 13, 2006 by Vulputate
          </div>
         </div>
         <div class="post_body">
          <p>
           In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor. In bibendum. Aenean ornare,
           <a href="index.html">
            nunc eget pretium
           </a>
           porttitor, sem est pretium leo, non euismod nulla dui non diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est.
          </p>
          <blockquote>
           <p>
            Sed sodales nisl sit amet augue. Donec ultrices, augue ullamcorper posuere laoreet, turpis massa tristique justo, sed egestas metus magna sed purus.
           </p>
           <p>
            Sed sodales nisl sit amet augue. Donec ultrices, augue ullamcorper posuere laoreet, turpis massa tristique justo, sed egestas metus magna sed purus.
           </p>
          </blockquote>
          <h2>
           Sollicitudin
          </h2>
          <p>
           Aliquam risus justo, mollis in, laoreet a, consectetuer nec, risus. Nunc blandit sodales lacus. Nam luctus semper mi. In eu diam.
          </p>
          <p>
           Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus. Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis
           <a href="index.html">
            quam aliquam
           </a>
           risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.
          </p>
         </div>
         <div class="post_metadata">
          <div class="content">
           <div class="flash">{{=response.flash or ''}}</div>
           {{include}}
          </div>
         </div>
        </div>
        <div class="post">
         <div class="post_top">
          <div class="post_title">
           <h2>
            <a href="#">
             Adipiscing
            </a>
           </h2>
          </div>
          <div class="post_date">
           Jun 11, 2006 by Laoreet
          </div>
         </div>
         <div class="post_body">
          <p>
           Aliquam risus justo, mollis in, laoreet a, consectetuer nec, risus. Nunc blandit sodales lacus. Nam luctus semper mi.
          </p>
          <ul>
           <li>
            Tristique
           </li>
           <li>
            Aenean
           </li>
           <li>
            Pretium
           </li>
          </ul>
          <p>
           In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor. In bibendum. Aenean ornare, nunc eget pretium porttitor, sem est pretium leo, non euismod nulla dui non diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est.
          </p>
         </div>
         <div class="post_metadata">
          <div class="content">
           <span class="comment">
            <a href="#">
             11 Comments
            </a>
           </span>
          </div>
         </div>
        </div>
        <div class="post">
         <div class="post_top">
          <div class="post_title">
           <h2>
            <a href="#">
             Interdum
            </a>
           </h2>
          </div>
          <div class="post_date">
           May 24, 2006 by Lectus
          </div>
         </div>
         <div class="post_body">
          <p>
           Praesent nisi sem, bibendum in, ultrices sit amet, euismod sit amet, dui. Donec varius tincidunt nisi. Ut ut sapien. Integer porta. Fusce nibh. Curabitur pellentesque, lectus at
           <a href="index.html">
            volutpat interdum
           </a>
          </p>
          <h3>
           Sem justo
          </h3>
          <p>
           Placerat elit, eget feugiat est leo tempor quam. Ut quis neque convallis magna consequat molestie. Nullam semper massa eget ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque a nibh quis nunc volutpat aliquam
          </p>
          <code>
           margin-bottom: 12px;
           <br />
           font: normal 1.1em "Lucida Sans Unicode",serif;
           <br />
           background: url(img/quote.gif) no-repeat;
           <br />
           padding-left: 28px;
           <br />
           color: #555;
           <br />
          </code>
          <p>
           Eget feugiat est leo tempor quam. Ut quis neque convallis magna consequat molestie.
          </p>
         </div>
         <div class="post_metadata">
          <div class="content">
           <span class="comment">
            <a href="#">
             6 Comments
            </a>
           </span>
          </div>
         </div>
        </div>
       </div>
       <div id="bottom">
        <div class="left col3">
         <h2>
          Tincidunt
         </h2>
         <ul>
          <li>
           <a href="index.html">
            consequat molestie
           </a>
          </li>
          <li>
           <a href="index.html">
            sem justo
           </a>
          </li>
          <li>
           <a href="index.html">
            semper
           </a>
          </li>
          <li>
           <a href="index.html">
            magna sed purus
           </a>
          </li>
          <li>
           <a href="index.html">
            tincidunt
           </a>
          </li>
         </ul>
        </div>
        <div class="left col3">
         <h2>
          Sed purus
         </h2>
         <ul>
          <li>
           <a href="index.html">
            sem justo
           </a>
          </li>
          <li>
           <a href="index.html">
            magna sed purus
           </a>
          </li>
          <li>
           <a href="index.html">
            tincidunt
           </a>
          </li>
          <li>
           <a href="index.html">
            semper
           </a>
          </li>
          <li>
           <a href="index.html">
            consequat molestie
           </a>
          </li>
         </ul>
        </div>
        <div class="right col3last">
         <h2>
          Praesent
         </h2>
         <ul>
          <li>
           <a href="index.html">
            semper
           </a>
          </li>
          <li>
           <a href="index.html">
            consequat molestie
           </a>
          </li>
          <li>
           <a href="index.html">
            magna sed purus
           </a>
          </li>
          <li>
           <a href="index.html">
            sem justo
           </a>
          </li>
          <li>
           <a href="index.html">
            tincidunt
           </a>
          </li>
         </ul>
        </div>
        <div class="clearer">
         &nbsp;
        </div>
       </div>
       <div id="footer">
        <div class="left">
         &copy; 2008 Website name
        </div>
        <div class="right">
         Design by
         <a href="http://arcsin.se/">
          Arcsin
         </a>
         <a href="http://templates.arcsin.se/">
          Web Templates
         </a>
        </div>
        <div class="clearer">
         &nbsp;
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>