<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Template Design by TheWebhub.com | http://www.thewebhub.com | Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines -->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Headlines/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrapper">
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <p class="copyright">
     Copyright &copy; 2006 Sitename.com. Template Designed by
     <a href="http://www.thewebhub.com/">
      TheWebHub.com
     </a>
     &nbsp;&nbsp;&nbsp;Free Icons by
     <a href="http://famfamfam.com/">
      FAMFAMFAM
     </a>
    </p>
    <p class="links">
     <a href="http://validator.w3.org/check/referer" class="xhtml">
      Valid XHTML
     </a>
     &nbsp;&nbsp;&nbsp;
     <a href="http://jigsaw.w3.org/css-validator/check/referer" class="css">
      Valid CSS
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
