<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/HealthCareWebsiteTemplate008/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- Begin Wrapper -->
  <div id="wrapper">
   <!-- Begin Header -->
   <div id="header">
    <div class="logo">
     <h1>
      {{=response.title or request.application}}
     </h1>
     <h2>
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
    </div>
   </div>
   <!-- End Header -->
   <!-- Begin Navigation -->
   <div id="navigation">
    <ul>
     <li style="margin-left: 1px">
      <a href="http://businesswebsitetemplates.blogspot.com" title="free business templates">
       Free Busiess Templates
      </a>
     </li>
     <li>
      <a href="http://www.bank-cordblood.com" title="Cord blood banking">
       Cord Blood Bank
      </a>
     </li>
     <li id="current">
      <a href="#" title="#">
       Link No Three
      </a>
     </li>
     <li>
      <a href="#" title="#">
       Link Four
      </a>
     </li>
     <li>
      <a href="#" title="#">
       Five
      </a>
     </li>
    </ul>
   </div>
   <div id="navigationmenuline">
    &nbsp;
   </div>
   <!-- End Navigation -->
   <!-- Begin Left Column -->
   <div id="leftcolumn">
    <h3>
     Healthcare Website Template
    </h3>
    <blockquote>
     <p>
      This is an open source template and is relased and distributed under Creative Commons 2.5 licence. You are free to use this template in any way you like. All I ask for is that you leave the web site design credit links in the footer area of this template intact.
     </p>
    </blockquote>
    <div id="boxes">
     <div class="box">
      <h4>
       Lorem Ipsum
      </h4>
      <ul>
       <li>
        <a href="#">
         Lorem ipsum dolor sit amet
        </a>
       </li>
       <li>
        <a href="#">
         Lorem ipsum dolor sit amet
        </a>
       </li>
       <li>
        <a href="#">
         Lorem ipsum dolor sit amet
        </a>
       </li>
       <li>
        <a href="#">
         Lorem ipsum dolor sit amet
        </a>
       </li>
       <li>
        <a href="#">
         Lorem ipsum dolor sit amet
        </a>
       </li>
      </ul>
      <img src="images/img2.jpg" class="floatTR" alt="business" />
      <p>
       Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. Morbi eget felis.
      </p>
      <a href="#">
       read more
      </a>
     </div>
     <div class="box">
      <h4>
       Lorem Ipsum
      </h4>
      <img src="images/img3.jpg" class="floatTL" alt="health" />
      <p>
       Lorem ipsum dolor sit amet, conse adipisin elit. Donec rutrum neque eu nisl. Morbi eget felis.
      </p>
      <a href="#">
       read more
      </a>
      <img src="images/img4.jpg" class="floatTL" alt="health" />
      <p>
       Lorem ipsum dolor sit amet, conse adipisin elit. Donec rutrum neque eu nisl. Morbi eget felis.
      </p>
      <a href="#">
       read more
      </a>
     </div>
    </div>
    <div class="clear">
    </div>
   </div>
   <!-- End Left Column -->
   <!-- Begin Content Column -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- End Content Column -->
   <!-- Begin Right Column -->
   <div id="rightcolumn">
    <h4>
     More Links Here
    </h4>
    <div class="rightnavigation">
     <ul>
      <li>
       <a href="http://www.getcsstemplates.com">
        Free CSS Templates
       </a>
      </li>
      <li>
       <a href="http://www.bank-cordblood.com">
        cord blood banking
       </a>
      </li>
      <li>
       <a href="#">
        Link Three
       </a>
      </li>
      <li>
       <a href="#">
        Link Four
       </a>
      </li>
     </ul>
    </div>
    <h5>
     Ads here
    </h5>
    <div class="ads">
     <ul>
      <li>
       <a href="#">
        Link One
       </a>
      </li>
      <li>
       <a href="#">
        Link Two
       </a>
      </li>
      <li>
       <a href="#">
        Link Three
       </a>
      </li>
      <li>
       <a href="#">
        Link Four
       </a>
      </li>
     </ul>
    </div>
    <div class="rightnavigation">
     <ul>
      <li>
       <a href="#">
        Link Five
       </a>
      </li>
      <li>
       <a href="#">
        Link Six
       </a>
      </li>
      <li>
       <a href="#">
        Link Seven
       </a>
      </li>
      <li>
       <a href="#">
        Link Eight
       </a>
      </li>
     </ul>
    </div>
    <div class="news">
     <h2>
      News and Events
     </h2>
     <h3>
      Aug.16.07.
     </h3>
     <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum ...
     </p>
     <a href="#">
      read more
     </a>
     <h3>
      Aug.10.07.
     </h3>
     <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum ...
     </p>
     <a href="#">
      read more
     </a>
    </div>
   </div>
   <!-- End Right Column -->
  </div>
  <!-- End Wrapper -->
  <!-- Begin Footer -->
  <div id="footer">
   <a href="http://validator.w3.org/">
    Valid XHTML
   </a>
   |
   <a href="http://jigsaw.w3.org/css-validator/#validate-by-upload">
    Valid CSS
   </a>
   <br />
   Copyright &copy; 2007  All Rights Reserved.
   <br />
   Designed By
   <a href="http://www.businesswebsitetemplates.blogspot.com/">
    Heltcare Website Templates
   </a>
   | Template Sponsored By
   <a href="http://www.bank-cordblood.com">
    Bank Cord Blood
   </a>
   .
  </div>
  <!-- End Footer -->
 </body>
</html>
