<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Hibiscus
Version    : 1.0
Released   : 20070801
Description: A two-column, fixed-width template with fluid header and footer background.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Hibiscus/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
  </div>
  <!-- end header -->
  <div id="page">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <div id="sidebar">
    <ul>
     <li>
      <h2>
       Search
      </h2>
      <form method="get" action="">
       <fieldset>
        <input type="text" id="searchfield" name="s" value="" />
        <br />
        <input type="submit" id="searchsubmit" value="Search" />
       </fieldset>
      </form>
     </li>
     <li>
      <h2>
       Archives
      </h2>
      <ul>
       <li>
        <a href="#">
         August 2007
        </a>
        (1)
       </li>
       <li>
        <a href="#">
         July 2007
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         June 2007
        </a>
        (30)
       </li>
       <li>
        <a href="#">
         May 2007
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         April 2007
        </a>
        (30)
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Categories
      </h2>
      <ul>
       <li>
        <a href="#">
         Ut semper vestibulum
        </a>
        (32)
       </li>
       <li>
        <a href="#">
         Vestibulum luctus
        </a>
        (19)
       </li>
       <li>
        <a href="#">
         Integer rutrum nisl
        </a>
        (33)
       </li>
       <li>
        <a href="#">
         Etiam malesuada
        </a>
        (12)
       </li>
       <li>
        <a href="#">
         Aenean elementum
        </a>
        (41)
       </li>
       <li>
        <a href="#">
         Ut tincidunt elit
        </a>
        (18)
       </li>
       <li>
        <a href="#">
         Sed quis odio
        </a>
        (30)
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end sidebar -->
  </div>
  <!-- end page -->
  <div id="footer">
   <p id="legal">
    &copy;2007 Hibiscus. All Rights Reserved. | Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
   <p id="links">
    <a href="#">
     Privacy
    </a>
    |
    <a href="#">
     Terms
    </a>
    |
    <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">
     <abbr title="eXtensible HyperText Markup Language">
      XHTML
     </abbr>
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS">
     <abbr title="Cascading Style Sheets">
      CSS
     </abbr>
    </a>
   </p>
  </div>
 </body>
</html>
