<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Six Shooter Media Free Template
http://www.sixshootermedia.com/free-templates/
Released for free under a Creative Commons Attribution 2.5 License

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Home/css/1.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <!-- This is where the image of the house goes -->
  </div>
  <h1 class="main_title">
   {{=response.title or request.application}}
  </h1>
  <div id="navigation">
   <ul id="nav">
    <li>
     <a href="#" class="active">
      Home
     </a>
    </li>
    <li>
     <a href="#">
      About Us
     </a>
    </li>
    <li>
     <a href="#">
      Services
     </a>
    </li>
    <li>
     <a href="#">
      Products
     </a>
    </li>
    <li>
     <a href="#">
      FAQ
     </a>
    </li>
    <li>
     <a href="#">
      Contact
     </a>
    </li>
   </ul>
  </div>
  <div id="container">
   <div id="inner_container">
    <div id="sidebar">
     <h2>
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
     <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam leo mauris, venenatis eget, dapibus ac, laoreet ut, nunc. Nam ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In hac habitasse platea dictumst. Etiam et nisi. Duis nunc turpis, ultrices nec, aliquam a, pellentesque quis, neque. Nunc a diam. Duis in mauris vel leo sagittis mattis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin non massa. Morbi molestie tristique sem. Nunc condimentum ipsum vel felis. Duis vitae velit. Morbi nulla massa, blandit id, scelerisque a, pharetra sagittis, dolor. Curabitur feugiat aliquam augue. Phasellus cursus ultricies libero. Nam eu elit. Sed sagittis arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse mattis nulla a lacus.
     </p>
     <p>
      Curabitur libero purus, ultrices vel, vulputate ac, dictum ac, nulla. Praesent pulvinar ligula ut nibh vehicula mollis. Nullam vehicula rutrum mi. Proin vehicula. Proin tellus metus, auctor a, congue at, tincidunt ut, dolor. Nam vel lacus. Sed in pede sit amet nulla porttitor tincidunt. Nunc vel mauris eget elit feugiat nonummy. Vestibulum feugiat tortor quis nunc. In at odio eget eros commodo aliquet. Praesent metus. Maecenas vulputate eros ut eros. Nulla augue. Suspendisse ac tortor non nisl tincidunt elementum. Ut nec orci a ante imperdiet scelerisque. Nunc rhoncus auctor arcu. Aliquam erat volutpat. Etiam ac erat. Nam vel enim.
     </p>
    </div>
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
   </div>
  </div>
  <div id="footer">
   <p class="validate">
    <a href="http://validator.w3.org/check?uri=referer">
     XHTML
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/">
     CSS
    </a>
    <br />
    <a href="#content">
     Top
    </a>
   </p>
   <!-- Please leave this line intact -->
   <p>
    Template design by
    <a href="http://www.sixshootermedia.com">
     Six Shooter Media
    </a>
    .
    <br />
    <!-- you can delete below here -->
    © All your copyright information here.
   </p>
  </div>
 </body>
</html>
