<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Ilovecolour2/style/style.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Ilovecolour2/style/colour_1.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="main">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <div id="colours">
     <a href="index.html">
      <img src="style/1.png" alt="colour scheme 1" />
     </a>
     &nbsp;
     <a href="colour_2.html">
      <img src="style/2.png" alt="colour scheme 2" />
     </a>
     &nbsp;
     <a href="colour_3.html">
      <img src="style/3.png" alt="colour scheme 3" />
     </a>
     &nbsp;
    </div>
   </div>
   <div id="menubar">
    <ul id="menu">
     <li>
      <a class="current" href="index.html" title="Sidebar - right">
       Home
      </a>
     </li>
     <li>
      <a href="index_2col_left.html" title="Sidebar - Left">
       Sidebar - Left
      </a>
     </li>
     <li>
      <a href="#" title="">
       Another Page
      </a>
     </li>
     <li>
      <a href="#" title="">
       Another Page
      </a>
     </li>
     <li>
      <a href="#" title="">
       Another Page
      </a>
     </li>
    </ul>
    <div id="search">
     <form method="post" action="#">
      <p>
       <input class="searchfield" type="text" value="" />
       <input class="searchbutton" name="submit" type="submit" value="search" />
      </p>
     </form>
    </div>
   </div>
   <div id="site_content">
    <div class="sidebar">
     <div class="sidebaritem">
      <h3>
       Categories
      </h3>
      <ul>
       <li>
        <a class="current" href="#" title="Home">
         Home
        </a>
       </li>
       <li>
        <a href="#" title="">
         Category 1 (0)
        </a>
       </li>
      </ul>
     </div>
     <div class="sidebaritem">
      <h3>
       Articles
      </h3>
      <ul>
       <li>
        <a href="#" title="">
         Article 1
        </a>
       </li>
       <li>
        <a href="#" title="">
         Article 2
        </a>
       </li>
      </ul>
     </div>
     <div class="sidebaritem">
      <h3>
       Comments
      </h3>
      <ul>
       <li>
        <a href="#" title="">
         Comment 1
        </a>
       </li>
       <li>
        <a href="#" title="">
         Comment 2
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
   </div>
   <div id="footer">
    Copyright &copy; Company Name |
    <a href="http://validator.w3.org/check?uri=referer">
     XHTML 1.1
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
     CSS
    </a>
    |
    <a href="http://www.dcarter.co.uk">
     design by dcarter
    </a>
    |
    <a href="#">
     Login
    </a>
   </div>
  </div>
 </body>
</html>
