<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Incorporated/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     Design by
     <a href="http://www.freecsstemplates.org/">
      Free CSS Templates
     </a>
    </p>
   </div>
   <!-- end #logo -->
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
   <!-- end #menu -->
  </div>
  <!-- end #header -->
  <div id="page">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end #content -->
   <div id="sidebar">
    <div id="sidebar-bgtop">
    </div>
    <div id="sidebar-content">
     <ul>
      <li id="search">
       <h2>
        Search
       </h2>
       <form method="get" action="">
        <fieldset>
         <input type="text" id="s" name="s" value="" />
         <input type="submit" id="x" value="Search" />
        </fieldset>
       </form>
      </li>
      <li>
       <h2>
        Lorem Ipsum
       </h2>
       <ul>
        <li>
         <a href="#">
          Fusce dui neque fringilla
         </a>
        </li>
        <li>
         <a href="#">
          Eget tempor eget nonummy
         </a>
        </li>
        <li>
         <a href="#">
          Magna lacus bibendum mauris
         </a>
        </li>
        <li>
         <a href="#">
          Nec metus sed donec
         </a>
        </li>
        <li>
         <a href="#">
          Magna lacus bibendum mauris
         </a>
        </li>
        <li>
         <a href="#">
          Velit semper nisi molestie
         </a>
        </li>
        <li>
         <a href="#">
          Eget tempor eget nonummy
         </a>
        </li>
       </ul>
      </li>
      <li>
       <h2>
        Volutpat Dolore
       </h2>
       <ul>
        <li>
         <a href="#">
          Nec metus sed donec
         </a>
        </li>
        <li>
         <a href="#">
          Magna lacus bibendum mauris
         </a>
        </li>
        <li>
         <a href="#">
          Velit semper nisi molestie
         </a>
        </li>
        <li>
         <a href="#">
          Eget tempor eget nonummy
         </a>
        </li>
        <li>
         <a href="#">
          Nec metus sed donec
         </a>
        </li>
        <li>
         <a href="#">
          Magna lacus bibendum mauris
         </a>
        </li>
        <li>
         <a href="#">
          Velit semper nisi molestie
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </div>
    <div id="sidebar-bgbtm">
    </div>
   </div>
   <!-- end #sidebar -->
  </div>
  <!-- end #page -->
  <div id="footer">
   <p>
    &copy; 2008. All Rights Reserved. Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
  </div>
  <!-- end #footer -->
 </body>
</html>
