<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Integral/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <ul id="menu">
    <li>
     <a href="#" accesskey="1" title="">
      Home
     </a>
    </li>
    <li>
     <a href="#" accesskey="2" title="">
      Services
     </a>
    </li>
    <li>
     <a href="#" accesskey="3" title="">
      Information
     </a>
    </li>
    <li>
     <a href="#" accesskey="4" title="">
      About
     </a>
    </li>
    <li>
     <a href="#" accesskey="5" title="">
      Contact
     </a>
    </li>
   </ul>
   <form id="search" method="get" action="">
    <fieldset>
     <input name="input1" type="text" id="input1" />
     <input name="input2" type="submit" id="input2" value="Search" />
    </fieldset>
   </form>
  </div>
  <div id="content">
   <div class="flash">{{=response.flash or ''}}</div>
   {{include}}
  </div>
  <div id="footer">
   <p>
    Copyright (c) 2006 Sitename.com. All rights reserved. Design by
    <a href="http://freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
  </div>
 </body>
</html>
