<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/KeepitSimple/css/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <a href="#">
     Keep it Simple
    </a>
   </div>
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
   <div id="sidebar">
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
   <div id="main">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    &copy;2007 Keep it Simple &nbsp;
    <span class="separator">
     |
    </span>
    &nbsp; Design by
    <a href="http://www.realitysoftware.ca" title="Website Design">
     Reality Software
    </a>
   </div>
  </div>
 </body>
</html>
