<!--
 ____________________________________________________________
|                                                            |
|    DESIGN + Pat Heard { http://fullahead.org }             |
|      DATE + 2006.03.19                                     |
| COPYRIGHT + Free use if this notice is left in place       |
|____________________________________________________________|

-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-AU">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/lazydays/css/html.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/lazydays/css/layout.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/lazydays/css/print.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- CONTENT: Holds all site content except for the footer.  This is what causes the footer to stick to the bottom -->
  <div id="content">
   <div class="flash">{{=response.flash or ''}}</div>
   {{include}}
  </div>
  <!-- FOOTER: Site footer for links, copyright, etc. -->
  <div id="footer">
   <div id="width">
    <span class="floatLeft">
     design
     <a href="http://fullahead.org" title="Goto Fullahead">
      Fullahead
     </a>
     <span class="grey">
      |
     </span>
     valid
     <a href="http://validator.w3.org/check?uri=referer" title="Validate XHTML">
      XHTML
     </a>
     <span class="grey">
      |
     </span>
     should be valid
     <a href="http://jigsaw.w3.org/css-validator" title="Validate CSS">
      CSS
     </a>
    </span>
    <span class="floatRight">
     <a href="index.html" title="Introduction">
      intro
     </a>
     <span class="grey">
      |
     </span>
     <a href="help.html" title="Learn how to use the template">
      help
     </a>
     <span class="grey">
      |
     </span>
     <a href="tags.html" title="View the styled tags">
      tags
     </a>
     <span class="grey">
      |
     </span>
     <a href="print.html" title="View the print layout">
      print
     </a>
     <span class="grey">
      |
     </span>
     <a href="http://fullahead.org/contact.html" title="Get in touch">
      mail
     </a>
    </span>
   </div>
  </div>
 </body>
</html>