<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/MassiveGreen/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div class="container">
   <div class="header">
    -*-Massive Green-*-
   </div>
   <div class="link_top">
    <ul>
     <li>
      <a href="#">
       Home
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
    </ul>
   </div>
   <div class="main_right">
    <div class="padded">
     <h1>
      {{=response.title or request.application}}
     </h1>
     <p>
      Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here
      <a href="#">
       link text example
      </a>
      Text goes here Text goes here Text goes
     </p>
     <h1>
      Hoje vou
     </h1>
     <p>
      Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here
      <a href="#">
       link text example
      </a>
      Text goes here Text goes here
     </p>
     <h1>
      Amanhã voltarei
     </h1>
     <p>
      Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here
      <a href="#">
       link text example
      </a>
      Text goes here Text goes here Text goes here Text goes here Text goes here Text goes here Text goes
     </p>
    </div>
   </div>
   <div class="menu_right">
    <h1>
     Menu
    </h1>
    <ul>
     <li>
      <a href="index.html">
       Home
      </a>
     </li>
     <li>
      <a href="index.html">
       Products
      </a>
     </li>
     <li>
      <a href="index.html">
       Services
      </a>
     </li>
     <li>
      <a href="index.html">
       Contact
      </a>
     </li>
    </ul>
    <h1>
     Menu2
    </h1>
    <ul>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
    </ul>
    <h1>
     Menu3
    </h1>
    <ul>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
    </ul>
    <h1>
     Menu4
    </h1>
    <ul>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
     <li>
      <a href="index.html">
       link here
      </a>
     </li>
    </ul>
   </div>
   <div class="main">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div class="clear">
    <span>
    </span>
   </div>
   <div class="footpg">
    <span class="left">
     &copy; 2007
     <a href="#">
      YourCompany.com
     </a>
     , Visit
     <a href="mattheusroriz.t35.com">
      Mattheus Roriz
     </a>
     <div class="clearer">
      <span>
      </span>
     </div>
    </span>
   </div>
  </div>
 </body>
</html>