<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/mike02TheSheep/mike02.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="headerWrap">
    <div id="header">
     <h1>
      {{=response.title or request.application}}
     </h1>
     <ul id="navigation">
      <li>
       <a href="#">
        Page5
       </a>
      </li>
      <li>
       <a href="#">
        Page4
       </a>
      </li>
      <li>
       <a href="#">
        Page3
       </a>
      </li>
      <li>
       <a href="#">
        Page2
       </a>
      </li>
      <li>
       <a href="#">
        Page1
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <p>
     &copy; 2006 Your or your company name | Design by
     <a href="http://www.mikeyarmish.com">
      Mike Yarmish
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
