<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/MistyGrey/layout.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="center">
   <div id="banner">
   </div>
   <div id="navigation">
    <ul>
     <li>
      <a class="current" href="index.html">
       HOME
      </a>
     </li>
     <li>
      <a href="index.html">
       NEWS
      </a>
     </li>
     <li>
      <a href="index.html">
       ABOUT
      </a>
     </li>
     <li>
      <a href="index.html">
       PRODUCTS
      </a>
     </li>
     <li>
      <a href="index.html">
       SUPPORT
      </a>
     </li>
     <li>
      <a href="index.html">
       PARTNERS
      </a>
     </li>
     <li>
      <a href="index.html">
       CONTACT
      </a>
     </li>
    </ul>
   </div>
   <div id="main">
    <div id="subnavigation">
     <ul>
      <li>
       <a href="index.html">
        Submenu 1
       </a>
      </li>
      <li class="active">
       <a href="index.html">
        Submenu 2
       </a>
      </li>
      <li class="normal">
       <a href="index.html">
        Submenu 3
       </a>
      </li>
      <li class="normal">
       <a href="index.html">
        Submenu 4
       </a>
      </li>
      <li class="normal">
       <a href="index.html">
        Submenu 5
       </a>
      </li>
     </ul>
    </div>
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <div class="cleaner">
     &nbsp;
    </div>
   </div>
   <!-- This template ist Open Source as long as the footer links to the authors are included ! -->
  </div>
  <div id="footer">
   <a href="http://www.gebaeude7.de">
    Webdesign
   </a>
   by
   <a href="http://www.shocktone.de/">
    shocktone
   </a>
  </div>
 </body>
</html>
