<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Mosaic
Description: A two-column, fixed width Web 2.0 design with fluid header and menu. Suitable for small business websites and blogs.
Version    : 1.0
Released   : 20071028

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Mosaic/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- start header -->
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     By Free CSS Templates
    </p>
   </div>
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
  </div>
  <!-- end header -->
  <hr />
  <!-- start page -->
  <div id="page">
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start sidebar -->
   <div id="sidebar">
    <ul>
     <li id="search" class="widget widget_search">
      <form id="searchform" method="get" action="">
       <div>
        <input type="text" name="s" id="s" size="15" value="" />
        <br />
        <input type="submit" value="Search" />
       </div>
      </form>
     </li>
     <li id="calendar" class="widget widget_calendar">
      <h2 class="widgettitle">
       Calendar
      </h2>
      <div id="calendar_wrap">
       <table id="wp-calendar" summary="Calendar">
        <caption>
         October 2007
        </caption>
        <thead>
         <tr>
          <th abbr="Monday" scope="col" title="Monday">
           M
          </th>
          <th abbr="Tuesday" scope="col" title="Tuesday">
           T
          </th>
          <th abbr="Wednesday" scope="col" title="Wednesday">
           W
          </th>
          <th abbr="Thursday" scope="col" title="Thursday">
           T
          </th>
          <th abbr="Friday" scope="col" title="Friday">
           F
          </th>
          <th abbr="Saturday" scope="col" title="Saturday">
           S
          </th>
          <th abbr="Sunday" scope="col" title="Sunday">
           S
          </th>
         </tr>
        </thead>
        <tfoot>
         <tr>
          <td abbr="September" colspan="3" id="prev">
           <a href="#" title="View posts for September 2007">
            &laquo; Sep
           </a>
          </td>
          <td class="pad">
           &nbsp;
          </td>
          <td abbr="November" colspan="3" id="next">
           <a href="#" title="View posts for Novembre 2007">
            Nov &raquo;
           </a>
          </td>
         </tr>
        </tfoot>
        <tbody>
         <tr>
          <td>
           1
          </td>
          <td>
           2
          </td>
          <td>
           3
          </td>
          <td>
           <a href="#" title="">
            4
           </a>
          </td>
          <td>
           5
          </td>
          <td>
           6
          </td>
          <td>
           <a href="#" title="">
            7
           </a>
          </td>
         </tr>
         <tr>
          <td>
           8
          </td>
          <td>
           9
          </td>
          <td>
           10
          </td>
          <td>
           11
          </td>
          <td>
           12
          </td>
          <td>
           13
          </td>
          <td>
           14
          </td>
         </tr>
         <tr>
          <td>
           15
          </td>
          <td>
           16
          </td>
          <td>
           17
          </td>
          <td>
           18
          </td>
          <td>
           19
          </td>
          <td>
           20
          </td>
          <td>
           21
          </td>
         </tr>
         <tr>
          <td>
           22
          </td>
          <td>
           23
          </td>
          <td>
           24
          </td>
          <td>
           25
          </td>
          <td>
           26
          </td>
          <td>
           27
          </td>
          <td id="today">
           28
          </td>
         </tr>
         <tr>
          <td>
           29
          </td>
          <td>
           30
          </td>
          <td>
           31
          </td>
          <td class="pad" colspan="4">
           &nbsp;
          </td>
         </tr>
        </tbody>
       </table>
      </div>
     </li>
     <li id="tag_cloud" class="widget widget_tag_cloud">
      <h2 class="widgettitle">
       Tags Cloud
      </h2>
      <a href="#" style="font-size: 12pt;">
       dolor
      </a>
      <a href="#" style="font-size: 11pt;">
       ipsum
      </a>
      <a href="#" style="font-size: 10pt;">
       lorem
      </a>
      <a href="#" style="font-size:  9pt;">
       mattis&nbsp;placerat
      </a>
      <a href="#" style="font-size:  8pt;">
       nulla
      </a>
      <a href="#" style="font-size:  8pt;">
       sit&nbsp;amet
      </a>
      <a href="#" style="font-size:  8pt;">
       suscipit&nbsp;in
      </a>
     </li>
     <li id="categories-1" class="widget widget_categories">
      <h2 class="widgettitle">
       Categories
      </h2>
      <ul>
       <li>
        <a href="#" title="View all posts filed under Uncategorized">
         Uncategorized
        </a>
        (3)
       </li>
      </ul>
     </li>
     <li id="archives" class="widget widget_archives">
      <h2 class="widgettitle">
       Archives
      </h2>
      <ul>
       <li>
        <a href="#" title="October 2007">
         October 2007
        </a>
        &nbsp;(2)
       </li>
       <li>
        <a href="#" title="September 2007">
         September 2007
        </a>
        &nbsp;(1)
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end sidebar -->
  </div>
  <!-- end page -->
  <hr />
  <!-- start footer -->
  <div id="footer">
   <p>
    &copy;2007 All Rights Reserved. &nbsp;&bull;&nbsp; Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
  </div>
  <!-- end footer -->
 </body>
</html>
