<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
 <!--  Version: Multiflex-5.0 / Overview                     -->
 <!--  Date:    January 30, 2008                             -->
 <!--  Design:  www.1234.info                                -->
 <!--  License: Fully open source without restrictions.      -->
 <!--           Please keep footer credits with the words    -->
 <!--           "Design by 1234.info". Thank you!            -->
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Multiflex5/./css/mf5_reset.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Multiflex5/./css/mf5_grid.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Multiflex5/./css/mf5_content.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Multiflex5/./img/favicon.ico'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <!-- Global IE fix to avoid layout crash when single word size wider than column width -->
 <!-- Following line MUST remain as a comment to have the proper effect -->
 <!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->
 <body>
  <!-- CONTAINER FOR ENTIRE PAGE -->
  <div class="container">
   <!-- A. HEADER -->
   <div class="corner-top">
   </div>
   <div class="header">
    <div class="header-top">
     <!-- A.1 SITENAME -->
     <a class="sitelogo" href="#" title="Home">
     </a>
     <div class="sitename">
      <h1>
       {{=response.title or request.application}}
      </h1>
      <h2>
       {{=response.subtitle or '=response.subtitle'}}
      </h2>
     </div>
     <!-- A.2 BUTTON NAVIGATION -->
     <div class="navbutton">
      <ul>
       <li>
        <a href="#" title="English">
         <img src="./img/icon_flag_us.gif" alt="Flag" />
        </a>
       </li>
       <li>
        <a href="#" title="Deutsch">
         <img src="./img/icon_flag_de.gif" alt="Flag" />
        </a>
       </li>
       <li>
        <a href="#" title="Svenska">
         <img src="./img/icon_flag_se.gif" alt="Flag" />
        </a>
       </li>
       <li>
        <a href="#" title="RSS">
         <img src="./img/icon_rss.gif" alt="RSS-Button" />
        </a>
       </li>
      </ul>
     </div>
     <!-- A.3 GLOBAL NAVIGATION -->
     <div class="navglobal">
      <ul>
       <li>
        <a href="#" title="">
         About
        </a>
       </li>
       <li>
        <a href="#" title="">
         Contact
        </a>
       </li>
       <li>
        <a href="#" title="">
         Sitemap
        </a>
       </li>
       <li>
        <a href="#" title="">
         Links
        </a>
       </li>
      </ul>
     </div>
    </div>
    <!-- A.4 BREADCRUMB and SEARCHFORM -->
    <div class="header-bottom">
     <!-- Breadcrumb -->
     <ul>
      <li class="nobullet">
       You are here:&nbsp;
      </li>
      <li>
       <a href="#">
        Home
       </a>
      </li>
      <li>
       <a href="#">
        Page
       </a>
      </li>
      <li>
       <a href="#">
        Sub-Page
       </a>
      </li>
      <li>
       <a href="#">
        Sub-Sub-Page
       </a>
      </li>
     </ul>
     <!-- Search form -->
     <div class="searchform">
      <form action="index.html" method="get">
       <fieldset>
        <input name="field" class="field" value=" Enter search word ..." />
        <input type="submit" name="button" class="button" value="Search" />
       </fieldset>
      </form>
     </div>
    </div>
   </div>
   <div class="corner-bottom">
   </div>
   <!-- B. NAVIGATION BAR -->
   <div class="corner-top">
   </div>
   <div class="navbar">
    <!-- Navigation item -->
    <ul>
     <li>
      <a href="index.html">
       Overview
      </a>
     </li>
    </ul>
    <!-- Navigation item -->
    <ul>
     <li>
      <a href="mf5_tutorial.html">
       Tutorial
      </a>
     </li>
    </ul>
    <!-- Navigation item -->
    <ul>
     <li>
      <a href="mf5_grid.html">
       Grid Toolbox
      </a>
     </li>
    </ul>
    <!-- Navigation item -->
    <ul>
     <li>
      <a href="mf5_content.html">
       Content Toolbox
      </a>
     </li>
    </ul>
    <!-- Navigation item -->
    <ul>
     <li>
      <a href="#">
       Drop-down Menu
       <!--[if IE 7]><!-->
      </a>
      <!--<![endif]-->
      <!--[if lte IE 6]><table><tr><td><![endif]-->
      <ul>
       <li>
        <a href="#">
         Menu subitem 1
        </a>
       </li>
       <li>
        <a href="#">
         Menu subitem 2
        </a>
       </li>
       <li>
        <a href="#">
         Menu subitem 3
        </a>
       </li>
       <li>
        <a href="#">
         Menu subitem 4
        </a>
       </li>
       <li>
        <a href="#">
         Menu subitem 5
        </a>
       </li>
      </ul>
      <!--[if lte IE 6]></td></tr></table></a><![endif]-->
     </li>
    </ul>
   </div>
   <!-- C. MAIN SECTION -->
   <div class="main">
    <!-- C.1 CONTENT -->
    <div class="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <!-- C.2 SUBCONTENT -->
    <div class="subcontent">
     <!-- SUBCONTENT CELL -->
     <div class="subcontent-cell-corner-top">
     </div>
     <div class="subcontent-cell">
      <h1>
       Download
      </h1>
      <h6>
       Full Template Package
      </h6>
      <p>
       Contains the Basic Template Package, Media Package and Graphics Package all in one. Automatically installs all files needed for multimedia content.
       <br />
       &rarr;
       <a href="http://www.1234.info/webtemplates/multiflex5/">
        Download
       </a>
       (17.1 MB)
      </p>
      <h6>
       Basic Template Package
      </h6>
      <p>
       Contains HTML, CSS and image files. Multimedia content not possible.
       <br />
       &rarr;
       <a href="http://www.1234.info/webtemplates/multiflex5/">
        Download
       </a>
       (70 KB)
      </p>
      <h6>
       Media Package
      </h6>
      <p>
       Contains media setup (1.1MB), plus demo audio and video files (15 MB).
       <br />
       &rarr;
       <a href="http://www.1234.info/webtemplates/multiflex5/">
        Download
       </a>
       (16.1 MB)
      </p>
      <h6>
       Graphics Package
      </h6>
      <p>
       Contains original graphics files.
       <br />
       &rarr;
       <a href="http://www.1234.info/webtemplates/multiflex5/">
        Download
       </a>
       (0.8 MB)
      </p>
     </div>
     <div class="subcontent-cell-corner-bottom">
     </div>
     <!-- SUBCONTENT CELL -->
     <div class="subcontent-cell-corner-top">
     </div>
     <div class="subcontent-cell">
      <h1>
       Multiflex Series
      </h1>
      <h6>
       Multiflex-1
      </h6>
      <p>
       Released: 15.05.2006
       <br />
       OK for operational use.
       <br />
       &rarr;
       <a href="http://www.1234.info/webtemplates/multiflex1/">
        Latest update
       </a>
      </p>
      <h6>
       Multiflex-2
      </h6>
      <p>
       Released: 08.06.2006
       <br />
       OK for operational use.
       <br />
       &rarr;
       <a href="http://www.1234.info/webtemplates/multiflex2/">
        Latest update
       </a>
      </p>
      <h6>
       Multiflex-3
      </h6>
      <p>
       Released: 25.11.2006
       <br />
       Well suited for operational use.
       <br />
       &rarr;
       <a href="http://www.1234.info/webtemplates/multiflex3/">
        Latest update
       </a>
      </p>
      <h6>
       Multiflex-4
      </h6>
      <p>
       Released: 18.12.2007
       <br />
       Well suited for operational use.
       <br />
       &rarr;
       <a href="http://www.1234.info/webtemplates/multiflex4/">
        Latest update
       </a>
      </p>
      <h6>
       Multiflex-5
      </h6>
      <p>
       Released: 18.01.2008
       <br />
       BEST for operational use.
       <br />
       &rarr;
       <a href="http://www.1234.info/webtemplates/multiflex5/">
        Latest update
       </a>
      </p>
     </div>
     <div class="subcontent-cell-corner-bottom">
     </div>
    </div>
   </div>
   <!-- D. FOOTER -->
   <div class="footer">
    <p>
     Copyright &copy; 2008 Your Company&nbsp;&nbsp;|&nbsp;&nbsp;All Rights Reserved
    </p>
    <p class="credits">
     Design by
     <a href="http://1234.info/" title="Designer Homepage">
      1234.info
     </a>
     | Modified by
     <a href="#" title="Modifyer Homepage">
      Your Name
     </a>
     | Powered by
     <a href="#" title="CMS Homepage">
      Your CMS
     </a>
     |
     <a href="http://validator.w3.org/check?uri=referer" title="Validate XHTML code">
      XHTML 1.0
     </a>
     |
     <a href="http://jigsaw.w3.org/css-validator/" title="Validate CSS code">
      CSS 2.0
     </a>
    </p>
   </div>
   <div class="corner-bottom">
   </div>
  </div>
 </body>
</html>
