<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
 <!--  Version: Multiflex-4.0 / Overview                     -->
 <!--  Date:    December 18, 2007                           -->
 <!--  Design:  1234.info                                    -->
 <!--  License: Fully open source without restrictions.      -->
 <!--           Please keep footer credits with the words    -->
 <!--           "Design by 1234.info" Thank you!             -->
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Multiflex4/./css/mf4_layout4_setup.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Multiflex4/./css/mf4_layout4_text.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Multiflex4/./img/favicon.ico'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <!-- Global IE fix to avoid layout crash when single word size wider than column width -->
 <!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->
 <body>
  <!-- Main Page Container -->
  <div class="page-container">
   <!--  START COPY here -->
   <!-- A. HEADER -->
   <div class="header">
    <!-- A.1 HEADER TOP -->
    <div class="header-top">
     <div class="round-border-topleft">
     </div>
     <div class="round-border-topright">
     </div>
     <!-- Sitelogo and sitename -->
     <a class="sitelogo" href="#" title="Home">
     </a>
     <div class="sitename">
      <h1>
       {{=response.title or request.application}}
      </h1>
      <h2>
       {{=response.subtitle or '=response.subtitle'}}
      </h2>
     </div>
     <!-- Navigation Level 0 -->
     <div class="nav0">
      <ul>
       <li>
        <a href="#" title="English">
         <img src="./img/flag_greatbritain.png" alt="Image description" />
        </a>
       </li>
       <li>
        <a href="#" title="Deutsch">
         <img src="./img/flag_germany.png" alt="Image description" />
        </a>
       </li>
       <li>
        <a href="#" title="Svenska">
         <img src="./img/flag_sweden.png" alt="Image description" />
        </a>
       </li>
      </ul>
     </div>
     <!-- Navigation Level 1 -->
     <div class="nav1">
      <ul>
       <li>
        <a href="#" title="Who we are">
         Links
        </a>
       </li>
       <li>
        <a href="#" title="Send us a message">
         Contact
        </a>
       </li>
       <li>
        <a href="#" title="Send us a message">
         Impressum
        </a>
       </li>
      </ul>
     </div>
    </div>
    <!-- A.3 HEADER BOTTOM -->
    <div class="header-bottom">
     <!-- Navigation Level 2 (Drop-down menus) -->
     <div class="nav2">
      <!-- Navigation item -->
      <ul>
       <li>
        <a href="index.html">
         Home
        </a>
       </li>
      </ul>
      <!-- Navigation item -->
      <ul>
       <li>
        <a href="#">
         Page Layouts
         <!--[if IE 7]><!-->
        </a>
        <!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul>
         <li>
          <a href="mf4_layout1.html">
           Layout-1
          </a>
         </li>
         <li>
          <a href="mf4_layout2.html">
           Layout-2
          </a>
         </li>
         <li>
          <a href="mf4_layout3.html">
           Layout-3
          </a>
         </li>
         <li>
          <a href="mf4_layout4.html">
           Layout-4
          </a>
         </li>
         <li>
          <a href="mf4_layout5.html">
           Layout-5
          </a>
         </li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
       </li>
      </ul>
     </div>
    </div>
    <!-- A.4 HEADER BREADCRUMBS -->
    <!-- Breadcrumbs -->
    <div class="header-breadcrumbs">
     <ul>
      <li>
       <a href="#">
        Home
       </a>
      </li>
      <li>
       <a href="#">
        Category-1
       </a>
      </li>
      <li>
       <a href="#">
        Section-1.1
       </a>
      </li>
      <li>
       <a href="#">
        Content-1.1.1
       </a>
      </li>
     </ul>
     <!-- Search form -->
     <div class="searchform">
      <form action="index.html" method="get">
       <fieldset>
        <input name="field" class="field" value=" Search..." />
        <input type="submit" name="button" class="button" value="GO!" />
       </fieldset>
      </form>
     </div>
    </div>
   </div>
   <!--  END COPY here -->
   <!-- B. MAIN -->
   <div class="main">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- C. FOOTER AREA -->
   <div class="footer">
    <p>
     Copyright &copy; 2008 Your Company | All Rights Reserved
    </p>
    <p class="credits">
     Design by
     <a href="http://1234.info/" title="Designer Homepage">
      1234.info
     </a>
     | Modified by
     <a href="#" title="Modifyer Homepage">
      Your Name
     </a>
     | Powered by
     <a href="#" title="CMS Homepage">
      Your CMS
     </a>
     |
     <a href="http://validator.w3.org/check?uri=referer" title="Validate XHTML code">
      XHTML 1.0
     </a>
     |
     <a href="http://jigsaw.w3.org/css-validator/" title="Validate CSS code">
      CSS 2.0
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
