<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
 <!--  Version: Multiflex-3 Update-4 / Overview             -->
 <!--  Date:    December 11, 2006                           -->
 <!--  Author:  Wolfgang                                    -->
 <!--  License: Fully open source without restrictions.     -->
 <!--           Please keep footer credits with a link to   -->
 <!--           Wolfgang (www.1-2-3-4.info). Thank you!     -->
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Multiflex3/./css/layout4_setup.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Multiflex3/./css/layout4_text.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Multiflex3/./img/favicon.ico'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <!-- Global IE fix to avoid layout crash when single word size wider than column width -->
 <!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->
 <body>
  <!-- Main Page Container -->
  <div class="page-container">
   <!-- For alternative headers START PASTE here -->
   <!-- A. HEADER -->
   <div class="header">
    <!-- A.1 HEADER TOP -->
    <div class="header-top">
     <!-- Sitelogo and sitename -->
     <a class="sitelogo" href="#" title="Go to Start page">
     </a>
     <div class="sitename">
      <h1>
       {{=response.title or request.application}}
      </h1>
      <h2>
       {{=response.subtitle or '=response.subtitle'}}
      </h2>
     </div>
     <!-- Navigation Level 0 -->
     <div class="nav0">
      <ul>
       <li>
        <a href="#" title="Pagina home in Italiano">
         <img src="./img/flag_italy.gif" alt="Image description" />
        </a>
       </li>
       <li>
        <a href="#" title="Homepage auf Deutsch">
         <img src="./img/flag_germany.gif" alt="Image description" />
        </a>
       </li>
       <li>
        <a href="#" title="Hemsidan p&aring; svenska">
         <img src="./img/flag_sweden.gif" alt="Image description" />
        </a>
       </li>
      </ul>
     </div>
     <!-- Navigation Level 1 -->
     <div class="nav1">
      <ul>
       <li>
        <a href="#" title="Go to Start page">
         Home
        </a>
       </li>
       <li>
        <a href="#" title="Get to know who we are">
         About
        </a>
       </li>
       <li>
        <a href="#" title="Get in touch with us">
         Contact
        </a>
       </li>
       <li>
        <a href="#" title="Get an overview of website">
         Sitemap
        </a>
       </li>
      </ul>
     </div>
    </div>
    <!-- A.2 HEADER MIDDLE -->
    <div class="header-middle">
     <!-- Site message -->
     <div class="sitemessage">
      <h1>
       EASY &bull; FRESH &bull; ROBUST
      </h1>
      <h2>
       The third generation Multiflex is here, now with cooler design features and easier code.
      </h2>
      <h3>
       <a href="#">
        &rsaquo;&rsaquo;&nbsp;More details
       </a>
      </h3>
     </div>
    </div>
    <!-- A.3 HEADER BOTTOM -->
    <div class="header-bottom">
     <!-- Navigation Level 2 (Drop-down menus) -->
     <div class="nav2">
      <!-- Navigation item -->
      <ul>
       <li>
        <a href="index.html">
         Overview
        </a>
       </li>
      </ul>
      <!-- Navigation item -->
      <ul>
       <li>
        <a href="#">
         Page Layouts
         <!--[if IE 7]><!-->
        </a>
        <!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul>
         <li>
          <a href="layout1.html">
           Layout-1 (1-col)
          </a>
         </li>
         <li>
          <a href="layout2.html">
           Layout-2 (2-col)
          </a>
         </li>
         <li>
          <a href="layout3.html">
           Layout-3 (2-col)
          </a>
         </li>
         <li>
          <a href="layout4.html">
           Layout-4 (3-col)
          </a>
         </li>
         <li>
          <a href="layout5.html">
           Layout-5 (3-col)
          </a>
         </li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
       </li>
      </ul>
      <!-- Navigation item -->
      <ul>
       <li>
        <a href="#">
         Header Layouts
         <!--[if IE 7]><!-->
        </a>
        <!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul>
         <li>
          <a href="header1.html">
           Header-1 (T+M+B)
          </a>
         </li>
         <li>
          <a href="header2.html">
           Header-2 (T+M)
          </a>
         </li>
         <li>
          <a href="header3.html">
           Header-3 (T+B)
          </a>
         </li>
         <li>
          <a href="header4.html">
           Header-4 (M+B)
          </a>
         </li>
         <li>
          <a href="header5.html">
           Header-5 (T)
          </a>
         </li>
         <li>
          <a href="header6.html">
           Header-6 (M)
          </a>
         </li>
         <li>
          <a href="header7.html">
           Header-7 (B)
          </a>
         </li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
       </li>
      </ul>
     </div>
    </div>
    <!-- A.4 HEADER BREADCRUMBS -->
    <!-- Breadcrumbs -->
    <div class="header-breadcrumbs">
     <ul>
      <li>
       <a href="#">
        Home
       </a>
      </li>
      <li>
       <a href="#">
        Webdesign
       </a>
      </li>
      <li>
       <a href="#">
        Templates
       </a>
      </li>
      <li>
       Multiflex-3
      </li>
     </ul>
     <!-- Search form -->
     <div class="searchform">
      <form action="#" method="get" class="form">
       <fieldset>
        <input value=" Search..." name="field" class="field" />
        <input type="submit" value="GO!" name="button" class="button" />
       </fieldset>
      </form>
     </div>
    </div>
   </div>
   <!-- For alternative headers END PASTE here -->
   <!-- B. MAIN -->
   <div class="main">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- C. FOOTER AREA -->
   <div class="footer">
    <p>
     Copyright &copy; 2006 Your Company | All Rights Reserved
    </p>
    <p class="credits">
     Design by
     <a href="http://www.1-2-3-4.info/" title="Designer Homepage">
      Wolfgang
     </a>
     | Modified by
     <a href="#" title="Adaptor Homepage">
      Your Name
     </a>
     | Powered by
     <a href="#" title="Content Management System">
      Your CMS
     </a>
     |
     <a href="http://validator.w3.org/check?uri=referer" title="Validate XHTML code">
      W3C XHTML 1.0
     </a>
     |
     <a href="http://jigsaw.w3.org/css-validator/" title="Validate CSS code">
      W3C CSS 2.0
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
