<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="www-nikhedonia-com">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Natatorium/screen.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body id="bhome">
  <div id="container">
   <p id="meta">
    <a href="#01" title="Home">
     Home
    </a>
    |
    <a href="#02" title="Login">
     User Login
    </a>
    |
    <a href="#03" title="Register">
     Register
    </a>
    |
    <a href="#04" title="Events">
     Events
    </a>
    |
    <a href="#04" title="Sitemap">
     Sitemap
    </a>
   </p>
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
   <div id="navigation">
    <ul>
     <li id="lhome">
      <a href="#06" title="Home">
       Home
      </a>
     </li>
     <li id="lproducts">
      <a href="#07" title="Products">
       Products
      </a>
     </li>
     <li id="lsolutions">
      <a href="#08" title="Solutions">
       Solutions
      </a>
     </li>
     <li id="lsupport">
      <a href="#09" title="Support">
       Support
      </a>
     </li>
     <li id="lblog">
      <a href="#10" title="Blog">
       Blog
      </a>
     </li>
     <li id="labout">
      <a href="#11" title="About">
       About Us
      </a>
     </li>
     <li id="lcontact">
      <a href="#12" title="Contact">
       Contact Us
      </a>
     </li>
    </ul>
   </div>
   <div id="wrapper">
    <div id="featured">
     <!-- Featured item (or a big image) goes here -->
     <p>
      <img src="featured.png" width="640px" height="240px" alt="Featured Image Goes Here" />
     </p>
    </div>
    <div id="content-wrapper">
     <div id="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
    </div>
    <div id="sidebar-wrapper">
     <div id="sidebar">
      <h6>
       Unordered List
      </h6>
      <ul>
       <li>
        <a href="#">
         Lorem
        </a>
       </li>
       <li>
        <a href="#">
         Dolor
        </a>
       </li>
       <li>
        <a href="#">
         Sit
        </a>
       </li>
       <li>
        <a href="#">
         Amet
        </a>
       </li>
      </ul>
      <h6>
       Ordered List
      </h6>
      <ol>
       <li>
        Lorem
       </li>
       <li>
        Ipsum
       </li>
       <li>
        Sit
       </li>
       <li>
        Amet
       </li>
       <li>
        Dolor
       </li>
       <li>
        Kurb
       </li>
       <li>
        Metita
       </li>
      </ol>
     </div>
    </div>
   </div>
   <div id="footer">
    <p>
     Copyright &copy; 2006 Natatorium. All rights reserved. |
     <a href="#13" title="Legal">
      Legal
     </a>
     |
     <a href="#14" title="Privacy">
      Privacy
     </a>
     |
     <a href="#1%" title="Accessibility">
      Accessibility
     </a>
     |
     <a href="#16" title="Sitemap">
      Sitemap
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
