<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/NaturalEssence/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrapper">
   <div id="container">
    <div class="title">
     <h1>
      {{=response.title or request.application}}
     </h1>
    </div>
    <div class="header">
    </div>
    <div class="navigation">
     <a href="index.html" id="active">
      Two Columns
     </a>
     <a href="single-column.html">
      Single Column
     </a>
     <a href="no-header.html">
      Without Header
     </a>
     <a href="index.html">
      Malesuada
     </a>
     <a href="index.html">
      Lobortis
     </a>
     <a href="index.html">
      Pharetra
     </a>
     <div class="clearer">
     </div>
    </div>
    <div class="main" id="two-columns">
     <div class="col2">
      <div class="left">
       <div class="content">
        <div class="flash">{{=response.flash or ''}}</div>
        {{include}}
       </div>
      </div>
      <div class="right">
       <div class="content">
        <h2>
         Something
        </h2>
        <ul class="block">
         <li>
          <a href="index.html">
           pellentesque
          </a>
         </li>
         <li>
          <a href="index.html">
           sociis natoque
          </a>
         </li>
         <li>
          <a href="index.html">
           semper
          </a>
         </li>
         <li>
          <a href="index.html">
           convallis
          </a>
         </li>
        </ul>
        <h2>
         Another thing
        </h2>
        <ul class="block">
         <li>
          <a href="index.html">
           consequat molestie
          </a>
         </li>
         <li>
          <a href="index.html">
           sem justo
          </a>
         </li>
         <li>
          <a href="index.html">
           semper
          </a>
         </li>
         <li>
          <a href="index.html">
           sociis natoque
          </a>
         </li>
        </ul>
        <h2>
         Third and last
        </h2>
        <ul class="block">
         <li>
          <a href="index.html">
           sociis natoque
          </a>
         </li>
         <li>
          <a href="index.html">
           magna sed purus
          </a>
         </li>
         <li>
          <a href="index.html">
           tincidunt
          </a>
         </li>
         <li>
          <a href="index.html">
           consequat molestie
          </a>
         </li>
        </ul>
        <h2>
         And some text
        </h2>
        <p>
         Donec ligula lorem, varius eget, semper eget, aliquet quis, lectus. Vestibulum ipsum nunc, aliquet quis, blandit ac, varius a, est.
        </p>
       </div>
      </div>
      <div class="clearer">
      </div>
     </div>
     <div class="bottom">
      <div class="left">
       <h2>
        Previous entries
       </h2>
       <ul class="block">
        <li>
         <a href="">
          <span>
           Sodales
          </span>
          <em>
           Vestibulum ipsum nunc, aliquet quis
          </em>
         </a>
        </li>
        <li>
         <a href="">
          <span>
           Varius eget
          </span>
          <em>
           Donec ligula lorem, varius eget
          </em>
         </a>
        </li>
        <li>
         <a href="">
          <span>
           Integer varius
          </span>
          <em>
           Nam semper ornare ipsum
          </em>
         </a>
        </li>
        <li>
         <a href="">
          <span>
           Vehicula
          </span>
          <em>
           Cras sed purus non justo
          </em>
         </a>
        </li>
       </ul>
      </div>
      <div class="right">
       <h2>
        About
       </h2>
       <p>
        Sed, luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue.
       </p>
       <h2>
        From the gallery
       </h2>
       <table>
        <tr>
         <td>
          <img src="img/thumb.gif" width="110" height="90" alt="" />
         </td>
         <td style="width:5px">
         </td>
         <td>
          <img src="img/thumb.gif" width="110" height="90" alt="" />
         </td>
         <td style="width:5px">
         </td>
         <td>
          <img src="img/thumb.gif" width="110" height="90" alt="" />
         </td>
        </tr>
       </table>
      </div>
      <div class="clearer">
      </div>
     </div>
     <div class="footer">
      <div class="left">
       Copyright &copy; 2007
       <a href="index.html">
        Website.com
       </a>
      </div>
      <div class="right">
       <a href="http://templates.arcsin.se">
        Website template
       </a>
       by
       <a href="http://arcsin.se">
        Arcsin
       </a>
      </div>
      <div class="clearer">
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>