<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/NightShots/main.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <div id="search">
     <input type="text" id="searchText" />
     <span style="background-color:black;color:#FFF;padding:2px;border:#FCE796 solid 1px;">
      Search
     </span>
    </div>
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
   <div id="leftCol">
    <div id="menu">
     {{=MENU(response.menu)}}
    </div>
    <div class="news">
     <h3>
      News:
     </h3>
     <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
					erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
					Sed ac tellus.
     </p>
     <p>
      Want to have some fun try searching for you lookalike or doppelganger online at
      <a href="http://www.findmytwinonline.com">
       Find My Twin
      </a>
      .
     </p>
     <p>
      Get Free Classifieds at
      <a href="http://www.snappyad.com">
       SnappyAd
      </a>
      .
     </p>
     <p>
      <a href="http://validator.w3.org/check?uri=referer">
       Valid XHTML 1.0 Strict
      </a>
     </p>
    </div>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <hr />
    Copyright your name, Design by Bryan Lass,
    <a href="http://www.idavista.com">
     IdaVista
    </a>
    , Inc.
    <br />
    Download your free auto maintenance reminder at
    <a href="http://www.idavista.com/transroster">
     www.idavista.com
    </a>
   </div>
  </div>
 </body>
</html>