<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/No_Frills_Green/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrapper">
   <div id="header">
    <img src="header1.jpg" alt="No Frills Header" />
    <div id="navcontainer">
     <ul id="navlist">
      <li>
       <a href="#" id="current" name="current">
        Products
       </a>
      </li>
      <li style="list-style: none">
       ||
      </li>
      <li>
       <a href="#">
        About Us
       </a>
      </li>
      <li style="list-style: none">
       ||
      </li>
      <li>
       <a href="#">
        Downloads
       </a>
      </li>
      <li style="list-style: none">
       ||
      </li>
      <li>
       <a href="#">
        News
       </a>
      </li>
      <li style="list-style: none">
       ||
      </li>
      <li>
       <a href="#">
        Contact
       </a>
      </li>
      <li style="list-style: none">
       ||
      </li>
     </ul>
    </div>
    <!-- close wrapper -->
   </div>
   <!-- close header -->
  </div>
  <!-- close nav -->
  <div id="main">
   <div class="flash">{{=response.flash or ''}}</div>
   {{include}}
  </div>
  <!-- closeleft -->
  <br />
  <br />
 </body>
</html>
