<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/OnePenny/screen.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body id="bhome">
  <div id="container">
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
   <div id="navigation">
    <ul>
     <li id="lhome">
      <a href="#01" title="Home">
       Home
      </a>
     </li>
     <li id="lblog">
      <a href="#04" title="Blog">
       Blog
      </a>
     </li>
     <li id="lproducts">
      <a href="#05" title="Products">
       Products
      </a>
     </li>
     <li id="lsupport">
      <a href="#06" title="Support">
       Support
      </a>
     </li>
     <li id="labout">
      <a href="#02" title="About">
       About
      </a>
     </li>
     <li id="lcontact">
      <a href="#03" title="Contact">
       Contact
      </a>
     </li>
    </ul>
   </div>
   <div id="wrapper">
    <div id="content-wrapper">
     <div id="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
    </div>
    <div id="sidebar-wrapper">
     <div id="sidebar">
      <h3>
       Sidenotes
      </h3>
      <ul id="sidenotes">
       <li>
        <a href="http://www.nikhedonia.com/" title="SimplyGold">
         <span class="title">
          Free Template: One Penny
         </span>
         <span class="date">
          Posted On: 07-21-2006
         </span>
         <span class="content">
          One Penny is a free template that focuses on simplicity.
         </span>
        </a>
       </li>
       <li>
        <a href="http://en.wikipedia.org/wiki/Beetles" title="Beetles">
         <span class="title">
          Beetles
         </span>
         <span class="date">
          Posted On: 07-20-2006
         </span>
         <span class="content">
          Beetles are yucky and gross. They're also present everywhere.
         </span>
        </a>
       </li>
       <li>
        <a href="http://en.wikipedia.org/wiki/Worms" title="Worms">
         <span class="title">
          Worms
         </span>
         <span class="date">
          Posted On: 07-19-2006
         </span>
         <span class="content">
          If we could measure grossness, beetles are 4, snakes are 7, and worms are 10. Ugh.
         </span>
        </a>
       </li>
       <li>
        <a href="http://en.wikipedia.org/wiki/Computer_worm" title="Computer Worm">
         <span class="title">
          Computer Worms
         </span>
         <span class="date">
          Posted On: 07-18-2006
         </span>
         <span class="content">
          Suspiciously similar to real-life worms.
         </span>
        </a>
       </li>
       <li>
        <a href="http://en.wikipedia.org/wiki/Angel_Wing" title="Angel Wing">
         <span class="title">
          Angel Wing
         </span>
         <span class="date">
          Posted On: 07-10-2006
         </span>
         <span class="content">
          Diseases shouldn't have cute names, and that's all I have to say on the matter.
         </span>
        </a>
       </li>
       <li class="more">
        <a href="#" title="Read More &rarr;">
         More &rarr;
        </a>
       </li>
      </ul>
      <h6>
       Other Additions
      </h6>
      <p>
       Add whatever you want. Some popular additions include
       <abbr title="Really Simple Syndication">
        RSS
       </abbr>
       , 
						subscription links, and latest news.
      </p>
     </div>
    </div>
   </div>
   <div id="footer">
    Copyright &copy; 1999 &ndash; 2006 CompanyName. All rights reserved. | 
			Design by
    <a href="http://www.nikhedonia.com/" title="SimplyGold">
     Sadhana Ganapathiraju
    </a>
    |
    <a href="http://validator.w3.org/check/referer" title="Xhtml 1.0 Strict">
     Xhtml
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="CSS 2.0 Strict">
     Css
    </a>
    |
    <a href="#" title="Rss">
     Rss
    </a>
   </div>
  </div>
 </body>
</html>