<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/OxfordSunset/css/main.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body lang="en">
  <div id="container">
   <div id="header">
    <div class="header_text">
     <h1 class="title">
      {{=response.title or request.application}}
     </h1>
     <p>
      An XHTML 1.0/CSS standards-compliant open source template
     </p>
    </div>
   </div>
   <div id="sidebar">
    <ul id="navigation">
     <li>
      <a href="#">
       Diary
      </a>
     </li>
     <li>
      <a href="#">
       Stuff
      </a>
     </li>
     <li>
      <a href="#">
       Contact
      </a>
     </li>
    </ul>
    <h3>
     Links
    </h3>
    <ul id="links">
     <li>
      <a href="http://www.the-smallprint.co.uk">
       The Smallprint
      </a>
     </li>
     <li>
      <a href="http://www.torchbox.com">
       Torchbox Ltd
      </a>
     </li>
     <li>
      <a href="http://www.456bereastreet.com">
       456 Berea Street
      </a>
     </li>
    </ul>
    <h3>
     Other stuff
    </h3>
    <p>
     This area be used for anything you like.
    </p>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <p>
     Design by Dan Abrey. Feel free to modify and use this template for whatever purpose - initial credit is appreciated.
    </p>
   </div>
  </div>
 </body>
</html>
