<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Oxidation
Description: A two-column, fixed-width design for small websites and blogs.
Version    : 1.0
Released   : 20071229

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Oxidation/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
   <div id="search">
    <form id="searchform" method="get" action="">
     <fieldset>
      <input id="searchquery" type="text" size="25" name="s" value="" />
      <input id="searchsubmit" type="submit" value="Search" />
     </fieldset>
    </form>
   </div>
  </div>
  <!-- end #header -->
  <div id="menu">
   {{=MENU(response.menu)}}
  </div>
  <!-- end #menu -->
  <hr />
  <div id="page">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <div id="sidebar">
    <ul>
     <li id="calendar">
      <div id="calendar_wrap">
       <table summary="Calendar">
        <caption>
         December 2007
        </caption>
        <thead>
         <tr>
          <th abbr="Monday" scope="col">
           M
          </th>
          <th abbr="Tuesday" scope="col">
           T
          </th>
          <th abbr="Wednesday" scope="col">
           W
          </th>
          <th abbr="Thursday" scope="col">
           T
          </th>
          <th abbr="Friday" scope="col">
           F
          </th>
          <th abbr="Saturday" scope="col">
           S
          </th>
          <th abbr="Sunday" scope="col">
           S
          </th>
         </tr>
        </thead>
        <tfoot>
         <tr>
          <td abbr="November" colspan="3" id="prev">
           <a href="#">
            &laquo; Nov
           </a>
          </td>
          <td class="pad">
           &nbsp;
          </td>
          <td abbr="January" colspan="3" id="next">
           <a href="#">
            Jan &raquo;
           </a>
          </td>
         </tr>
        </tfoot>
        <tbody>
         <tr>
          <td colspan="5" class="pad">
           &nbsp;
          </td>
          <td>
           1
          </td>
          <td>
           2
          </td>
         </tr>
         <tr>
          <td>
           3
          </td>
          <td>
           4
          </td>
          <td>
           5
          </td>
          <td>
           6
          </td>
          <td>
           7
          </td>
          <td>
           8
          </td>
          <td>
           9
          </td>
         </tr>
         <tr>
          <td>
           10
          </td>
          <td>
           11
          </td>
          <td>
           12
          </td>
          <td>
           13
          </td>
          <td>
           14
          </td>
          <td>
           15
          </td>
          <td>
           <a href="#">
            16
           </a>
          </td>
         </tr>
         <tr>
          <td>
           17
          </td>
          <td>
           18
          </td>
          <td>
           19
          </td>
          <td>
           20
          </td>
          <td>
           21
          </td>
          <td>
           22
          </td>
          <td>
           23
          </td>
         </tr>
         <tr>
          <td>
           24
          </td>
          <td>
           25
          </td>
          <td>
           26
          </td>
          <td>
           27
          </td>
          <td>
           28
          </td>
          <td id="today">
           29
          </td>
          <td>
           30
          </td>
         </tr>
         <tr>
          <td>
           31
          </td>
          <td class="pad" colspan="6">
           &nbsp;
          </td>
         </tr>
        </tbody>
       </table>
      </div>
     </li>
     <li>
      <h2>
       Categories
      </h2>
      <ul>
       <li>
        <a href="#">
         Uncategorized
        </a>
        (3)
       </li>
       <li>
        <a href="#">
         Lorem Ipsum
        </a>
        (42)
       </li>
       <li>
        <a href="#">
         Urna Congue Rutrum
        </a>
        (28)
       </li>
       <li>
        <a href="#">
         Augue Praesent
        </a>
        (55)
       </li>
       <li>
        <a href="#">
         Vivamus Fermentum
        </a>
        (13)
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Archives
      </h2>
      <ul>
       <li>
        <a href="#">
         December 2007
        </a>
        &nbsp;(29)
       </li>
       <li>
        <a href="#">
         November 2007
        </a>
        &nbsp;(30)
       </li>
       <li>
        <a href="#">
         October 2007
        </a>
        &nbsp;(31)
       </li>
       <li>
        <a href="#">
         September 2007
        </a>
        &nbsp;(30)
       </li>
       <li>
        <a href="#">
         August 2007
        </a>
        &nbsp;(31)
       </li>
       <li>
        <a href="#">
         July 2007
        </a>
        &nbsp;(31)
       </li>
       <li>
        <a href="#">
         June 2007
        </a>
        &nbsp;(30)
       </li>
       <li>
        <a href="#">
         May 2007
        </a>
        &nbsp;(31)
       </li>
       <li>
        <a href="#">
         April 2007
        </a>
        &nbsp;(30)
       </li>
       <li>
        <a href="#">
         March 2007
        </a>
        &nbsp;(31)
       </li>
       <li>
        <a href="#">
         February 2007
        </a>
        &nbsp;(28)
       </li>
       <li>
        <a href="#">
         January 2007
        </a>
        &nbsp;(31)
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end #sidebar -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <hr />
  <div id="footer">
   <p class="legal">
    &copy;2007 All Rights Reserved.
   </p>
   <p class="credit">
    Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
  </div>
 </body>
</html>
