<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Author: Reality Software
Website: http://www.realitysoftware.ca
Note: This is a free template released under the Creative Commons Attribution 3.0 license, 
which means you can use it in any way you want provided you keep links to the author intact.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Papira/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="all">
   <div id="container">
    <!-- header -->
    <div id="logo">
     <a href="#">
      <span class="brown">
       <strong>
        Your
       </strong>
      </span>
      website name
     </a>
    </div>
    <div id="menu">
     {{=MENU(response.menu)}}
    </div>
    <!--end header -->
    <!-- main -->
    <div id="main">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <!-- end main -->
    <!-- footer -->
    <div id="footer">
     <div id="left_footer">
      &copy; Copyright 2008 Your website
     </div>
     <div id="right_footer">
      <!-- Please do not change or delete this links. Read the license! Thanks. :-) -->
      <a href="http://www.realitysoftware.ca/website-design.html">
       Website design
      </a>
      by
      <a href="http://www.realitysoftware.ca">
       Reality Software
      </a>
     </div>
    </div>
    <!-- end footer -->
   </div>
  </div>
 </body>
</html>