<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Personified 
Version    : 1.0
Released   : 20080706
Description: A wide two-column design suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Personified/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- start header -->
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     &nbsp;&nbsp;by&nbsp;
     <a href="http://www.freecsstemplates.org/">
      Free CSS Templates
     </a>
    </p>
   </div>
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="page">
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start sidebar -->
   <div id="sidebar">
    <ul>
     <li>
      <h2>
       Lorem Ipsum
      </h2>
      <ul>
       <li>
        <a href="#">
         Fusce dui neque fringilla
        </a>
       </li>
       <li>
        <a href="#">
         Eget tempor eget nonummy
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Nec metus sed donec
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Velit semper nisi molestie
        </a>
       </li>
       <li>
        <a href="#">
         Eget tempor eget nonummy
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Lorem Ipsum
      </h2>
      <ul>
       <li>
        <a href="#">
         Fusce dui neque fringilla
        </a>
       </li>
       <li>
        <a href="#">
         Eget tempor eget nonummy
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Nec metus sed donec
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Velit semper nisi molestie
        </a>
       </li>
       <li>
        <a href="#">
         Eget tempor eget nonummy
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Volutpat Dolore
      </h2>
      <ul>
       <li>
        <a href="#">
         Eget tempor eget nonummy
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Velit semper nisi molestie
        </a>
       </li>
       <li>
        <a href="#">
         Nec metus sed donec
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Fusce dui neque fringilla
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Magna Bibendum
      </h2>
      <ul>
       <li>
        <a href="#">
         Nec metus sed donec
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Velit semper nisi molestie
        </a>
       </li>
       <li>
        <a href="#">
         Eget tempor eget nonummy
        </a>
       </li>
       <li>
        <a href="#">
         Nec metus sed donec
        </a>
       </li>
       <li>
        <a href="#">
         Magna lacus bibendum mauris
        </a>
       </li>
       <li>
        <a href="#">
         Velit semper nisi molestie
        </a>
       </li>
      </ul>
     </li>
    </ul>
    <div style="clear: both;">
     &nbsp;
    </div>
   </div>
   <!-- end sidebar -->
  </div>
  <!-- end page -->
  <div id="footer-bg">
   <div id="footer">
    <p id="legal">
     &copy;2007 Personified . All Rights Reserved.  Designed by
     <a href="http://www.freecsstemplates.org/">
      Free CSS Templates
     </a>
    </p>
    <p id="links">
     <a href="#">
      Privacy
     </a>
     &nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;
     <a href="#">
      Terms
     </a>
     &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
     <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">
      <abbr title="eXtensible HyperText Markup Language">
       XHTML
      </abbr>
     </a>
     &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
     <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS">
      <abbr title="Cascading Style Sheets">
       CSS
      </abbr>
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
