<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/photoart4/style/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="main">
   <div id="logo">
   </div>
   <div id="menubar">
    <ul id="menu">
     <li>
      <a class="current" href="index.html" title="Sidebar - Left">
       Home
      </a>
     </li>
     <li>
      <a href="index_2col_right.html" title="Sidebar - Right">
       Sidebar - Right
      </a>
     </li>
     <li>
      <a href="index_1col_bottom.html" title="1 Column - Bottom">
       1 Column - bottom
      </a>
     </li>
     <li>
      <a href="index_1col_top.html" title="1 Column - Top">
       1 Column - Top
      </a>
     </li>
    </ul>
    <div id="search">
     <form method="post" action="#">
      <p>
       <input class="searchfield" type="text" value="" />
       <input class="searchbutton" name="submit" type="submit" value="search" />
      </p>
     </form>
    </div>
   </div>
   <div id="site_content">
    <div class="sidebar">
     <div class="sidebaritem">
      <!-- rounded corners - top **** -->
      <div class="rtop">
       <div class="r1">
       </div>
       <div class="r2">
       </div>
       <div class="r3">
       </div>
       <div class="r4">
       </div>
      </div>
      <h3>
       Categories
      </h3>
      <ul>
       <li>
        <a class="current" href="#" title="Home">
         Home
        </a>
       </li>
       <li>
        <a href="#" title="">
         Category 1 (0)
        </a>
       </li>
      </ul>
      <!-- rounded corners - bottom **** -->
      <div class="rbottom">
       <div class="r4">
       </div>
       <div class="r3">
       </div>
       <div class="r2">
       </div>
       <div class="r1">
       </div>
      </div>
     </div>
     <div class="sidebaritem">
      <!-- rounded corners - top **** -->
      <div class="rtop">
       <div class="r1">
       </div>
       <div class="r2">
       </div>
       <div class="r3">
       </div>
       <div class="r4">
       </div>
      </div>
      <h3>
       Articles
      </h3>
      <ul>
       <li>
        <a href="#" title="">
         Article 1
        </a>
       </li>
       <li>
        <a href="#" title="">
         Article 2
        </a>
       </li>
      </ul>
      <!-- rounded corners - bottom **** -->
      <div class="rbottom">
       <div class="r4">
       </div>
       <div class="r3">
       </div>
       <div class="r2">
       </div>
       <div class="r1">
       </div>
      </div>
     </div>
     <div class="sidebaritem">
      <!-- rounded corners - top **** -->
      <div class="rtop">
       <div class="r1">
       </div>
       <div class="r2">
       </div>
       <div class="r3">
       </div>
       <div class="r4">
       </div>
      </div>
      <h3>
       Comments
      </h3>
      <ul>
       <li>
        <a href="#" title="">
         Comment 1
        </a>
       </li>
       <li>
        <a href="#" title="">
         Comment 2
        </a>
       </li>
      </ul>
      <!-- rounded corners - bottom **** -->
      <div class="rbottom">
       <div class="r4">
       </div>
       <div class="r3">
       </div>
       <div class="r2">
       </div>
       <div class="r1">
       </div>
      </div>
     </div>
    </div>
    <div id="content_container">
     <!-- rounded corners - top **** -->
     <div class="rtop">
      <div class="r1">
      </div>
      <div class="r2">
      </div>
      <div class="r3">
      </div>
      <div class="r4">
      </div>
     </div>
     <div id="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
     <!-- rounded corners - bottom **** -->
     <div class="rbottom">
      <div class="r4">
      </div>
      <div class="r3">
      </div>
      <div class="r2">
      </div>
      <div class="r1">
      </div>
     </div>
    </div>
   </div>
   <div id="footer">
    Copyright &copy; Company Name |
    <a href="http://validator.w3.org/check?uri=referer">
     XHTML 1.1
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
     CSS
    </a>
    |
    <a href="http://www.dcarter.co.uk">
     design by dcarter
    </a>
    |
    <a href="#">
     Login
    </a>
   </div>
  </div>
 </body>
</html>
