<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Pluralism
Description: A two-column, fixed-width template fit for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20071218

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Pluralism/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrapper">
   <div id="wrapper2">
    <div id="header">
     <div id="logo">
      <h1>
       {{=response.title or request.application}}
      </h1>
     </div>
     <div id="menu">
      {{=MENU(response.menu)}}
     </div>
    </div>
    <!-- end #header -->
    <div id="page">
     <div id="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
     <!-- end #content -->
     <div id="sidebar">
      <ul>
       <li id="search">
        <h3>
         Search
        </h3>
        <form id="searchform" method="get" action="">
         <div>
          <input type="text" name="s" id="s" size="15" />
          <br />
          <input name="submit" type="submit" value="Go" />
         </div>
        </form>
       </li>
       <li>
        <h3>
         Veroeros etiam
        </h3>
        <p>
         <strong>
          Morbi sit amet
         </strong>
         mauris Nam vitae nibh eu sapien dictum pharetra. Vestibulum elementum neque vel lacus. Proin auctor dolor loremmassa. Phasellus sit.
         <a href="#">
          More&hellip;
         </a>
        </p>
       </li>
       <li>
        <h3>
         Blandit Volutpat
        </h3>
        <ul>
         <li>
          <a href="#">
           Morbi sit amet sed magna
          </a>
         </li>
         <li>
          <a href="#">
           Lacus dapibus interdum
          </a>
         </li>
         <li>
          <a href="#">
           Donec pede nisl dolore sed
          </a>
         </li>
         <li>
          <a href="#">
           Lacus dapibus et interdum
          </a>
         </li>
         <li>
          <a href="#">
           Morbi sit amet magna  etiam
          </a>
         </li>
         <li>
          <a href="#">
           Maecenas sed sem lorem
          </a>
         </li>
         <li>
          <a href="#">
           Lacus dapibus interdum
          </a>
         </li>
         <li>
          <a href="#">
           Donec pede nisl dolore
          </a>
         </li>
        </ul>
       </li>
      </ul>
     </div>
     <!-- end #sidebar -->
     <div style="clear: both;">
      &nbsp;
     </div>
     <div id="widebar">
      <div id="colA">
       <h3>
        Volutpat Consequat
       </h3>
       <dl class="list1">
        <dt>
         12.17.2007
        </dt>
        <dd>
         <a href="#">
          Praesent nonummy sed lorem
         </a>
        </dd>
        <dt>
         12.13.2007
        </dt>
        <dd>
         <a href="#">
          Mauris sagittis neque nec nisi sed
         </a>
        </dd>
        <dt>
         12.05.2007
        </dt>
        <dd>
         <a href="#">
          Vel turpis integer leo venenatis
         </a>
        </dd>
        <dt>
         12.02.2007
        </dt>
        <dd>
         <a href="#">
          Et pharetra quis sed viverra ante
         </a>
        </dd>
        <dt>
         11.30.2007
        </dt>
        <dd>
         <a href="#">
          Integer leo lorem sed lorem
         </a>
        </dd>
       </dl>
      </div>
      <div id="colB">
       <h3>
        Pharetra Sed Tempus
       </h3>
       <p>
        Morbi sit amet mauris Nam vitae nibh eu sapien dictum pharetra. Vestibulum elementum neque vel lacus. Lorem ipsum dolor sit dolore phasellus pede lorem proin auctor dolor loremmassa phasellus sit.
        <a href="#">
         More&hellip;
        </a>
       </p>
      </div>
      <div id="colC">
       <h3>
        Donec Lorem Interdum
       </h3>
       <ul class="list2">
        <li>
         <a href="#">
          <img src="images/img12.jpg" alt="" width="50" height="50" />
         </a>
        </li>
        <li>
         <a href="#">
          <img src="images/img13.jpg" alt="" width="50" height="50" />
         </a>
        </li>
        <li class="nopad">
         <a href="#">
          <img src="images/img14.jpg" alt="" width="50" height="50" />
         </a>
        </li>
        <li>
         <a href="#">
          <img src="images/img15.jpg" alt="" width="50" height="50" />
         </a>
        </li>
        <li>
         <a href="#">
          <img src="images/img16.jpg" alt="" width="50" height="50" />
         </a>
        </li>
        <li class="nopad">
         <a href="#">
          <img src="images/img17.jpg" alt="" width="50" height="50" />
         </a>
        </li>
       </ul>
      </div>
      <div style="clear: both;">
       &nbsp;
      </div>
     </div>
     <!-- end #widebar -->
    </div>
    <!-- end #page -->
   </div>
   <!-- end #wrapper2 -->
   <div id="footer">
    <p>
     (c) 2007 Website Name. Design by
     <a href="http://www.nodethirtythree.com/">
      NodeThirtyThree
     </a>
     +
     <a href="http://www.freecsstemplates.org/">
      Free CSS Templates
     </a>
    </p>
   </div>
  </div>
  <!-- end #wrapper -->
 </body>
</html>
