<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/PointSpace/./css/default.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/PointSpace/./css/print.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="view">
   <!-- 
    #hlavicka vcetne loga a listy s hlavni nabidkou
      - h1 hlavní nadpis a absolutni pozadi v logu
      - ul seznam - hlavní menu (span odpovida cervene odrazce)
      - aktivni zalozka oznacena v elementu li tridou "active"
  -->
   <div id="head">
    <div id="logo">
     <a href="" class="block">
      &nbsp;
     </a>
     <h1>
      {{=response.title or request.application}}
     </h1>
     <h2>
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
    </div>
    <hr class="hidden" />
    <div id="mainMenu">
     <ul>
      <li>
       <a href="index.html">
        Link 01
        <span>
        </span>
       </a>
      </li>
      <li>
       <a href="#content">
        Link 02
        <span>
        </span>
       </a>
      </li>
      <li>
       <a href="index.html">
        Link 03
        <span>
        </span>
       </a>
      </li>
      <li class="active">
       <a href="">
        Link 04
        <span>
        </span>
       </a>
      </li>
      <li>
       <a href="index.html">
        Link 05
        <span>
        </span>
       </a>
      </li>
      <li>
       <a href="index.html">
        Link 06
        <span>
        </span>
       </a>
      </li>
     </ul>
     <form action="" method="post" id="search">
      <fieldset>
       <input type="text" name="" value="" class="button" />
       <input type="submit" value="" class="submit" />
      </fieldset>
     </form>
    </div>
    <hr class="hidden" />
   </div>
   <!-- /#hlavicka vcetne loga a listy s hlavni nabidkou -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- #pristupne prvky stranky - neodstranovat !!! -->
   <hr class="hidden" />
   <ul class="hidden">
    <li>
     <a href="#view">
      Nahoru
     </a>
    </li>
    <li>
     <a href="#content">
      Zpět na obsah
     </a>
    </li>
   </ul>
   <hr class="hidden" />
   <!-- /#pristupne prvky stranky - neodstranovat !!! -->
   <div id="foot">
    <p class="fl">
     &copy; all rights reserved
    </p>
    <!-- /#   LINKS AND AUTHOR-SIGNATURE CANNOT BE REMOVED !!! -->
    <p class="fr">
     <a href="http://www.breezy.cz/reference/webove-sablony-zdarma" title="More free templates coming soon">
      Free template
     </a>
     created by
     <a href="http://www.breezy.cz" class="ico ico-breezy">
      Breezy New Media
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
