<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/ShadesofGray/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <!-- default margin = default layout -->
 <body style="margin: 0 12%;">
  <div class="container">
   <div class="header">
    <a href="index.html">
     <span>
      Shades of Gray
     </span>
    </a>
   </div>
   <div class="stripes">
    <span>
    </span>
   </div>
   <div class="nav">
    {{=MENU(response.menu)}}
   </div>
   <div class="stripes">
    <span>
    </span>
   </div>
   <div class="main">
    <div class="left">
     <div class="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
    </div>
    <div class="right">
     <div class="subnav">
      <h1>
       Auctor
      </h1>
      <p>
       In hac habitasse platea dictumst. Duis auctor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Fusce eleifend, dui ut posuere auctor, justo elit posuere sapien.
      </p>
      <h1>
       Duis Elit
      </h1>
      <ul>
       <li>
        <a href="index.html">
         consequat molestie
        </a>
       </li>
       <li>
        <a href="index.html">
         sem justo
        </a>
       </li>
       <li>
        <a href="index.html">
         semper
        </a>
       </li>
       <li>
        <a href="index.html">
         magna sed purus
        </a>
       </li>
      </ul>
      <h1>
       Sapien
      </h1>
      <ul>
       <li>
        <a href="index.html">
         sociis natoque
        </a>
       </li>
       <li>
        <a href="index.html">
         magna sed purus
        </a>
       </li>
       <li>
        <a href="index.html">
         tincidunt
        </a>
       </li>
      </ul>
      <h1>
       Blandit Enim
      </h1>
      <ul>
       <li>
        <a href="index.html">
         consequat molestie
        </a>
       </li>
       <li>
        <a href="index.html">
         sem justo
        </a>
       </li>
       <li>
        <a href="index.html">
         semper
        </a>
       </li>
       <li>
        <a href="index.html">
         magna sed purus
        </a>
       </li>
      </ul>
      <h1>
       Fringilla
      </h1>
      <ul>
       <li>
        <a href="index.html">
         sociis natoque
        </a>
       </li>
       <li>
        <a href="index.html">
         magna sed purus
        </a>
       </li>
       <li>
        <a href="index.html">
         tincidunt
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="clearer">
     <span>
     </span>
    </div>
   </div>
   <div class="footer">
    <div class="col3">
     <h2>
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
     <ul>
      <li>
       <a href="index.html">
        consequat molestie
       </a>
      </li>
      <li>
       <a href="index.html">
        sem justo
       </a>
      </li>
      <li>
       <a href="index.html">
        semper
       </a>
      </li>
      <li>
       <a href="index.html">
        magna sed purus
       </a>
      </li>
      <li>
       <a href="index.html">
        tincidunt
       </a>
      </li>
     </ul>
    </div>
    <div class="col3center">
     <h2>
      Sed purus
     </h2>
     <ul>
      <li>
       <a href="index.html">
        consequat molestie
       </a>
      </li>
      <li>
       <a href="index.html">
        sem justo
       </a>
      </li>
      <li>
       <a href="index.html">
        semper
       </a>
      </li>
      <li>
       <a href="index.html">
        magna sed purus
       </a>
      </li>
      <li>
       <a href="index.html">
        tincidunt
       </a>
      </li>
     </ul>
    </div>
    <div class="col3">
     <h2>
      Praesent
     </h2>
     <ul>
      <li>
       <a href="index.html">
        consequat molestie
       </a>
      </li>
      <li>
       <a href="index.html">
        sem justo
       </a>
      </li>
      <li>
       <a href="index.html">
        semper
       </a>
      </li>
      <li>
       <a href="index.html">
        magna sed purus
       </a>
      </li>
      <li>
       <a href="index.html">
        tincidunt
       </a>
      </li>
     </ul>
    </div>
    <div class="bottom">
     <span class="left">
      &copy; 2006
      <a href="index.html">
       Website.com
      </a>
      . Valid
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
       CSS
      </a>
      &amp;
      <a href="http://validator.w3.org/check?uri=referer">
       XHTML
      </a>
      .
     </span>
     <span class="right">
      Template design by
      <a href="http://arcsin.se">
       Arcsin
      </a>
     </span>
     <div class="clearer">
      <span>
      </span>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>