<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Silvery/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="contain">
   <div id="header">
    <h1 class="style1 style7 style5 style5 style7">
     {{=response.title or request.application}}
    </h1>
    <div class="topbar">
     <div id="icons">
      <a href="home.html">
       <img style="border: 0px solid ; width: 32px; height: 32px;" src="home.gif" alt="home" />
      </a>
      <a href="contact.html">
       <img style="border: 0px solid ; width: 32px; height: 32px;" src="contact.gif" alt="contact" />
      </a>
     </div>
    </div>
   </div>
   <div id="leftcol">
    <h3>
     Navigation
    </h3>
    <div id="navcontainerr">
     <ul>
      <li>
       <a href="#">
        Link 1
       </a>
      </li>
      <li>
       <a href="#">
        Link 2
       </a>
      </li>
      <li>
       <a href="#">
        Link 3
       </a>
      </li>
      <li>
       <a href="#">
        Link 4
       </a>
      </li>
      <li>
       <a href="#">
        Link 5
       </a>
      </li>
     </ul>
     <p>
      &nbsp;
     </p>
     <p>
      &nbsp;
     </p>
     <h4>
      Add more content here Lorem ipsum dolor
sit amet, ddfdfd consec tetf duer adipiscing elit. Sed ut dui ac lacus egestas
vehicula. &nbsp;Lorem ipsum dolor
sit amet, ddfdfd consec tetf duer.
     </h4>
    </div>
    <div>
    </div>
   </div>
   <div id="navcontainer">
    <ul id="navlist">
     <li id="active">
      <a href="#" id="current">
       Link 1
      </a>
     </li>
     <li>
      <a href="#">
       Link 2
      </a>
     </li>
     <li>
      <a href="#">
       Link 3
      </a>
     </li>
     <li>
      <a href="#">
       Link 4
      </a>
     </li>
     <li>
      <a href="#">
       Link 5
      </a>
     </li>
    </ul>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <p>
     Copyright 2006 - Design by
     <a href="http://www.projectaces.com">
      LS
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
