<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Simpletex
Version    : 1.0
Released   : 20070725
Description: A two-column, fixed-width template with light color blend.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Simpletex/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
   <div id="search">
    <form id="searchform" method="get" action="">
     <fieldset>
      <legend>
       Search
      </legend>
      <input id="searchinput" type="text" name="searchinput" value="" />
      <input id="searchsubmit" type="submit" value="Search" />
     </fieldset>
    </form>
   </div>
  </div>
  <div id="menu">
   {{=MENU(response.menu)}}
  </div>
  <hr />
  <div id="page">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="sidebar">
    <ul>
     <li>
      <h2>
       Recent Updates
      </h2>
      <ul>
       <li>
        <h3>
         <span>
          6/25:
         </span>
         Semper vestibulum
        </h3>
        <p>
         <a href="#">
          In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula&hellip;
         </a>
        </p>
       </li>
       <li>
        <h3>
         <span>
          6/21:
         </span>
         Posuere eleifend odio
        </h3>
        <p>
         <a href="#">
          Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum&hellip;
         </a>
        </p>
       </li>
       <li>
        <h3>
         <span>
          6/17:
         </span>
         Vivamus fermentum
        </h3>
        <p>
         <a href="#">
          Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh&hellip;
         </a>
        </p>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Sagittis Convallis
      </h2>
      <ul>
       <li>
        <a href="#">
         Ut semper vestibulum est
        </a>
       </li>
       <li>
        <a href="#">
         Vestibulum luctus venenatis dui
        </a>
       </li>
       <li>
        <a href="#">
         Integer rutrum nisl in mi
        </a>
       </li>
       <li>
        <a href="#">
         Etiam malesuada rutrum enim
        </a>
       </li>
       <li>
        <a href="#">
         Aenean elementum facilisis ligula
        </a>
       </li>
       <li>
        <a href="#">
         Ut tincidunt elit vitae augue
        </a>
       </li>
       <li>
        <a href="#">
         Sed quis odio sagittis leo vehicula
        </a>
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <hr />
  <div id="footer">
   <p id="legal">
    Copyright &copy; 2007 Simpletex. All Rights Reserved | Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
   <p id="links">
    <a href="#">
     Privacy Policy
    </a>
    |
    <a href="#">
     Terms of Use
    </a>
    |
    <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">
     <abbr title="eXtensible HyperText Markup Language">
      XHTML
     </abbr>
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS">
     <abbr title="Cascading Style Sheets">
      CSS
     </abbr>
    </a>
   </p>
  </div>
 </body>
</html>
