<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/SimplyGreen2Column/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="sidebar">
    <ul>
     <li>
      <a href="#">
       Home
      </a>
     </li>
     <li>
      <a href="#">
       About Us
      </a>
     </li>
     <li>
      <a href="#">
       Our Services
      </a>
     </li>
     <li>
      <a href="#">
       Photo Gallery
      </a>
     </li>
     <li>
      <a href="#">
       Contact Us
      </a>
     </li>
    </ul>
    <div class="widget">
     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean vitae odio vitae erat imperdiet vehicula.
    </div>
    <div class="widget">
     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean vitae odio vitae erat imperdiet vehicula.
    </div>
    <div class="widget">
     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean vitae odio vitae erat imperdiet vehicula.
    </div>
    <p>
     <strong>
      Shameless Self-Promotion:
     </strong>
     Learn Adobe Photoshop for free at
     <a href="http://freephotoshopguides.com">
      FreePhotoshopGuides.com
     </a>
     !
    </p>
   </div>
   <div id="footer">
    Copyright 2006 Site or Company Name
   </div>
  </div>
 </body>
</html>