<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Bei den Downloadangeboten der Templates von http://www.free-templates-sobers.de handelt       -->
<!-- es sich um eigene Entwuerfe von mir, Uli Sobers. Das Copyright an den Entwuerfen liegt        -->
<!-- und verbleibt bei mir. Soweit ich Scripte und Fotos aus oeffentlichen Publikationen mit       -->
<!-- verarbeitet habe, liegt das Copyright daran beim jeweiligen Autor. Hat der Autor eines        -->
<!-- Scripts oder Fotos einen eigenen Copyrighthinweis verlangt, finden Sie diesen hier            -->
<!-- im Quellcode. Die Genehmigung zur Verwendung socher Freeware wurde von mir vorher             -->
<!-- eingeholt. Da ich den Ursprung der Freeware jedoch nicht pruefen kann, wird keine             -->
<!-- Gewaehr fuer deren Originalitaet geleistet.                                                   -->
<!-- Der Gebrauch dieser Vorlage fuer kommerzielle und private Zwecke ist kostenlos.               -->
<!-- Die Copyrightvermerke und dieser Text duerfen nicht entfernt werden. Ansonsten kann           -->
<!-- diese Vorlage frei veraendert und privat kostenlos weiter gegeben werden.                     -->
<!-- Das Anbieten im Rahmen eigener Medienpublikationen bedarf der vorherigen Genehmigung.         -->
<!-- Der Verkauf des Templates oder einzelner Teile, gleich wie, ist nicht gestattet.              -->
<!-- Mit dem Gebrauch der Vorlage stellen Sie mich als Autor von jeder Haftung frei.               -->
<!-- Dies gilt sowohl fuer Inhalte, wie auch fuer Schaeden gleich welcher Art, die durch           -->
<!-- Die Verwendung dieser Vorlage entstehen oder entstehen koennen.                               -->
<!-- Schoen waere auch wenn eine Nachricht kommt, wie/wo die Vorlage verwendet wird.               -->
<!-- GNU/GPL Kalender Script by Michael Loesler, http//derletztekick.com.                          -->
<!-- Thank's to mjamesno at sxc.hu for the title photo, (C) by mjamesno.                           -->
<!-- Verwendete Freeware Scripte und Fotos sind nicht Teil meiner Leistung.                        -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/singapore/./favicon.ico'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/singapore/./styles.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/singapore/./calendar/calendar.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="overall">
   <!-- start head grafic -->
   <div id="head">
    <!-- start top navigation -->
    <div id="topnav">
     <a href="#" target="_top" onfocus="this.blur()">
      home
     </a>
     <a href="#" target="_top" onfocus="this.blur()">
      content
     </a>
     <a href="#" target="_top" onfocus="this.blur()">
      contact
     </a>
    </div>
   </div>
   <!-- start any-links & mid grafic-->
   <div id="anyline">
    <div id="anybgr">
    </div>
    <div id="anylink">
     <a href="#" target="_top" onfocus="this.blur()">
      anylink
     </a>
     <a href="#" target="_top" onfocus="this.blur()">
      anylink
     </a>
     <a href="#" target="_top" onfocus="this.blur()">
      anylink
     </a>
     <a href="#" target="_top" onfocus="this.blur()">
      anylink
     </a>
     <a href="#" target="_top" onfocus="this.blur()">
      anylink
     </a>
     <a href="#" target="_top" onfocus="this.blur()">
      anylink
     </a>
    </div>
   </div>
   <!-- bottom grafic & homepage title -->
   <div id="tgbtm">
   </div>
   <!-- insert homepage title here -->
   <div id="title-shadow">
    homepage title
   </div>
   <div id="title">
    homepage title
   </div>
   <!-- start sidebar -->
   <div id="sidebar">
    <!-- left links -->
    <div id="sidelinks">
     <h1>
      {{=response.title or request.application}}
     </h1>
     <ul>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        home
       </a>
      </li>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        about
       </a>
      </li>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        sitemap
       </a>
      </li>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        photos
       </a>
      </li>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        links
       </a>
      </li>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        more...
       </a>
      </li>
     </ul>
    </div>
    <!-- contact cube -->
    <div id="contactcube">
     <h1>
      contact
     </h1>
     <ul>
      <li>
       <a href="mailto:service@sobers.de" onfocus="this.blur()">
        <img src="grafics/at-static.gif" width="190" height="80" alt="email-me" border="0" />
       </a>
      </li>
     </ul>
    </div>
    <!-- calendar -->
    <div id="calendarcube">
     <h1>
      calendar
     </h1>
     <div id="calendar">
      [Calendar JS by derletztekick.com]
     </div>
    </div>
    <!-- archives -->
    <div id="archives">
     <h1>
      archives
     </h1>
     <ul>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        Jan. 2008
       </a>
      </li>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        Dec. 2007
       </a>
      </li>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        Nov. 2007
       </a>
      </li>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        Okt. 2007
       </a>
      </li>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        Sep. 2007
       </a>
      </li>
      <li>
       <a href="#" target="_top" onfocus="this.blur()">
        Aug. 2007
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
  </div>
  <!-- footer lines -->
  <div id="overall-footer">
   <div id="footer">
    &copy; 2007 by... your name | cellular +49.163.8802.979 | xhtml 1.0 | css | design by
    <a href="http://www.free-templates-sobers.de/" target="_blank">
     uli sobers
    </a>
   </div>
  </div>
 </body>
</html>
