<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Sixpence/http://www.sixpence.com/'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Sixpence/screen.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body id="babout">
  <div id="header">
   <h1>
    {{=response.title or request.application}}
   </h1>
  </div>
  <div id="navigation">
   <ul>
    <li id="lhome">
     <a href="#00">
      Home
     </a>
    </li>
    <li id="lproducts">
     <a href="#01">
      Products
     </a>
    </li>
    <li id="lsolutions">
     <a href="#02">
      Solutions
     </a>
    </li>
    <li id="lmysterious">
     <a href="#03">
      Mysterious
     </a>
    </li>
    <li id="labout">
     <a href="#04">
      About Us
     </a>
    </li>
    <li id="lcontact">
     <a href="#05">
      Contact Us
     </a>
    </li>
   </ul>
  </div>
  <div id="wrapper">
   <div id="content-wrapper">
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
   </div>
   <div id="sidebar-wrapper">
    <div id="sidebar">
     <h3>
      An Unordered List
     </h3>
     <ul>
      <li>
       I am the most interesting person in the whole galaxy.
      </li>
      <li>
       Monkeys are cute &mdash; in cartoons.
      </li>
      <li>
       Tom &amp; Jerry rocks. Especially the kids' version.
      </li>
      <li>
       July 16, 2009.
      </li>
      <li>
       Great American Masterpiece.
      </li>
      <li>
       Modern Art: Art or Garbage? Discuss.
      </li>
     </ul>
     <h3>
      An Ordered List
     </h3>
     <ol>
      <li>
       How to become
       <strong>
        one
       </strong>
       is studied by many.
      </li>
      <li>
       Yin/yang. Left/right. Up/down. Black/white.
       <strong>
        Two
       </strong>
       thousand six hundred and forty-
       <strong>
        two
       </strong>
       .
      </li>
      <li>
       <strong>
        Three
       </strong>
       Little Pigs.
       <strong>
        Three
       </strong>
       Blind Mice.
       <strong>
        Three
       </strong>
       Wolves and a Swan Prince.
      </li>
      <li>
       A Quarter + A Dime + A Nickel =
       <strong>
        4
       </strong>
       Dimes.
      </li>
      <li>
       Now I know my 1, 2, 3; I can go to 4,
       <strong>
        5
       </strong>
       , 6.
      </li>
      <li>
       <strong>
        Six
       </strong>
       ty-
       <strong>
        six
       </strong>
       on
       <strong>
        6
       </strong>
       /
       <strong>
        6
       </strong>
       /
       <strong>
        6
       </strong>
       00
       <strong>
        6
       </strong>
      </li>
     </ol>
     <h3>
      Stats
     </h3>
     <p>
      This page was brought to you by the numbers 8 and 10, which were getting lonely.
     </p>
    </div>
   </div>
  </div>
  <div id="footer">
   <p>
    Copyright &copy; 1850 &ndash; 2006 Sixpence. All rights reserved.
   </p>
   <p>
    Design by
    <a href="http://www.nikhedonia.com/" title="SimplyGold">
     Sadhana Ganapathiraju
    </a>
    . 
			Try more
    <a href="http://www.nikhedonia.com/showcase/category/free_templates/">
     free templates
    </a>
    or
    <a href="http://www.nikhedonia.com/showcase/category/commercial_templates/">
     commercial templates
    </a>
    .
   </p>
   <p>
    <a href="#">
     Terms of Service
    </a>
    |
    <a href="#">
     Privacy
    </a>
    |
    <a href="#">
     Contact
    </a>
    |
    <a href="#">
     About
    </a>
    |
    <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.0 Strict">
     Xhtml
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Valid CSS 2.0 Strict">
     Css
    </a>
   </p>
  </div>
 </body>
</html>
