<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : SlashBlog
Version    : 1.0
Released   : 20070814
Description: A two-column, fixed-width design ideal for 1024x768 screen resolutions. Suitable for blogs and small business websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/SlashBlog/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- start header -->
  <div id="header">
   <form id="search" method="get" action="">
    <fieldset>
     <legend>
      Search
     </legend>
     <input id="searchfield" type="text" name="s" value="" />
     <input id="searchsubmit" type="submit" value="Search" />
    </fieldset>
   </form>
   <h1>
    {{=response.title or request.application}}
   </h1>
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="page">
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start sidebar -->
   <div id="sidebar">
    <ul>
     <li>
      <h2>
       Categories
      </h2>
      <ul>
       <li>
        <a href="#">
         Etiam Rhoncus
        </a>
       </li>
       <li>
        <a href="#">
         Donec Dictum
        </a>
       </li>
       <li>
        <a href="#">
         Integer Gravida
        </a>
       </li>
       <li>
        <a href="#">
         Etiam Posuere
        </a>
       </li>
       <li>
        <a href="#">
         Mauris Vulputate
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Archives
      </h2>
      <ul>
       <li>
        <a href="#">
         August 2007
        </a>
        (13)
       </li>
       <li>
        <a href="#">
         July 2007
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         June 2007
        </a>
        (30)
       </li>
       <li>
        <a href="#">
         May 2007
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         April 2007
        </a>
        (30)
       </li>
       <li>
        <a href="#">
         March 2007
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         February 2007
        </a>
        (28)
       </li>
       <li>
        <a href="#">
         January 2007
        </a>
        (31)
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end sidebar -->
  </div>
  <!-- end page -->
  <div id="footer">
   <p id="legal">
    &copy;2007 All Rights Reserved. | Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
   <p id="links">
    <a href="#">
     Privacy
    </a>
    |
    <a href="#">
     Terms
    </a>
    |
    <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">
     <abbr title="eXtensible HyperText Markup Language">
      XHTML
     </abbr>
    </a>
    |
    <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS">
     <abbr title="Cascading Style Sheets">
      CSS
     </abbr>
    </a>
   </p>
  </div>
 </body>
</html>
