<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/SleekGlossyBlueTemplate/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div class="wrapper">
   <div class="navbg">
    <div id="navcontainer">
     <ul id="navlist">
      <li>
       <a href="../sitemap.html">
        Home
       </a>
      </li>
      <li>
       <a href="../about.html">
        Services
       </a>
      </li>
      <li>
       <a href="../sitemap.html">
        Techniques
       </a>
      </li>
      <li>
       <a href="../about.html">
        Partners
       </a>
      </li>
      <li>
       <a href="../sitemap.html">
        Clients
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div class="banner">
    <div class="bannerontop">
     <a href="#">
      <img src="images/logo.png" alt="logo" width="340" height="51" border="0" />
     </a>
    </div>
    <div class="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <div class="footer">
     Site designed by
     <a href="http://www.freecss.info">
      FreeCSS.info
     </a>
    </div>
   </div>
  </div>
 </body>
</html>
