<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Smooth and Sleek by christopher robinson
	http://www.edg3.co.uk/
	hope you enjoy it and find it usefull :)

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head profile="http://gmpg.org/xfn/11">
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/SmoothandSleek/image/favicon.ico'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/SmoothandSleek/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <div id="header_inside">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <ul>
     <li>
      <a href="#">
       link six
      </a>
     </li>
     <li>
      <a href="#">
       link five
      </a>
     </li>
     <li>
      <a href="#">
       link four
      </a>
     </li>
     <li>
      <a href="#">
       link three
      </a>
     </li>
     <li>
      <a class="active" href="#">
       active link
      </a>
     </li>
     <li>
      <a href="#">
       link one
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div id="content">
   <div class="flash">{{=response.flash or ''}}</div>
   {{include}}
  </div>
 </body>
</html>