<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="it" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/SpaceBlog/css/main.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="head">
    <div id="myname">
     <a>
      Space Blog
     </a>
    </div>
   </div>
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
   <div id="header_line">
    &nbsp;
   </div>
   <div id="realbody">
    <div id="verticalmenu">
     <h3>
      First Menu
     </h3>
     <ul>
      <li>
       <a href="#">
        Home
       </a>
      </li>
      <li>
       <a href="#">
        Pictures
       </a>
      </li>
      <li>
       <a href="#">
        Friends
       </a>
      </li>
      <li>
       <a href="#">
        News
       </a>
      </li>
      <li>
       <a href="#">
        Projects
       </a>
      </li>
      <li>
       <a href="#">
        Contacts
       </a>
      </li>
     </ul>
     <h3>
      Blog Archive
     </h3>
     <ul>
      <li>
       <a href="#">
        August 2007
       </a>
      </li>
      <li>
       <a href="#">
        July 2007
       </a>
      </li>
      <li>
       <a href="#">
        June 2007
       </a>
      </li>
     </ul>
     <h3>
      Categories
     </h3>
     <ul>
      <li>
       <a href="#">
        item
       </a>
      </li>
      <li>
       <a href="#">
        item1
       </a>
      </li>
      <li>
       <a href="#">
        item2
       </a>
      </li>
      <li>
       <a href="#">
        item3
       </a>
      </li>
      <li>
       <a href="#">
        item4
       </a>
      </li>
      <li>
       <a href="#">
        item5
       </a>
      </li>
     </ul>
    </div>
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
   </div>
   <div id="foot">
   </div>
  </div>
  <div style="width: 100%; background-image: url(images/bg_niz.png); background-repeat: repeat-x; height: 110px;">
   <div id="footer">
    <div id="copy_right">
     Copyright 2007 Your Company Name
    </div>
    <div id="designed">
     Designed by
     <a href="http://www.graformix.com" title="design studio">
      Graformix
     </a>
    </div>
   </div>
  </div>
 </body>
</html>