<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/spacetravelisboring/template02.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <div id="nav-top">
     <ul>
      <li>
       <a href="#">
        lorem
       </a>
      </li>
      <li>
       <a href="#">
        lorem
       </a>
      </li>
      <li>
       <a href="#">
        lorem
       </a>
      </li>
      <li>
       <a href="#">
        lorem
       </a>
      </li>
     </ul>
    </div>
    <!--
   End of top links
-->
   </div>
   <!--
  Main Navigation
-->
   <div id="mainnav">
    <ul>
     <li>
      <a href="#">
       contact us
      </a>
     </li>
     <li>
      <a href="#">
       clients
      </a>
     </li>
     <li>
      <a href="#">
       services
      </a>
     </li>
     <li>
      <a href="#">
       portfolio
      </a>
     </li>
     <li>
      <a href="#">
       about us
      </a>
     </li>
     <li>
      <a href="#">
       Home
      </a>
     </li>
    </ul>
   </div>
   <div id="mainnavsub">
    <ul>
     <li>
      <a href="#">
       Link Six
      </a>
     </li>
     <li>
      <a href="#">
       Link Five
      </a>
     </li>
     <li>
      <a href="#">
       Link Four
      </a>
     </li>
     <li>
      <a href="#">
       Link Three
      </a>
     </li>
     <li>
      <a href="#">
       Link Two
      </a>
     </li>
     <li>
      <a href="#">
       Link One
      </a>
     </li>
    </ul>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="sidebar">
    <h3>
     Css Stuff
    </h3>
    <div id="nav-right">
     <ul>
      <li>
       <a href="http://www.cssdrive.com/">
        Css Drive
       </a>
      </li>
      <li>
       <a href="http://www.dynamicdrive.com/">
        Dynamic Drive
       </a>
      </li>
      <li>
       <a href="http://www.styletheweb.com/">
        Style The Web
       </a>
      </li>
      <li>
       <a href="http://www.cssimport.com/">
        Css Import
       </a>
      </li>
      <li>
       <a href="http://www.thinkvitamin.com/">
        Think Vitamin
       </a>
      </li>
     </ul>
    </div>
    <h3>
     Gallery Quick Links
    </h3>
    <p class="thumbs">
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
    </p>
    <p class="thumbs">
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
    </p>
    <p>
     Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, . Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
    </p>
    <h3>
     Recent Updates
    </h3>
    <p class="thumbs">
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
    </p>
    <p class="thumbs">
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
     <a href="index.html">
      <img src="imgs/thumb.jpg" width="40" height="40" alt="Stick An Image Here!" />
     </a>
    </p>
    <p>
     Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </p>
   </div>
   <!--
   End Side bar and thumbs
-->
   <!--
   Start of footer data
-->
   <div id="footer-contents">
    <p id="footer-copy">
     <a href="mailto:collingrasley@gmail.com">
      Coll23
     </a>
     <a href="#">
      Lorem Ipsum
     </a>
     <a href="#">
      Lorem Ipsum
     </a>
    </p>
    <p id="footer-links">
     <a href="http://validator.w3.org/check/referer">
      [XHTML 1.0]
     </a>
     <a href="http://jigsaw.w3.org/css-validator/">
      [CSS]
     </a>
    </p>
   </div>
   <!--
   End of footer data
-->
  </div>
 </body>
</html>
