<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Spatter
Description: A two-column, fixed-width design.
Version    : 1.0
Released   : 20070913

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Spatter/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <!-- start header -->
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     By Free CSS Templates
    </p>
   </div>
   <div id="search">
    <form method="get" action="">
     <fieldset>
      <input id="s" type="text" name="s" value="" />
      <input id="x" type="submit" value="Search" />
     </fieldset>
    </form>
   </div>
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="page">
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start sidebar -->
   <div id="sidebar">
    <ul>
     <li>
      <h2>
       Categories
      </h2>
      <ul>
       <li>
        <a href="#">
         Aliquam libero
        </a>
       </li>
       <li>
        <a href="#">
         Consectetuer adipiscing elit
        </a>
       </li>
       <li>
        <a href="#">
         metus aliquam pellentesque
        </a>
       </li>
       <li>
        <a href="#">
         Suspendisse iaculis mauris
        </a>
       </li>
       <li>
        <a href="#">
         Urnanet non molestie semper
        </a>
       </li>
       <li>
        <a href="#">
         Proin gravida orci porttitor
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Archives
      </h2>
      <ul>
       <li>
        <a href="#">
         September
        </a>
        (13)
       </li>
       <li>
        <a href="#">
         August
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         July
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         June
        </a>
        (30)
       </li>
       <li>
        <a href="#">
         May
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         April
        </a>
        (30)
       </li>
       <li>
        <a href="#">
         March
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         February
        </a>
        (28)
       </li>
       <li>
        <a href="#">
         January
        </a>
        (31)
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end sidebar -->
  </div>
  <!-- end page -->
  <div id="footer">
   <p>
    &copy;2007 All Rights Reserved. &nbsp;&bull;&nbsp; Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    &nbsp;&bull;&nbsp; Icons by
    <a href="http://www.famfamfam.com/">
     FAMFAMFAM
    </a>
    .
   </p>
  </div>
 </body>
</html>
