<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Sping Bloom by christopher robinson
	http://www.edg3.co.uk/
	hope you enjoy it and find it usefull :)

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head profile="http://gmpg.org/xfn/11">
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/SpringBloom/image/favicon.ico'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/SpringBloom/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <p>
    Design. Style. Usability.
   </p>
   <ul>
    <li>
     <a href="#">
      Homepage
     </a>
    </li>
    <li>
     <a href="#">
      My Blog
     </a>
    </li>
    <li>
     <a href="#">
      Portfolio
     </a>
    </li>
    <li>
     <a href="#">
      About Me
     </a>
    </li>
    <li>
     <a href="#">
      Contact Me
     </a>
    </li>
   </ul>
  </div>
  <div id="content">
   <div class="flash">{{=response.flash or ''}}</div>
   {{include}}
  </div>
  <div id="footer">
   <p>
    Copyright &copy;
    <a href="#">
     Spring Bloom
    </a>
    2007 | Designed by
    <a href="http://www.edg3.co.uk/" title="Freelance Web Site Design">
     edg3.co.uk
    </a>
    | Proudly Supporting
    <a href="http://www.opendesigns.org/" title="Community. Driven.">
     Open Designs
    </a>
    | Valid
    <a href="http://jigsaw.w3.org/css-validator/">
     CSS
    </a>
    &amp;
    <a href="http://validator.w3.org/">
     XHTML
    </a>
   </p>
  </div>
 </body>
</html>