<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/spyka120/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="header">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <h2>
    {{=response.subtitle or '=response.subtitle'}}
   </h2>
  </div>
  <div id="nav">
   {{=MENU(response.menu)}}
  </div>
  <div id="wrap">
   <div id="main">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="sidebar">
    <div class="side_header headtext">
     <h1>
      Navigation
     </h1>
    </div>
    <div class="side_content area">
     <ul>
      <li>
       <a href="#">
        Home
       </a>
      </li>
      <li>
       <a href="#">
        About
       </a>
      </li>
      <li>
       <a href="#">
        Blog
       </a>
      </li>
      <li>
       <a href="#">
        Products
       </a>
      </li>
      <li>
       <a href="#">
        Support
       </a>
      </li>
      <li>
       <a href="#">
        Contact
       </a>
      </li>
     </ul>
    </div>
    <div class="spacer">
    </div>
    <div class="side_header headtext">
     <h1>
      Links
     </h1>
    </div>
    <div class="side_content area">
     <ul>
      <li>
       <a href="http://www.spyka.net">
        spyka.net
       </a>
      </li>
      <li>
       <a href="http://www.plutomedia.net">
        plutomedia.net
       </a>
      </li>
      <li>
       <a href="http://www.farehamweather.co.uk">
        farehamweather.co.uk
       </a>
      </li>
     </ul>
    </div>
    <div class="spacer">
    </div>
    <div class="side_header headtext">
     <h1>
      Valid
     </h1>
    </div>
    <div class="side_content area">
     <ul>
      <li>
       <a href="http://validator.w3.org/check?uri=referer">
        XHTML
       </a>
      </li>
      <li>
       <a href="http://jigsaw.w3.org/css-validator/check/referer">
        CSS
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div id="footer">
    <p>
     &copy; Copyright freeSite.
     <a href="http://www.spyka.net" title="Design by spyka.net">
      Design by spyka.net
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
