<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by NodeThirtyThree <http://www.nodethirtythree.com>
Published by Free CSS Templates <http://www.freecsstemplates.org />
Released for free under a Creative Commons Attribution 2.5 License

Title      : stylized
Version    : 1.1
Released   : 20070716
Description: A two-column fixed width template for 1024x768 resolutions.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Stylized/screen.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="logo">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <h2>
    {{=response.subtitle or '=response.subtitle'}}
   </h2>
  </div>
  <div id="menu">
   {{=MENU(response.menu)}}
  </div>
  <div id="bg">
   <div id="page">
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <!-- end #content -->
    <div id="sidebar">
     <div id="useful-links" class="box">
      <h2 class="title">
       lorem ipsum
      </h2>
      <div class="content">
       <ul>
        <li>
         <a href="#">
          <strong>
           Blandit tempor etiam
          </strong>
         </a>
         <br />
         <small>
          Lorem ipsum dolor
         </small>
        </li>
        <li>
         <a href="#">
          <strong>
           Blandit tempor volutpat
          </strong>
         </a>
         <br />
         <small>
          Lorem ipsum dolor
         </small>
        </li>
        <li>
         <a href="#">
          <strong>
           Blandit tempor sed
          </strong>
         </a>
         <br />
         <small>
          Lorem ipsum dolor
         </small>
        </li>
        <li>
         <a href="#">
          <strong>
           Blandit tempor dolore
          </strong>
         </a>
         <br />
         <small>
          Lorem ipsum dolor
         </small>
        </li>
        <li>
         <a href="#">
          <strong>
           Blandit tempor etiam
          </strong>
         </a>
         <br />
         <small>
          Lorem ipsum dolor
         </small>
        </li>
       </ul>
      </div>
     </div>
     <!-- end #useful-links -->
     <div id="sponsors" class="box">
      <h2 class="title">
       Fusce ultrices
      </h2>
      <div class="content">
       <ul>
        <li>
         <a href="#">
          Quisque vehicula arcu
         </a>
        </li>
        <li>
         <a href="#">
          Integer id lectus sed
         </a>
        </li>
        <li>
         <a href="#">
          Fusce hendrerit felis
         </a>
        </li>
        <li>
         <a href="#">
          Metus condimentum sed
         </a>
        </li>
        <li>
         <a href="#">
          Fusce hendrerit felis
         </a>
        </li>
       </ul>
      </div>
     </div>
     <!-- end #sponsors -->
    </div>
    <!-- end #sidebar -->
    <div style="clear: both; height: 20px;">
     &nbsp;
    </div>
   </div>
   <!-- end #page -->
  </div>
  <!-- end #bg -->
  <div id="footer">
   <hr />
   <p>
    Copyright (c) 2007 Stylized. All rights reserved. Designed by
    <a href="http://www.nodethirtythree.com/">
     NodeThirtyThree
    </a>
    for
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
  </div>
 </body>
</html>
