<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Subdued
Version    : 1.0
Released   : 20070601
Description: A two-column, fixed-width template suitable for corporate websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Subdued/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="menu">
   {{=MENU(response.menu)}}
  </div>
  <!-- end #menu -->
  <div id="header">
   <h1>
    {{=response.title or request.application}}
   </h1>
   <h2>
    {{=response.subtitle or '=response.subtitle'}}
   </h2>
  </div>
  <!-- end #header -->
  <div id="page">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end #content -->
   <div id="sidebar">
    <div id="updates" class="bluebox">
     <h2>
      Recent Updates
     </h2>
     <ul>
      <li>
       <h3>
        May 31, 2007
       </h3>
       <p>
        <a href="#">
         In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula&#8230;
        </a>
       </p>
      </li>
      <li>
       <h3>
        May 26, 2007
       </h3>
       <p>
        <a href="#">
         Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh&#8230;
        </a>
       </p>
      </li>
      <li>
       <h3>
        May 22, 2007
       </h3>
       <p>
        <a href="#">
         Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum&#8230;
        </a>
       </p>
      </li>
      <li>
       <h3>
        May 17, 2007
       </h3>
       <p>
        <a href="#">
         Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam nequea&#8230;
        </a>
       </p>
      </li>
      <li>
       <h3>
        May 14, 2007
       </h3>
       <p>
        <a href="#">
         Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros&#8230;
        </a>
       </p>
      </li>
     </ul>
    </div>
   </div>
   <!-- end #sidebar -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end #page -->
  <div id="footer">
   <p id="legal">
    Copyright &copy; 2007 Red Avenue. All Rights Reserved. Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
   <p id="links">
    <a href="#">
     Privacy Policy
    </a>
    |
    <a href="#">
     Terms of Use
    </a>
   </p>
  </div>
  <!-- end #footer -->
 </body>
</html>
