<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/summerbreez/1.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="head">
   <div class="navbox">
    <div id="menu">
     {{=MENU(response.menu)}}
    </div>
   </div>
   <br />
   <div id="textbox">
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
  </div>
  <div id="container">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="sidebar">
    <table id="calendar" cellspacing="0" cellpadding="0" summary="This month's calendar">
     <caption>
      <a href="#" title="previous month" class="nav">
       &laquo;
      </a>
      March
      <a href="#" title="next month" class="nav">
       &raquo;
      </a>
     </caption>
     <tr>
      <th scope="col" abbr="Sunday" title="Sunday">
       S
      </th>
      <th scope="col" abbr="Monday" title="Monday">
       M
      </th>
      <th scope="col" abbr="Tuesday" title="Tuesday">
       T
      </th>
      <th scope="col" abbr="Wednesday" title="Wednesday">
       W
      </th>
      <th scope="col" abbr="Thursday" title="Thursday">
       T
      </th>
      <th scope="col" abbr="Friday" title="Friday">
       F
      </th>
      <th scope="col" abbr="Saturday" title="Saturday">
       S
      </th>
     </tr>
     <tr>
      <td>
       &nbsp;
      </td>
      <td>
       &nbsp;
      </td>
      <td>
       1
      </td>
      <td>
       2
      </td>
      <td>
       3
      </td>
      <td>
       4
      </td>
      <td>
       5
      </td>
     </tr>
     <tr>
      <td>
       6
      </td>
      <td>
       7
      </td>
      <td>
       8
      </td>
      <td>
       9
      </td>
      <td>
       <a href="#">
        10
       </a>
      </td>
      <td>
       11
      </td>
      <td>
       12
      </td>
     </tr>
     <tr>
      <td>
       <a href="#">
        13
       </a>
      </td>
      <td>
       14
      </td>
      <td>
       15
      </td>
      <td>
       16
      </td>
      <td>
       17
      </td>
      <td>
       18
      </td>
      <td>
       19
      </td>
     </tr>
     <tr>
      <td>
       20
      </td>
      <td>
       21
      </td>
      <td>
       22
      </td>
      <td>
       <a href="#">
        23
       </a>
      </td>
      <td>
       24
      </td>
      <td>
       25
      </td>
      <td>
       26
      </td>
     </tr>
     <tr>
      <td>
       27
      </td>
      <td>
       28
      </td>
      <td>
       29
      </td>
      <td>
       30
      </td>
      <td class="today">
       <a href="#">
        31
       </a>
      </td>
      <td>
       &nbsp;
      </td>
      <td>
       &nbsp;
      </td>
     </tr>
    </table>
    <br />
    <h3>
     Memorial Day
    </h3>
    <p>
     Always the first big family get together of the season
outdoors.
A beautifull spot along the mississippi
     <a href="#">
      read....
     </a>
    </p>
    <h3>
     4th of July
    </h3>
    <p>
     Well because of the little incident with uncle Johns
barn last year we have to re think the setting off our own fire works
thing.
     <a href="#">
      read....
     </a>
    </p>
    <h3>
     Look ma!
     <br />
     no Lorem ipsum
    </h3>
    <p>
     Well I thought I would give it a shot and use real text
for this design because sometimes the best filler text for a design is actual text .
    </p>
   </div>
   <div id="footer">
    <strong>
     By Coollew
    </strong>
   </div>
  </div>
 </body>
</html>