<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/SunnyDay/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="main">
   <div id="top-nav">
    ::
    <a href="index.html" class="top-menu">
     link
    </a>
    ::
    <a href="index.html" class="top-menu">
     link
    </a>
    ::
    <a href="index.html" class="top-menu">
     link
    </a>
    ::
    <a href="index.html" class="top-menu">
     link
    </a>
    ::
    <a href="index.html" class="top-menu">
     link
    </a>
    ::
    <a href="index.html" class="top-menu">
     link
    </a>
    ::
   </div>
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="right">
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
    <p>
     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas vehicula. Quisque faucibus, risus id consequat porta, orci ligula condimentum mi, ac commodo leo libero eget tortor.
    </p>
    <h3>
     Links
    </h3>
    <a href="index.html" class="navigation">
     link
    </a>
    <a href="index.html" class="navigation">
     link
    </a>
    <a href="index.html" class="navigation">
     link
    </a>
    <a href="index.html" class="navigation">
     link
    </a>
    <a href="index.html" class="navigation">
     link
    </a>
   </div>
   <div id="footer">
    <hr />
    All content &copy; You, all rights reserved.
    <br />
    |&nbsp;XHTML template by
    <a href="http://www.karenblundell.com" target="blank">
     arwen54
    </a>
    &nbsp;|&nbsp;
    <a href="http://validator.w3.org/check?uri=referer" target="_blank">
     Valid XHTML
    </a>
    &nbsp;|&nbsp;
    <a href="http://jigsaw.w3.org/css-validator/" target="_blank">
     Valid CSS
    </a>
    &nbsp;|
   </div>
  </div>
 </body>
</html>
