<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Sunspot/main.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="full">
   <div id="container">
    <div id="header">
     <div id="headerContent">
      <br />
      <div id="search">
       <input type="text" id="searchText" />
       <span style="background-color:black;color:#FFF;padding:2px;border:#FCE796 solid 1px;">
        SEARCH
       </span>
      </div>
      <h3>
       Your Header can go right Here
      </h3>
      <br />
      <p>
       You can place some comments right here under the line.
      </p>
      <h3>
       Sunspot-A template for the rest of us
      </h3>
     </div>
    </div>
    <div id="left">
     <div id="navcontainer">
      <ul id="navlist">
       <li id="active">
        <a id="current" href="#">
         Home
        </a>
       </li>
       <li>
        <a href="#">
         Products
        </a>
       </li>
       <li>
        <a href="#">
         Services
        </a>
       </li>
       <li>
        <a href="#">
         Support
        </a>
       </li>
       <li>
        <a href="#">
         Order
        </a>
       </li>
       <li>
        <a href="#">
         News
        </a>
       </li>
       <li>
        <a href="#">
         About
        </a>
       </li>
      </ul>
     </div>
     <div style="margin:auto;text-align:center;background:yellow;width:110px;border:1px dashed white;">
      <a href="http://validator.w3.org/check?uri=referer">
       Valid XHTML
       <br />
       1.0 Strict
      </a>
     </div>
     <img src="nova.jpg" alt="Nova" />
    </div>
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <div id="footer">
     Copyright your name, Design by Bryan Lass,
     <a href="http://www.idavista.com">
      IdaVista
     </a>
     , Inc.
     <br />
     Find your look alike online at
     <a href="http://www.findmytwinonline.com">
      www.findmytwinonline.com
     </a>
    </div>
   </div>
  </div>
 </body>
</html>