<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Template110625/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <div id="top">
     <a href="index.html">
      <img id="logo" style="width: 195px; height: 75px;" alt="Your Logo" src="images/logo.jpg" />
     </a>
     <img id="welcome" style="width: 311px; height: 75px;" alt="Welcome" src="images/welcome.jpg" />
    </div>
    <div id="menuwrapper">
     <div id="menu">
      {{=MENU(response.menu)}}
     </div>
    </div>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="left">
    <img style="width: 190px; height: 300px;" alt="Golden Pine Cone" src="images/golden_pine.jpg" />
    <h3>
     Links
    </h3>
    <ul>
     <li>
      <a href="index.html">
       An Unordered List
      </a>
     </li>
     <li>
      <a href="index.html">
       An Unordered List
      </a>
     </li>
     <li>
      <a href="index.html">
       An Unordered List
      </a>
     </li>
    </ul>
   </div>
   <div id="footer">
    <p>
     Copyright &copy; 2006 Your Company. All rights reserved. Design by
     <a href="http://www.firstlightwebdesign.com">
      First Light
     </a>
     .
    </p>
   </div>
  </div>
 </body>
</html>
