<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/TheHobbit/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div class="container">
   <div class="gfx">
    <span>
    </span>
   </div>
   <div class="top">
    <div class="navigation">
     <a href="index.html" id="selected">
      home
     </a>
     <a href="index.html">
      the journey
     </a>
     <a href="index.html">
      characters
     </a>
     <a href="index.html">
      image gallery
     </a>
     <a href="index.html">
      history
     </a>
    </div>
    <div class="pattern">
     <span>
     </span>
    </div>
    <div class="header">
     <h1>
      {{=response.title or request.application}}
     </h1>
     <p>
      Adventures of Bilbo Baggins
     </p>
    </div>
    <div class="pattern">
     <span>
     </span>
    </div>
   </div>
   <div class="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div class="footer">
    &copy; 2006
    <a href="index.html">
     Website.com
    </a>
    . Valid
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
     CSS
    </a>
    &amp;
    <a href="http://validator.w3.org/check?uri=referer">
     XHTML
    </a>
    . Template design by
    <a href="http://arcsin.se">
     Arcsin
    </a>
   </div>
  </div>
 </body>
</html>