<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/TheHarvest/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
   <div id="sub-header">
   </div>
   <!--Begin main navigation menu.-->
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
   <!--End main navigation menu.-->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <div id="footer-content">
     <div id="footer-right">
      <a href="#" title="View Our Terms of Use" accesskey="t">
       Terms of Use
      </a>
      &middot;
      <a href="#" title="Our Privacy Policy" accesskey="p">
       Privacy Policy
      </a>
      &middot;
      <a href="#" title="View a Map of Our Site" accesskey="s">
       Sitemap
      </a>
      &middot; Design by
      <a title="Designed by First Light Web Design" href="http://www.firstlightwebdesign.com">
       First Light
      </a>
     </div>
     <p>
      Copyright &copy; 2007 Your Site.  All rights reserved.
     </p>
    </div>
   </div>
  </div>
 </body>
</html>
