<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : The Island
Version    : 1.0
Released   : 20070612
Description: A two-column, fixed-width, blue-themed template that can be easily converted into a blog theme.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/TheIsland/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrapper">
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     <a href="http://www.freecsstemplates.org/">
      By Free CSS Templates
     </a>
    </p>
   </div>
   <!-- end header -->
   <div id="menu">
    {{=MENU(response.menu)}}
   </div>
   <!-- end menu -->
   <div id="page">
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <!-- end content -->
    <div id="sidebar">
     <ul>
      <li id="search">
       <form id="searchform" method="get" action="">
        <fieldset>
         <legend>
          Search
         </legend>
         <input id="searchfield" type="text" name="q" value="" />
         <input id="searchsubmit" type="submit" value="Search" />
        </fieldset>
       </form>
      </li>
      <li id="submenu">
       <h2>
        Other Links
       </h2>
       <ul>
        <li>
         <a href="#">
          Semper vestibulum
         </a>
        </li>
        <li>
         <a href="#">
          Vestibulum luctus
         </a>
        </li>
        <li>
         <a href="#">
          Integer rutrum
         </a>
        </li>
        <li>
         <a href="#">
          Etiam malesuada
         </a>
        </li>
        <li>
         <a href="#">
          Elementum facilisis
         </a>
        </li>
        <li>
         <a href="#">
          Ut tincidunt
         </a>
        </li>
        <li>
         <a href="#">
          Odio sagittis
         </a>
        </li>
       </ul>
      </li>
      <li id="news">
       <h2>
        News &amp; Updates
       </h2>
       <ul>
        <li>
         <h3>
          25th May
         </h3>
         <p>
          <a href="#">
           Pellentesque quis elit non lectus gravida blandit&hellip;
          </a>
         </p>
        </li>
        <li>
         <h3>
          23rd May
         </h3>
         <p>
          <a href="#">
           Lorem ipsum dolor sit amet, consectetuer adipiscing&hellip;
          </a>
         </p>
        </li>
        <li>
         <h3>
          21st May
         </h3>
         <p>
          <a href="#">
           Phasellus nec erat sit amet nibh pellentesque congue&hellip;
          </a>
         </p>
        </li>
        <li>
         <h3>
          17th May
         </h3>
         <p>
          <a href="#">
           Maecenas vitae orci vitae tellus feugiat eleifend&hellip;
          </a>
         </p>
        </li>
       </ul>
      </li>
     </ul>
    </div>
    <!-- end sidebar -->
    <div style="clear: both;">
     &nbsp;
    </div>
   </div>
   <!-- end page -->
   <div id="footer">
    <p id="legal">
     Copyright &copy; 2007 The Island. All Rights Reserved. Designed by
     <a href="http://www.freecsstemplates.org/">
      Free CSS Templates
     </a>
     .
    </p>
    <p id="links">
     <a href="#">
      Privacy Policy
     </a>
     |
     <a href="#">
      Terms of Use
     </a>
    </p>
   </div>
   <!-- end footer -->
  </div>
  <!-- end wrapper -->
 </body>
</html>
