<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/TheOrange/css/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="main">
    <div id="navbar">
     <ul>
      <li>
       <a href="#">
        home
       </a>
      </li>
      <li>
       <a href="#">
        about us
       </a>
      </li>
      <li>
       <a href="#">
        our products
       </a>
      </li>
      <li>
       <a href="#">
        contact us
       </a>
      </li>
     </ul>
    </div>
    <div id="header">
     <div id="left_bar_header">
      <span class="title">
       REALITY
      </span>
      <span class="title_dark">
       DESIGN
      </span>
      <p>
       <b>
        Orange
       </b>
       is a free template released by
       <a href="http://www.realitysoftware.ca">
        Reality Software
       </a>
       under the
       <a href="http://creativecommons.org/licenses/by/3.0/">
        Creative Commons Attribution 3.0
       </a>
       license, which means you can use it in any way you want provided you keep the link to the author intact.
      </p>
     </div>
     <div id="right_bar_header">
      <img src="images/head_bckg_right.jpg" alt="" />
     </div>
    </div>
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
   </div>
  </div>
 </body>
</html>
