<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/TimeToRest/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrap">
   <div id="header">
    <img src="images/header.jpg" width="768" height="120" alt="Time To Rest" />
   </div>
   <div id="navigation">
    <ul>
     <li>
      <a href="index.html">
       Home
      </a>
     </li>
     <li>
      <a href="index.html">
       Forums
      </a>
     </li>
     <li>
      <a href="index.html">
       Media
      </a>
     </li>
     <li>
      <a href="index.html">
       About
      </a>
     </li>
     <li>
      <a href="index.html">
       Contact
      </a>
     </li>
    </ul>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    &lt;&lt;----- Insert Google Ads here -----&gt;&gt;
    <br />
    |
    <a href="index.html">
     Home
    </a>
    |
    <a href="index.html">
     Forums
    </a>
    |
    <a href="index.html">
     Media
    </a>
    |
    <a href="index.html">
     About
    </a>
    |
    <a href="index.html">
     Contact
    </a>
    |
    <br />
    &copy; Your-Site-Here.com | Design by
    <a href="http://www.ginger-ninja.net/" title="Ginger Ninja!">
     Ginger Ninja!
    </a>
   </div>
  </div>
 </body>
</html>
