<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Travel Portal
Version    : 1.0
Released   : 20070618
Description: A two-column, fixed-width template.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/TravelPort/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="page">
   <div id="sidebar">
    <div id="logo">
     <h1>
      {{=response.title or request.application}}
     </h1>
     <h2>
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
    </div>
    <!-- end header -->
    <div id="menu">
     {{=MENU(response.menu)}}
    </div>
    <!-- end menu -->
    <div id="login">
     <h2 class="title1">
      Customer Login
     </h2>
     <form id="form1" method="post" action="#">
      <fieldset>
       <label for="inputtext1">
        Username:
       </label>
       <input id="inputtext1" type="text" name="inputtext1" value="" />
       <label for="inputtext2">
        Password:
       </label>
       <input id="inputtext2" type="password" name="inputtext2" value="" />
       <input id="inputsubmit1" type="submit" name="inputsubmit1" value="Sign In" />
       <p>
        <a href="#">
         Forgot your password?
        </a>
        <br />
        <a href="#">
         Register for Free!
        </a>
       </p>
      </fieldset>
     </form>
    </div>
   </div>
   <!-- end sidebar -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p id="legal">
    Copyright &copy; 2007 Travel Portal. All Rights Reserved. Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
   <p id="links">
    <a href="#">
     Privacy Policy
    </a>
    |
    <a href="#">
     Terms of Use
    </a>
   </p>
  </div>
 </body>
</html>
