<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="www-yourdomain-com">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/TwoTenths/screen.css'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/TwoTenths/http://www.example.com/'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body id="bhome">
  <div id="topnav">
   <ul>
    <li>
     <a href="#01" title="About">
      About
     </a>
    </li>
    <li>
     <a href="#03" title="Preferences">
      Preferences
     </a>
    </li>
    <li>
     <a href="#02" title="Upcoming Events">
      Upcoming Events
     </a>
    </li>
    <li>
     <a href="#04" title="Mission Statement">
      Mission Statement
     </a>
    </li>
   </ul>
  </div>
  <div id="header">
   <h1>
    {{=response.title or request.application}}
   </h1>
  </div>
  <div id="navigation">
   <ul>
    <li id="lhome">
     <a href="#00" title="Home">
      Home
     </a>
    </li>
    <li id="lservices">
     <a href="#05" title="Services">
      Services
     </a>
    </li>
    <li id="lproducts">
     <a href="#06" title="Products">
      Products
     </a>
    </li>
    <li id="lsupport">
     <a href="#07" title="Support">
      Support
     </a>
    </li>
    <li id="lblog">
     <a href="#08" title="Blog">
      Blog
     </a>
    </li>
    <li id="labout">
     <a href="#09" title="About">
      About
     </a>
    </li>
    <li id="lcontact">
     <a href="#10" title="Contact">
      Contact
     </a>
    </li>
   </ul>
  </div>
  <div id="wrapper">
   <div id="content-wrapper">
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
   </div>
   <div id="sidebar-wrapper">
    <div id="sidebar">
     <h6>
      Upcoming Events
     </h6>
     <ul id="upcoming-events">
      <li>
       <a href="#21" title="Find Out More">
        Entries Are Ordered
							(August 10, 2006)
       </a>
      </li>
      <li>
       <a href="#22" title="Find Out More">
        By Date Or Whatever
							(August 15, 2006)
       </a>
      </li>
      <li>
       <a href="#23" title="Find Out More">
        You Can Have As Many
							(September 30, 2006)
       </a>
      </li>
      <li>
       <a href="#21" title="Find Out More">
        As You Want
							(October 10, 2006)
       </a>
      </li>
      <li>
       <a href="#21" title="Find Out More">
        But I Suggest Less Than 10
							(October 10, 2006)
       </a>
      </li>
     </ul>
     <h6>
      Announcements
     </h6>
     <ul id="announcements">
      <li>
       <span class="date">
        07.31.06
       </span>
       <a href="#23">
        Something Awesome Just Happened
       </a>
       <span class="entry">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ut nunc. Vestibulum quis nulla. Maecenas ac ante.
       </span>
      </li>
      <li class="alt">
       <span class="date">
        07.25.06
       </span>
       <a href="#23">
        Proin Sem Lectus
       </a>
       <span class="entry">
        Suspendisse ultrices odio quis neque. Pellentesque dui mi, bibendum ac, porta vel, cursus quis, odio.
       </span>
      </li>
      <li>
       <span class="date">
        07.21.06
       </span>
       <a href="#23">
        Morbi Pretium Nulla
       </a>
       <span class="entry">
        onec sodales sodales nulla. In hac habitasse platea dictumst. Nulla mollis, leo vel cursus sagittis.
       </span>
      </li>
      <li class="alt">
       <span class="date">
        07.20.06
       </span>
       <a href="#23">
        Pellentesque Tempus
       </a>
       <span class="entry">
        Elit eros lobortis erat, ut tempor tortor pede vel arcu. Cras congue suscipit orci.
       </span>
      </li>
      <li>
       <span class="date">
        07.20.06
       </span>
       <a href="#23">
        Vivamus Vitae Lectus
       </a>
       <span class="entry">
        Vivamus mauris odio, ornare in, ultrices at, commodo vel, metus. Quisque vitae odio at dolor porta suscipit. 
							Ut ullamcorper pretium lorem. Fusce consectetuer sem eu mauris.
       </span>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div id="footer">
   <div id="additional-info">
    <div id="recent-blog">
     <h6>
      Recent Entries
     </h6>
     <ul>
      <li>
       <a href="#11" title="Read this entry">
        How to Type Like the Wind
       </a>
      </li>
      <li>
       <a href="#12" title="Read this entry">
        Lorem Ipsum Stinks
       </a>
      </li>
      <li>
       <a href="#13" title="Read this entry">
        Everyone Knows This, Of course
       </a>
      </li>
      <li>
       <a href="#14" title="Read this entry">
        But They Use it Anyway
       </a>
      </li>
      <li>
       <a href="#15" title="Read this entry">
        What's Up With That?
       </a>
      </li>
     </ul>
    </div>
    <div id="recent-news">
     <h6>
      Recent News
     </h6>
     <ul>
      <li>
       <a href="#16" title="Read this news item">
        Stockholder Meeting Report
       </a>
      </li>
      <li>
       <a href="#17" title="Read this news item">
        Profits up 20% This Quarter
       </a>
      </li>
      <li>
       <a href="#18" title="Read this news item">
        Not that Most Poeple Care
       </a>
      </li>
      <li>
       <a href="#19" title="Read this news item">
        But All the Same
       </a>
      </li>
      <li>
       <a href="#20" title="Read this news item">
        It Deserved To Be Blogged About
       </a>
      </li>
     </ul>
    </div>
    <div id="about">
     <h6>
      About
     </h6>
     <p>
      You can include anything here. It's free space up for grabbing. For example, 
					you can write a little about your company or talk about the important people,
					or whatever.
     </p>
     <p>
      Or, you can include some image. Or you can have your latest product here. Or, 
					you can talk about your awesome support. Whatever you do, keep it short and 
					simple.
      <a href="#21" title="Read More About Us">
       Read more &raquo;
      </a>
     </p>
    </div>
   </div>
   <div id="site-info">
    <p>
     Copyright &copy; 1990 &mdash; 2006 Two-Tenths. All rights reserved | 
				Design by
     <a href="http://www.nikhedonia.com/" title="SimplyGold">
      Sadhana Ganapathiraju
     </a>
     |
     <a href="http://validator.w3.org/check/referer" title="XHTML 1.0 Strict">
      XHTML
     </a>
     |
     <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="CSS 2.0 Strict">
      CSS
     </a>
    </p>
   </div>
  </div>
 </body>
</html>