<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/WebBouquet/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="left-column">
    <img src="img/flower.gif" alt="A thing of beauty is a joy forever." />
    <div id="menu11">
     <ul>
      <li>
       <a id="current" href="#">
        Home
       </a>
      </li>
      <li>
       <a href="#">
        Products
       </a>
      </li>
      <li>
       <a href="#">
        Services
       </a>
      </li>
      <li>
       <a href="#">
        Support
       </a>
      </li>
      <li>
       <a href="#">
        Order
       </a>
      </li>
      <li>
       <a href="#">
        News
       </a>
      </li>
      <li>
       <a href="#">
        About
       </a>
      </li>
     </ul>
    </div>
    <p>
     <a href="http://validator.w3.org/check?uri=referer">
      <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
     </a>
    </p>
    <img src="img/rose.gif" alt="Rose are red, violets are..." />
   </div>
   <div id="right-column">
    <img src="img/rtFlower.gif" alt="Another Spring Flower..." />
    <span style="background-color:#FFF;color:#823467;border:thin dashed #823467">
     NEWS
    </span>
    <div id="news">
     <p>
      Here is a place you can put some news and other information if you wish.
     </p>
    </div>
    <br />
    <span style="background-color:#000;color:#FFF;border:thin dashed #FFF">
     Links
    </span>
    <br />
    <a href="http://www.findmytwinonline.com">
     Find Your Lookalike
    </a>
    <br />
    <a href="http://www.snappyad.com">
     Free Classifieds
    </a>
   </div>
   <div id="header">
    <div id="title">
     Web Bouquet
    </div>
    <p>
     A thing of beauty is a joy forever.
     <span style="font-size:10px;font-style:italic;">
      (Robert Frost, I think)
     </span>
    </p>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
  </div>
 </body>
</html>