<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/WesternNightLights/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <h2>
     Western Night Lights
    </h2>
   </div>
   <div id="navigation">
    <ul>
     <li id="current">
      <a href="#">
       <span>
        Home
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        Activities
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        Visitor Information
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        About US
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        Contact US
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        Daily News
       </span>
      </a>
     </li>
    </ul>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    Copyright your name, Design by Bryan Lass,
    <a href="http://www.idavista.com">
     IdaVista
    </a>
    , Inc.
    <br />
    Download your free auto maintenance reminder at
    <a href="http://www.idavista.com/transroster">
     www.idavista.com
    </a>
   </div>
  </div>
 </body>
</html>