<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Whitelight/global.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="bg">
   <div id="bg_top">
    <div id="body">
     <div id="header">
      White light
      <br />
      <span class="slogan">
       Slogan here.
      </span>
     </div>
     <div id="side">
      <div id="menu">
       {{=MENU(response.menu)}}
      </div>
      <div id="side_content">
       <div class="side_title">
        Latest news
       </div>
       <div class="sidenotes">
        <ul>
         <li>
          <a href="#">
           <span class="title">
            Lorem ipsum
           </span>
           <span class="date">
            20.08.2006
           </span>
           Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          </a>
         </li>
         <li>
          <a href="#">
           <span class="title">
            Vivamus nulla
           </span>
           <span class="date">
            21.08.2006
           </span>
           Vivamus nulla   ipsum, rutrum scelerisque, imperdiet sit amet, malesuada ultrices, mi.
          </a>
         </li>
         <li>
          <a href="#">
           <span class="title">
            Vivamus dapibus
           </span>
           <span class="date">
            21.08.2006
           </span>
           Vivamus dapibus, sapien vel venenatis eleifend, pede lacus mattis felis.
          </a>
         </li>
         <li>
          <span class="more">
           <a href="#" title="View all the news.">
            MORE NEWS
            <img src="img/more.gif" alt="View all the news." width="7" height="7" />
           </a>
          </span>
         </li>
        </ul>
       </div>
       <div class="side_title">
        Community
       </div>
       <div>
        <input name="user" type="text" class="styled" id="user" value="Username" onfocus="if(this.value == 'Username') this.value = '';" onblur="if(this.value == '') this.value = 'Username';" size="30" />
        <br />
        <input name="pass" type="password" class="styled" id="pass" value="Password" onfocus="if(this.value == 'Password') this.value = '';" onblur="if(this.value == '') this.value = 'Password';" size="30" />
        <br />
        <input name="login" type="button" class="styled" id="login" value="Login" />
        <br />
        <span class="login_text">
         <a href="#" title="Click here to make a new account.">
          Sign up now!
         </a>
         |
         <a href="#" title="Click here if you forgot your password.">
          Recover password
         </a>
        </span>
       </div>
       <div class="side_title">
        Other stuff
       </div>
       <div>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus nulla   ipsum, rutrum scelerisque, imperdiet sit amet, malesuada ultrices, mi. Phasellus id pede.
       </div>
      </div>
     </div>
     <div id="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
     <div id="footer_clear">
      <!--DO NOT REMOVE THIS DIV-->
     </div>
     <div id="footer">
      Copyright &copy;2008 Your site. All rights reserved. Based on a design by
      <a href="http://www.elemental-works.com/free-web-templates/" target="_blank">
       Free Web Templates - Elemental Works
      </a>
      . Valid
      <a href="http://validator.w3.org/check?uri=referer" target="_blank" title="Check the XHTML validity of this page.">
       XHTML
      </a>
      &amp;
      <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank" title="Check the CSS validity of this page.">
       CSS
      </a>
      .
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
