<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
 <head profile="http://gmpg.org/xfn/11">
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Winterplain/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="top">
    <div class="left">
     <h1 id="site_title">
      {{=response.title or request.application}}
     </h1>
     <div id="site_description">
      Free Website Template
     </div>
    </div>
    <a href="#" class="button feed right">
     <span>
     </span>
    </a>
    <div class="clearer">
    </div>
   </div>
   <div class="path" id="nav">
    {{=MENU(response.menu)}}
   </div>
   <div id="main">
    <div class="left" id="main_left">
     <div id="splash">
      <div class="container">
       <div class="post">
        <h2>
         {{=response.subtitle or '=response.subtitle'}}
        </h2>
        <div class="date">
         June 17th, 2007 in
         <a href="#">
          Maecenas
         </a>
        </div>
        <div class="body">
         <p>
          Winterplain is also available as a
          <a href="http://templates.arcsin.se/winterplain-wordpress-theme/">
           Wordpress theme
          </a>
          .
         </p>
         <img src="img/sample_image.png" alt="Sample Image" height="130" width="130" class="left" />
         <p>
          Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis
          <a href="index.html">
           quam aliquam
          </a>
          risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.
         </p>
         <p>
          Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus.
         </p>
        </div>
        <div class="metadata">
         <div class="left">
          <span class="comment">
           <a href="#">
            4 Comments
           </a>
          </span>
         </div>
         <div class="right">
          <span class="tag">
           <a href="#">
            porttitor
           </a>
           ,
           <a href="#">
            arcu
           </a>
           ,
           <a href="#">
            eget
           </a>
           ,
           <a href="#">
            pretium
           </a>
          </span>
         </div>
         <div class="clearer">
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="post">
      <h1>
       <a href="#">
        Porttitor posuere
       </a>
      </h1>
      <div class="date">
       Jun 13, 2006 by Vulputate
      </div>
      <div class="body">
       <p>
        In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor. In bibendum. Aenean ornare,
        <a href="index.html">
         nunc eget pretium
        </a>
        porttitor, sem est pretium leo, non euismod nulla dui non diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est.
       </p>
       <blockquote>
        <p>
         Sed sodales nisl sit amet augue. Donec ultrices, augue ullamcorper posuere laoreet, turpis massa tristique justo, sed egestas metus magna sed purus.
        </p>
       </blockquote>
       <h2>
        Sollicitudin
       </h2>
       <p>
        Aliquam risus justo, mollis in, laoreet a, consectetuer nec, risus. Nunc blandit sodales lacus. Nam luctus semper mi. In eu diam.
       </p>
       <p>
        Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus. Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis
        <a href="index.html">
         quam aliquam
        </a>
        risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.
       </p>
      </div>
      <div class="metadata">
       <div class="left">
        <span class="comment">
         <a href="#">
          6 Comments
         </a>
        </span>
       </div>
       <div class="right">
        <span class="tag">
         <a href="#">
          arcu
         </a>
         ,
         <a href="#">
          eget
         </a>
         ,
         <a href="#">
          pretium
         </a>
         ,
         <a href="#">
          porttitor
         </a>
        </span>
       </div>
       <div class="clearer">
       </div>
      </div>
     </div>
     <div class="post">
      <h1>
       <a href="#">
        Adipiscing
       </a>
      </h1>
      <div class="date">
       Jun 11, 2006 by Laoreet
      </div>
      <div class="body">
       <p>
        Aliquam risus justo, mollis in, laoreet a, consectetuer nec, risus. Nunc blandit sodales lacus. Nam luctus semper mi.
       </p>
       <ul>
        <li>
         Tristique
        </li>
        <li>
         Aenean
        </li>
        <li>
         Pretium
        </li>
       </ul>
       <p>
        In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor. In bibendum. Aenean ornare, nunc eget pretium porttitor, sem est pretium leo, non euismod nulla dui non diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est.
       </p>
      </div>
      <div class="metadata">
       <div class="left">
        <span class="comment">
         <a href="#">
          13 Comments
         </a>
        </span>
       </div>
       <div class="right">
        <span class="tag">
         <a href="#">
          eget
         </a>
         ,
         <a href="#">
          pretium
         </a>
         ,
         <a href="#">
          porttitor
         </a>
         ,
         <a href="#">
          arcu
         </a>
        </span>
       </div>
       <div class="clearer">
       </div>
      </div>
     </div>
     <div class="post">
      <h1>
       <a href="#">
        Interdum
       </a>
      </h1>
      <div class="date">
       May 24, 2006 by Lectus
      </div>
      <div class="body">
       <p>
        Praesent nisi sem, bibendum in, ultrices sit amet, euismod sit amet, dui. Donec varius tincidunt nisi. Ut ut sapien. Integer porta. Fusce nibh. Curabitur pellentesque, lectus at
        <a href="index.html">
         volutpat interdum
        </a>
       </p>
       <h3>
        Sem justo
       </h3>
       <p>
        Placerat elit, eget feugiat est leo tempor quam. Ut quis neque convallis magna consequat molestie. Nullam semper massa eget ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque a nibh quis nunc volutpat aliquam
       </p>
       <code>
        margin-bottom: 12px;
font: normal 1.1em "Lucida Sans Unicode",serif;
background: url(img/quote.gif) no-repeat;
padding-left: 28px;
color: #555;
       </code>
       <p>
        Eget feugiat est leo tempor quam. Ut quis neque convallis magna consequat molestie.
       </p>
      </div>
      <div class="metadata">
       <div class="left">
        <span class="comment">
         <a href="#">
          9 Comments
         </a>
        </span>
       </div>
       <div class="right">
        <span class="tag">
         <a href="#">
          eget
         </a>
         ,
         <a href="#">
          pretium
         </a>
         ,
         <a href="#">
          porttitor
         </a>
         ,
         <a href="#">
          arcu
         </a>
        </span>
       </div>
       <div class="clearer">
       </div>
      </div>
     </div>
    </div>
    <div class="right" id="main_right">
     <div id="sidebar">
      <h2>
       Search
      </h2>
      <div class="content">
       <div class="flash">{{=response.flash or ''}}</div>
       {{include}}
      </div>
      <h2>
       Archives
      </h2>
      <ul class="content">
       <li>
        <a href="#">
         June 2007
        </a>
        (1)
       </li>
       <li>
        <a href="#">
         May 2007
        </a>
        (1)
       </li>
       <li>
        <a href="#">
         March 2007
        </a>
        (1)
       </li>
       <li>
        <a href="#">
         February 2007
        </a>
        (2)
       </li>
       <li>
        <a href="#">
         January 2007
        </a>
        (2)
       </li>
       <li>
        <a href="#">
         December 2006
        </a>
        (2)
       </li>
       <li>
        <a href="#">
         November 2006
        </a>
        (3)
       </li>
       <li>
        <a href="#">
         October 2006
        </a>
        (1)
       </li>
       <li>
        <a href="#">
         September 2006
        </a>
        (3)
       </li>
       <li>
        <a href="#">
         August 2006
        </a>
        (4)
       </li>
      </ul>
      <h2>
       Categories
      </h2>
      <ul class="content">
       <li>
        <a href="#">
         Single Column
        </a>
        (5)
       </li>
       <li>
        <a href="#">
         Three Columns
        </a>
        (2)
       </li>
       <li>
        <a href="#">
         Two Columns
        </a>
        (13)
       </li>
      </ul>
      <h2>
       Tags
      </h2>
      <div class="content">
       <a href="#" style="font-size: 10pt;">
        quis
       </a>
       <a href="#" style="font-size: 11pt;">
        montesa
       </a>
       <a href="#" style="font-size: 9pt;">
        nascetur
       </a>
       <a href="#" style="font-size: 9pt;">
        ridiculus
       </a>
       <a href="#" style="font-size: 8pt;">
        semper
       </a>
       <a href="#" style="font-size: 12pt;">
        clean
       </a>
       <a href="#" style="font-size: 8pt;">
        convallis
       </a>
       <a href="#" style="font-size: 14pt;">
        tempor
       </a>
       <a href="#" style="font-size: 8pt;">
        sociis
       </a>
       <a href="#" style="font-size: 9pt;">
        feugiat
       </a>
       <a href="#" style="font-size: 8pt;">
        quam
       </a>
       <a href="#" style="font-size: 10pt;">
        euismod
       </a>
       <a href="#" style="font-size: 9pt;">
        ligula
       </a>
       <a href="#" style="font-size: 10pt;">
        penatibus
       </a>
       <a href="#" style="font-size: 8pt;">
        aliquam
       </a>
       <a href="#" style="font-size: 8pt;">
        sapien
       </a>
       <a href="#" style="font-size: 8pt;">
        volutpat
       </a>
       <a href="#" style="font-size: 11pt;">
        natoque
       </a>
       <a href="#" style="font-size: 8pt;">
        tincidunt
       </a>
       <a href="#" style="font-size: 8pt;">
        varius
       </a>
       <a href="#" style="font-size: 8pt;">
        summer
       </a>
       <a href="#" style="font-size: 8pt;">
        pellentesque
       </a>
       <a href="#" style="font-size: 9pt;">
        curabitur
       </a>
       <a href="#" style="font-size: 8pt;">
        porta
       </a>
      </div>
      <h2>
       Links
      </h2>
      <ul class="content">
       <li>
        <a href="http://templates.arcsin.se/category/blogger-templates/">
         Blogger Templates
        </a>
       </li>
       <li>
        <a href="http://templates.arcsin.se/category/joomla-templates/">
         Joomla Templates
        </a>
       </li>
       <li>
        <a href="http://templates.arcsin.se/professional-templates/">
         Professional Templates
        </a>
       </li>
       <li>
        <a href="http://templates.arcsin.se/category/website-templates/">
         Website Templates
        </a>
       </li>
       <li>
        <a href="http://templates.arcsin.se/category/wordpress-themes/">
         Wordpress Themes
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="clearer">
    </div>
   </div>
   <div id="footer">
    <div class="left">
     &copy; 2007
     <a href="#">
      Website.com
     </a>
     |
     <a href="#top">
      Go to top
     </a>
    </div>
    <div class="right">
     <a href="http://templates.arcsin.se/">
      Website template
     </a>
     by
     <a href="http://arcsin.se/">
      Arcsin
     </a>
    </div>
    <div class="clearer">
    </div>
   </div>
  </div>
 </body>
</html>