<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <!--
 ____________________________________________________________
|                                                            |
|    DESIGN : Jeremie Tisseau { http://web-kreation.com }    |
|      DATE : 2007.08.31                                     |
| COPYRIGHT : Free use if this notice is left in place       |
|     EMAIL : webmaster@web-kreation.com                     |
|____________________________________________________________|

-->
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Yoghourt/css/stylesheet.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="wrapper">
    <div id="sidebar">
     <div id="sb_top">
      <div class="sb_logo">
       <!-- The logo - Change it to be your own -->
       <a href="index.html" title="Home">
        <img src="images/logo.jpg" alt="Home" />
       </a>
      </div>
      <!-- ... and now the slogan: -->
      <p>
       A free template for your website
      </p>
     </div>
     <div class="sb_content">
      <!--##########-->
      <!-- Start Menu -->
      <ul id="navlist">
       <li>
        <a href="index.html">
         home
        </a>
       </li>
       <li>
        <a href="about.html">
         About
        </a>
       </li>
       <li>
        <a href="portfolio.html">
         Portfolio
        </a>
       </li>
       <li>
        <a class="noborder" href="contact.html">
         Contact
        </a>
       </li>
      </ul>
      <!-- /Menu -->
      <!-- Profile -->
      <h2>
       {{=response.subtitle or '=response.subtitle'}}
      </h2>
      <p>
       <img src="images/budha.jpg" alt="Photo Example" />
      </p>
      <p>
       Hi! My name's Jeremie and I am a 28 year old boy web designer from Spain. I was born in France and went to work on the Canary Islands few years ago.
      </p>
      <!-- links -->
      <h2>
       Links
      </h2>
      <ul>
       <li>
        <a href="http://oswd.org" target="_blank">
         OSWD - Open Source Web Design
        </a>
       </li>
       <li>
        <a href="http://www.opensourcetemplates.org" target="_blank">
         OpenSourceTemplates
        </a>
       </li>
       <li>
        <a href="http://www.openwebdesign.org" target="_blank">
         OpenWebDesign
        </a>
       </li>
      </ul>
      <div class="copyright">
       <p>
        Template design by
        <a href="http://web-kreation.com">
         Web-Kreation
        </a>
        .
        <br />
        &copy; All your copyright information here.
       </p>
       <p>
        Valid
        <a href="http://validator.w3.org/check?uri=referer" title="validate XHTML">
         XHTML
        </a>
        &amp;
        <a href="http://jigsaw.w3.org/css-validator" title="validate CSS">
         CSS
        </a>
       </p>
      </div>
     </div>
     <!-- /sb_content -->
    </div>
    <!-- /sidebar -->
    <!-- Top -->
    <div id="header">
     <input name="search" class="search" type="text" value="Search..." />
     <a href="contact.php" name="Contact">
      <img src="images/contact.jpg" alt="Contact" />
      Contact
     </a>
    </div>
    <!-- Start main content -->
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <!-- /content -->
   </div>
   <!-- /wrapper -->
   <div class="clear">
    &nbsp;
   </div>
   <!-- Important! Fix the problem of height in Firefox -->
  </div>
  <!-- /Container -->
 </body>
</html>