<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <!-- header -->
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p class="slogan">
     A nice slogan goes here!
    </p>
   </div>
   <!-- main menu -->
   <div id="mainmenu">
    <ul>
     <li>
      <a href="#">
       Home
      </a>
     </li>
     <li>
      <a href="#">
       About
      </a>
     </li>
     <li>
      <a href="#">
       Services
      </a>
     </li>
     <li>
      <a href="#">
       Products
      </a>
     </li>
     <li>
      <a href="#">
       Contact
      </a>
     </li>
    </ul>
   </div>
   <!-- content area -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <p class="center">
     &copy; 2005 Your Name | Design by
     <a href="http://zidesigns.com">
      Zaigham
     </a>
     |
     <a href="http://validator.w3.org/check/referer">
      XHTML
     </a>
     <a href="http://jigsaw.w3.org/css-validator/check/referer">
      CSS
     </a>
     <a href="#">
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
