

body {
	margin: 0;
	padding: 0;
	background: /*#E5E5E5*/ url(images/background.gif);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #666666;
}

blockquote {
	font-style: italic;
}

a {
	color: #135293;
}

a:hover {
	text-decoration: none;
}
.titleC{
	
	
	padding: 120px ;
	background: url(images/contact.jpg)no-repeat center center;
	
	font-size: 145%;
	color: #FFFFFF;
}

.titleA{
	
	
	padding: 110px ;
	background: url(images/all_song.jpg)no-repeat center center;
	font-weight: normal;
	font-size: 145%;
	color: #FFFFFF;
}
.titleR{
		
	padding: 110px ;
	background: url(images/register.jpg)no-repeat center center;
	font-weight: normal;
	font-size: 145%;
	color: #FFFFFF;
}
.titleU{
	margin:0px 250px;
	padding: 60px ;
	background: url(images/user.jpg)no-repeat  ;
	font-weight: normal;
	font-size: 130%;
	color: #FFFFFF;
}
.titleS{
		
	padding: 100px ;
	background: url(images/search.jpg)no-repeat center center;
	font-weight: normal;
	font-size: 145%;
	color: #FFFFFF;
}
.comment{
		
	padding: 100px ;
	background: url(images/comment.jpg)no-repeat center center;
	font-weight: normal;
	font-size: 145%;
	color: #FFFFFF;
}
.titleZ{
	margin:0px 230px;	
	padding: 110px ;
	background: url(images/notification.jpg)no-repeat center center;
	font-weight: normal;
	font-size: 145%;
	color: #FFFFFF;
}

.titleH{
	margin:0px 230px;	
	padding: 110px ;
	background: url(images/upload.jpg)no-repeat center center;
	font-weight: normal;
	font-size: 145%;
	color: #FFFFFF;
}
.titleP {
	
	
	padding: 110px ;
	background: url(images/img031.gif)no-repeat center center;
	font-weight: normal;
	font-size: 145%;
	color: #FFFFFF;
}
.titleT {
	
	
	padding: 110px ;
	background: url(images/top.jpg)no-repeat center center;
	font-weight: normal;
	font-size: 145%;
	color: #FFFFFF;
}
.titleN {
	
	
	padding: 110px ;
	background: url(images/a1.jpg) repeat-x left bottom;
	font-weight: normal;
	font-size: 145%;
	color: #FFFFFF;
}

.title1 {
	margin: 0;
	padding: 10px 0;
	background: url(images/img07.gif) repeat-x left bottom;
	font-weight: normal;
	font-size: 129%;
	color: #FFFFFF;
}
.titleX {
	margin: 0;
	padding: 10px 0;
	background: url(images/img11.gif) repeat-x left bottom;
	font-weight: normal;
	font-size: 129%;
	color: #FFFFFF;
}
.title2 {
	margin: 0;
	padding: 10px 0;
	/*background: url(images/img09.gif) repeat-x left bottom;*/
	font-size: 227%;
	font-weight: normal;
	color: #135293;
}

}
.click {margin: 0;
	padding: 10px 0;
	/*background: url(images/img09.gif) repeat-x left bottom;*/
	font-weight: normal;
	color: #135293;
	font: bold 100%
	text-decoration: bold;
}

.title3 {
	margin: 0;
	padding: 10px 0;
	background: url(images/img11.gif) repeat-x left bottom;
	font-size: 129%;
	font-weight: normal;
	color: #FFFFFF;
}

.boxed {
	padding: 5px 30px 20px 20px;
}

.boxed p, .boxed ul, .boxed ol {
	line-height: 180%;
}

.orange {
	margin: 20px 180px;
	background: #FF9523 url(images/img10.gif) repeat-x;
	color: #FFFFFF;
}

.orange a {
	color: #FFFFFF;
}

.col-one {
	float: left;
	width: 300px;
}

.col-two {
	float: right;
	width: 300px;
}

/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	background: #FFFFFF url(images/img01.gif) repeat-y;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
}

/* Logo */

#logo {
	height: 220px;
	background: #FFFFFF url(images/img02.gif) repeat-y right top;
}

#logo h1, #logo h2 {
	margin: 0;
	text-transform: lowercase;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	color: #9C9C9C;
}

#logo h1 {
	padding: 60px 0 0 0;
	background: url(images/logo.gif) no-repeat center center;
	font-size: 40px;
}
#music h1{padding: 150px 0 0 0;
	background: url(images/img03.gif) no-repeat center center;
	
}

#logo h2 {
	font-size: 14px;
}

#logo a {
	color: #9C9C9C;
	text-decoration: none;
}

/* Menu */

#menu {
	padding: 20px;
	background: #85C329 url(images/img04.gif) repeat-x;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	padding: 10px 0;
	background: url(images/img05.gif) repeat-x;
}

#menu li.first {
	background: none;
}

#menu a {
	text-decoration: none;
	font-size: 129%;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

/* Login */

#login {
	padding: 20px;
	background: url(images/img06.gif) repeat-x;
}

#login form {
	margin: 0;
	padding: 20px 0 0 0;
}

#login fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#login label {
	color: #FFFFFF;
}
#inputtext1, #inputtext2 {
	width: 194px;
	margin-bottom: .5em;
	font: bold 100% Georgia, "Times New Roman", Times, serif;
	color: #666666;
}

#inputsubmit1 {
	margin-bottom: .5em;
	font: bold 100% Georgia, "Times New Roman", Times, serif;
	color: #666666;
}

#login a {
	color: #FFFFFF;
}
/* search */

#search {
	padding: 20px;
	background:  #FF9523 url(images/img10.gif) repeat-x;
}

#search form {
	margin: 0;
	padding: 20px 0 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search label {
	color: #FFFFFF;
}
#inputsearch1{
	width: 194px;
	margin-bottom: .5em;
	font: bold 100% Georgia, "Times New Roman", Times, serif;
	color: #666666;
}

#inputsubmit4 {
	margin-bottom: .5em;
	font: bold 100% Georgia, "Times New Roman", Times, serif;
	color: #666666;
}
#search a {
	color: #FFFFFF;
}


/* Content */

#content {
	float: right;
	width: 740px;
}

/* Footer */

#footer {
	width: 980px;
	height: 120px;
	margin: 0 auto;
	background: url(images/img12.gif) repeat-x;
}

#footer p {
	margin: 0;
	font-size: 85%;
}

#links {
	float: left;
	width: 240px;
	height: 80px;
	padding: 0px 0 0 0px;
	background: url(images/img13.gif) repeat-x;
	
}

#links a {
	color: #FFFFFF;
}

#legal {
	float: right;
	width: 720px;
	height: 45px;
	padding: 35px 0 0 20px;
}
