<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Travel Portal
Version    : 1.0
Released   : 20070618
Description: A two-column, fixed-width template.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/TravelPort/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 25%;
    width: 11%;
    height: 30px;
    opacity: 0.55;
    vertical-align: middle;
    text-align: center;
    margin:10px 0 0 0 ; 
    clear: both;
   
    color: white;
    font-size: 14pt;
    padding: 20px 0px 10px 10px;
    cursor: pointer;
    background: black;
    border: 5px solid #6275A4;
    -moz-border-radius: 8px;
    -webkit-border-radius: 6px;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="page">
   <div id="sidebar">
    <div id="logo">
<h1>
     </h1>
     
   <div id="music"><h1></h1></div>
   </div>
    <!-- end header -->

    <div id="menu">
     {{=MENU(response.menu)}}
    </div>
    <!-- end menu -->
     <div id="search">
     <h2 class="titleX">
      Search
     </h2>
     
{{if (request.function=='add_keyword' or request.function=='all_songs_detail' or request.function=='notification_detail' or request.function=='playsong' or request.function=='show_playlist' or request.function=='deletesong_playlist' or request.function=='delete_playlist' or request.function=='rate_song'):}}

     <form id="form1" method="post" action="../search">
{{else:}} 
    <form id="form1" method="post" action="{{=URL(r=request,f='search')}}">
 {{pass}} 
      <fieldset>
         <input id="inputsearch1" type="text" name="search" value="" />
        <input id="inputsubmit1" type="submit" name="inputsubmit1" value="Search" />
      </fieldset>
     </form>
    </div>
{{pass}}
    <!----------------->
{{if not session.id:}}
    <div id="login">
     <h2 class="title1">
      User Login
     </h2>
    
     <form id="form1" method="post" action="login">
      <fieldset>
       <label for="inputtext1">
        E-mail ID
       </label>
       <input id="inputtext1" type="text" name="email" value="" />
       <label for="inputtext2">
        Password:
       </label>
       <input id="inputtext2" type="password" name="password" value="" />
       <input id="inputsubmit1" type="submit" name="inputsubmit1" value="Sign In" />
       <p>
        <a href="forgot_password">
         Forgot your password?
        </a>
        <br />
        <a href="{{=URL(r=request,f='register')}}">
         Register for Free!
        </a>
       </p>
      </fieldset>
     </form>
    </div>
{{pass}}
{{if session.id:}}
<div id="login">
<h2 class='title1'>Welcome {{=session.name}}</h2>
<h3 class='title1'>Download slots Available: {{=db.user[session.id].download_slots}}</h3>
<h3 class='title1'>Visit No. : {{=db.user[session.id].visits}}
</h3>
</div>
{{pass}}
   </div>

   <!-- end sidebar -->

   <div id="content">
    
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p id="legal">
    Copyright &copy; 2010 Music Larva. All Rights Reserved. Designed by
    <a href="mailto:rishabh.garg@students.iiit.ac.in">Rishabh Garg 
    </a>&nbsp;&nbsp;&&nbsp;&nbsp;
    <a href="mailto:namra.maheshwari@students.iiit.ac.in">
Namra Maheshwari
    </a>
   </p>
   <p id="links">
  <iframe src="http://www.facebook.com/plugins/likebox.php?id=139591022745019&amp;width=292&amp;connections=0&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:62px;" allowTransparency="true"></iframe>
   </p>
  </div>
 </body>
</html>
