<style>
div.error {
    background-color: red;
color: white;
padding: 3px;
}    
</style>

{{=form.custom.begin}}
<table style="padding-left:30px;color:#FF9523">
<tr><td>Keyword</td><td>:</td<td>{{=form.custom.widget.keyword}}</td><td>{{=form.custom.submit}}</td></tr>
</table>
{{=form.custom.end}}
