{{extend 'TravelPort.html'}}
<div class="titleH"></div>
<br/>
<h1 style="font-size:25px;text-align:center;text-decoration:underline">Uploading a Song</h1><br/>
<table style="font-size:18px;padding-left:210px">
{{=form.custom.begin}}
<tr><td>Title</td><td>:</td><td>{{=form.custom.widget.title}}</td></tr>
<tr><td>Movie/Album</td><td>:</td><td>{{=form.custom.widget.movie}}</td></tr>
<tr><td>Artist</td><td>:</td><td>{{=form.custom.widget.artist}}</td></tr>
<tr><td>Year of release</td><td>:</td><td>{{=form.custom.widget.yor}}</td></tr>
<tr><td>Rating</td><td>:</td><td>{{=form.custom.widget.rating}}</td></tr>
<tr><td>Song</td><td>:</td><td>{{=form.custom.widget.song}}</td></tr>
<tr><td>Image</td><td>:</td><td>{{=form.custom.widget.image}}</td></tr>
<tr><td></td></tr>
<tr><td></td><td></td><td>{{=form.custom.submit}}</td></tr>

</table>
{{=form.custom.end}}

<p  style="font-size:18px;padding-left:140px">( <span style="color:blue">Morderator Request :</span> Try to fill maximum amount of information. )</p>
