<style>
div.error {
    background-color: red;
color: white;
padding: 3px;
}    
</style>
{{=form.custom.begin}}
<table style="padding-left:50px;color:#FF9523">
<tr><td>Select Playlist </td><td>:</td><td>{{=form.custom.widget.playlistid}}</td><td>{{=form.custom.submit}}</td></tr>
</table>
{{=form.custom.end}}
