{{extend 'TravelPort.html'}}

<br/>
<table style="padding-left:60px"><tr><td><img src="{{=URL(r=request,f='download',args=db.music[details[0].id].image)}}" width="150px" height="150px"/ ></td><td style="padding-left:100px">


<h1 style="text-decoration:underline;text-align:center">{{=details[0].title}}</h1>
<table style="font-size:18px">
<tr><td style="font-weight:bold">Movie/Album</td><td>:</td><td> {{=details[0].movie}}</td></tr>

<tr><td style="font-weight:bold">Artist</td><td>:</td><td> {{=details[0].artist}}</td></tr>
<tr><td style="font-weight:bold">Year of Release</td><td>:</td><td> {{=details[0].yor}}</td></tr>
<tr><td style="font-weight:bold">Average Rating</td><td>:</td><td> {{="%.2f"%rating[0].avg_rating}}</td></tr>
<tr></tr>
</table>
<br/><br/>
<table style="">
<tr>
{{if session.user==1:}}
<td><form action='../edit_music'>
<input type='submit' value='Edit' />
</form></td>{{pass}}
{{if db.user[session.id].download_slots>0:}}
<td><form action="{{=URL(r=request,f='download2',args=db.music[details[0].id].song)}}" onClick="return confirm('Clicking on OK will will reduce your Download Slot by 1')">
<input type='submit' value='Download' />
</form></td>{{pass}}
{{if session.user==1:}}<td><form action="{{=URL(r=request,f='delete_music',args=details[0].id)}}">
<input type='submit' value='Delete' />
</form></td>{{pass}}
</tr>
</table>

</td>
</tr>
</table>
<br/>
<br/>
<br/>


<table  border="0" style="margin:0px 0 0px 40px">
<tr><td style="font-weight:bold;font-size:20px">Play</td><td></td><td>:</td><td style="padding-left:130px">

<object type="application/x-shockwave-flash" data="{{=URL(r=request,c='static',f='player_mp3_maxi.swf')}}" width="200" height="20">

    <param name="wmode" value="transparent" />

    <param name="movie" value="{{=URL(r=request,c='static',f='player_mp3_maxi.swf')}}" />

    <param name="FlashVars" value="mp3={{=URL(r=request,f='download',args=db.music[details[0].id].song)}}&amp;showstop=1&amp;showinfo=1&amp;showvolume=1" />

    <p style="font-size:18px;font-family:cursive;padding-left:50px;color:blue">Flash Player is Unavailable !!</p>

</object></td></tr><tr><td><br/></td></tr>

<tr><td style="font-weight:bold;font-size:20px">Rate</td><td></td><td>:</td><td><a href="{{=URL(r=request,f='rate_song',args=details[0].id)}}" target="iframe4" style="padding-left:140px;font-size:20px;text-decoration:none">Click Here to Rate</a></td></tr>


<tr><td></td><td></td><td></td><td  style="padding-left:70px"><iframe name="iframe4" src="#" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:60px;" allowTransparency="true"></iframe></td></tr><tr><td><br/></td></tr>





<tr><td style="font-weight:bold;font-size:20px">Add to Playlist</td><td></td><td>:</td><td><a href="{{=URL(r=request,f='addsong_playlist',args=details[0].id)}}" target="iframe3" style="padding-left:140px;font-size:20px;text-decoration:none">Click Here to Add</a></td></tr>


<tr><td></td><td></td><td></td><td  style="padding-left:70px"><iframe name="iframe3" src="#" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:60px;" allowTransparency="true"></iframe></td></tr><tr><td><br/></td></tr>




<tr><td style="font-weight:bold;font-size:20px">Comments</td><td></td><td>:</td><td><a href="{{=URL(r=request,f='comment',args=details[0].id)}}" target="_blank" style="padding-left:120px;font-size:20px;text-decoration:none">Click Here to view Comments</a></td></tr><tr><td><br/></td></tr>
{{if(session.user==1):}}
<tr><td style="font-weight:bold;font-size:20px">Add a Keyword</td><td></td><td>:</td><td  style="padding-left:70px"><iframe name="iframe5" src="{{=URL(r=request,f='add_keyword',args=details[0].id)}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:80px;" allowTransparency="true"></iframe></td></tr><tr><td><br/></td></tr>{{pass}}
</table>

<!--
<h1 style="padding-left:235px;text-decoration:underline">Play the Song</h1></td>
<table>


<tr>
<td  style="padding-left:120px"><iframe name="iframe4" src="{{URL(r=request,f='playsong',args=details[0].id)}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:40px;" allowTransparency="true"></iframe></td>
</tr></table>



<h1 style="padding-left:245px;text-decoration:underline" >Comments</h1></td>
<a href="{{=URL(r=request,f='comment',args=details[0].id)}}" target="_blank" style="padding-left:170px;font-size:22px">Click Here to view Comments</a>
<br/>
<br/>
<h1 style="padding-left:235px;text-decoration:underline">Rate the Song</h1></td>
<table>
<tr>
<td style="padding-left:255px"><div><a href="{{=URL(r=request,f='rate_song',args=details[0].id)}}" style="font-size:22px" target="iframe2" >Click to Rate</a></div></td></tr><tr>
<td  style="padding-left:120px"><iframe name="iframe2" src="{{=URL(r=request,f='rate_song',args=details[0].id)}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:80px;" allowTransparency="true"></iframe></td>
</tr></table>

<h1 style="padding-left:235px;text-decoration:underline">Add to Playlist</h1></td>
<table>
<tr>
<td style="padding-left:230px"><div><a href="{{=URL(r=request,f='addsong_playlist',args=details[0].id)}}" style="font-size:22px" target="iframe3" >Click Here to Add</a></div></td></tr><tr>
<td  style="padding-left:120px"><iframe name="iframe3" src="{{=URL(r=request,f='addsong_playlist',args=details[0].id)}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:40px;" allowTransparency="true"></iframe></td>
</tr></table>

<h1 style="padding-left:235px;text-decoration:underline">Add a Keyword</h1></td>
<table>
<tr>
<td style="padding-left:205px"><div><a href="{{=URL(r=request,f='add_keyword',args=details[0].id)}}" style="font-size:22px" target="iframe5" >Click Here to Add Keyword</a></div></td></tr><tr>
<td  style="padding-left:120px"><iframe name="iframe5" src="{{=URL(r=request,f='add_keyword',args=details[0].id)}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:40px;" allowTransparency="true"></iframe></td>
</tr></table>
<tr><td><form action="add_keyword"><input type="name" value="" name="keyword"></input></td><td><input type='submit' value='Add Keyword' /></td></form></tr>-->
