{{extend 'TravelPort.html'}}
<div class="titleA"></div>
<h1 style="text-align:center;font-size:25px;text-decoration:underline">Song List</h1>
<br/>
<table style="font-size:18px;text-align:left;padding-left:10px;width:100%">
<tr style="font-weight:bold"><td style="width:31%;text-decoration:underline;text-align:center">Title</td><td style="width:31%;text-decoration:underline;text-align:center">Artist</td><td style="width:30%;text-decoration:underline;text-align:center">Movie/Album</td>
<tr><td><br/></td></tr>
{{for s in songs:}}
<tr><td style="text-align:center" >
<a href="{{=URL(r=request,f='all_songs_detail',args=s.id)}}"> {{=s.title}}</a></td><td style="text-align:center">{{=s.artist}}</td><td style="text-align:center"><a href="{{=URL(r=request,f='show_moviesong',args=s.id)}}"> {{=s.movie}}</a> </td> </tr>
{{pass}}
</table>
