{{extend 'TravelPort.html'}}
<br/>
<div class="comment"></div>

<h1  style="text-align:center;font-size:25px;text-decoration:underline">Comments</h1>
<br/>
<div style="padding-left:20px;font-size:15px">
{{for c in comment :}}
<table border="0" style="border-collapse: collapse">
 <tr>

      <td width="16"><img src="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='top_lef.gif')}}" width="16" height="16"></td>
      <td height="10" background="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='top_mid.gif')}}"><img src="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='top_mid.gif')}}" width="16" height="16"></td>
      <td width="24"><img src="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='top_rig.gif')}}" width="24" height="16"></td>

 </tr>
    
    <tr>
        <td width="16" background="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='cen_lef.gif')}}">
        <td style="width:660px;padding-left:25px;padding-bottom:25px;font-family:cursive"><br/><span style="color:orange">{{=db.user[c.userid].first_name+' '+db.user[c.userid].last_name}}</span> says :
                <span style="color:#3F97EE;font-size:18px"><br/><br/>"
                        {{=c.comment}} "</span> <br /> <br /><span style='color:grey'> Posted On:{{=c.posted_on}} </span> </td>
        <td width="24" background="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='cen_rig.gif')}}">
        <img src="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='cen_rig.gif')}}" width="24" height="11" /></td>
      </td>
   </tr>
 
     <tr>
 
      <td width="16" height="16"><img src="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='bot_lef.gif')}}" width="16" height="16" /></td>
      <td height="16" background="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='bot_mid.gif')}}"><img src="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='bot_mid.gif')}}" width="16" height="16"></td>
      <td width="24" height="16"><img src="{{=URL(r=request , c='static/plugin_layouts/layouts/TravelPort/images' ,f='bot_rig.gif')}}" width="24" height="16" /></td>

    </tr>

</table>
<br/>
{{pass}}
</div>

<form action="{{=URL(r=request,f='add_comment',args=songid)}}" style="padding-left:70px">
<textarea type="textarea" name="comment" value=""  style="width:600px;height:80px;font-size:18px;border:solid 2px #6DB72C;background-color:#D0F18F">Your Post Here !!</textarea><br/><br/>
<div style="padding-left:230px">
<input type="submit" name="post" value="Post Comment" /></div>
</form>


