<style>

div.error {
	      background-color: red;
	       color: white;
	        padding: 3px;
	   }
</style>
{{=form.custom.begin}}
<table>
<tr><td style="font-size:18px">Playlist Name <td>:</td> </td><td>{{=form.custom.widget.name}}</td><td>{{=form.custom.submit}}</td></tr>
</table>
{{=form.custom.end}}
