{{extend 'TravelPort.html'}}

<!--{{if 'message' in globals():}}{{=H2(message)}}{{else:}}{{=BEAUTIFY(response._vars)}}{{pass}}-->

<div class="titleN"></div>

<!--<ul>
  <li>{{=T('You are successfully running web2py')}}</li>
  <li>{{=T('This is a copy of the scaffolding application')}}</li>
  <li>{{=T('You can modify this application and adapt it to your needs')}}</li>
  <li>{{=A(B(T("click here for the administrative interface")), _href=URL('admin','default','index'))}}</li>
  <li>{{=A(T("click here for online examples"), _href=URL('examples','default','index'))}}</li>
  <li><a href="http://web2py.com">web2py.com</a></li>
  <li><a href="http://web2py.com/book">{{=T('documentation')}}</a></li>
</ul>

<ol>
  <li>{{=T('You visited the url')}} {{=A(request.env.path_info,_href=request.env.path_info)}}</li>
  <li>{{=T('Which called the function')}} {{=A(request.function+'()',_href='#')}} {{=T('located in the file')}}
    {{=A('web2py/applications/%(application)s/controllers/%(controller)s.py'%request,_href=URL('admin','default','peek',args=(request.application,'controllers',request.controller+'.py')))}}</li>
  <li>{{=T('The output of the file is a dictionary that was rendered by the view')}}
    {{=A('web2py/applications/%(application)s/views/%(controller)s/index.html'%request,_href=URL('admin','default','peek',args=(request.application,'views',request.controller,'index.html')))}}</li>
</ol>-->
<br/>
<h1 class="title2" style="text-align:center;font-size:30px"><span>Music Larva</span> - Where words fails music speaks </h1><br/>
<div  style="font-size:18px;text-align:left;padding-left:34px;padding-right:40px">We welcome you at Music Larva Where words fails music speaks . Our music Library is a fully-featured database application that allows you to catalog and play literally any music files . Here you can create your own Playlists,follow us on Facebook,Rate and download the Music .We also provide the information about upcoming music.and the best part you can also play your music online.You can see music in any order you want (i.e movie or album , artist , year of release ).Every user will be having his personal account where he or she can edit their information can save there playlists and much more .... 
<br/><br/>
There are certain rules which you should follow to use our Library to know about them <span class="click">Click on below given Link.</span>
</div>

<br/>

 {{a=PluginMModal(title='Rules',content='<ul style="font-size:18px"><li>To increase our database continuously, we appreciate users to upload music</li><li>The music they upload will be rated by other users<li>Based on this we will provide monthly gift vouchers to the users whose uploaded music has been rated most in that particular month</li><li>Although users can listen to music online but to download they must rate others music  </li><li>A term download slot has been defined in our application , i.e the number of songs user can download </li><li>Download Slot= half of number of songs rated by the user </li></ul>', close='close',width=40,height=30)}}

{{=a}}
<div class="boxed orange" style="padding-left:20px">
<span style="font-size:25px;"> {{=a.link('Click Here to know our Rules')}}</span><br/></div>

<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;....................................................................................................................................................................</div>
<h1 class="title2" style="text-align:center;font-size:20px;text-decoration:underline"><blink>Upcoming Music</blink></h1>

<div style="padding-left:34px;padding-right:40px">
<table border="0" width="130px" style="padding-left:43px">
<tr><td><img src="{{=URL(request.application,'static','plugin_layouts/layouts/TravelPort/images/blue.bmp')}}"/></td>
    <td><img src="{{=URL(request.application,'static','plugin_layouts/layouts/TravelPort/images/a2.jpg')}}"/></td>
    <td><img src="{{=URL(request.application,'static','plugin_layouts/layouts/TravelPort/images/Rajneeti.jpg')}}"/></td>
    <td><img src="{{=URL(request.application,'static','plugin_layouts/layouts/TravelPort/images/jabwemet.jpg')}}"/></td>
</tr>
<tr><td><img src="{{=URL(request.application,'static','plugin_layouts/layouts/TravelPort/images/3-idiots.jpg')}}"/></td>
    <td><img src="{{=URL(request.application,'static','plugin_layouts/layouts/TravelPort/images/path.png')}}"/></td>
    <td><img src="{{=URL(request.application,'static','plugin_layouts/layouts/TravelPort/images/rockon.jpg')}}"/></td>
    <td><img src="{{=URL(request.application,'static','plugin_layouts/layouts/TravelPort/images/images.jpeg')}}"/></td>
    </tr>
</table>
</div>
