{{extend 'TravelPort.html'}}

<div class="titleZ"></div>

<table style="font-size:20px">
<tr><td><h1 style="font-size:25px;text-decoration:underline;padding-left:250px">Pending Requests</h1></td></tr>
{{for s in song:}}
<tr><td style="text-align:center;padding-left:250px"><a href="{{=URL(r=request,f='notification_detail',args=s.id)}}"> {{=s.title}}</a></td></tr>
{{pass}}
</table>
