{{extend 'TravelPort.html'}}
<h1 style="font-size:25px;text-decoration:underline;padding-left:280px">{{=details[0].title}}</h1>
<table style="font-size:18px;padding-left:220px">
<tr><td style="font-weight:bold">Movie/Album</td><td>:</td><td> {{=details[0].movie}}</td></tr>

<tr><td style="font-weight:bold">Artist</td><td>:</td><td> {{=details[0].artist}}</td></tr>
<tr><td style="font-weight:bold">Year of Release</td><td>:</td><td> {{=details[0].yor}}</td></tr>
<tr><td style="font-weight:bold">Rating</td><td>:</td><td> {{=details[0].rating}}</td></tr>
<tr><td style="font-weight:bold">Uploaded By</td><td>:</td><td> {{=user[0].first_name + ' ' + user[0].last_name}}</td></tr>
<tr><td style="font-weight:bold">User ID</td><td>:</td><td> {{=user[0].id}}</td></tr>

</table>
<br/><br/>
<table style="padding-left:290px">
<tr><td><form action='../music_accept'>
<input type='submit' value='Accept' />
</form></td>
<td><form action='../music_decline'>
<input type='submit' value='Decline' />
</form></td></tr>
</table>
