{{extend 'TravelPort.html'}}

<!--<embed src="{{=URL(r=request,c='static',f='music.mp3')}}" controller="true" autoplay="true" autostart="True" type="audio/mpeg" />

<embed src="{{=URL(r=request,c='static',f='favicon.ico')}}" />

<noembed>Shit</noembed>-->

<div style="padding-left:100px">

<object type="application/x-shockwave-flash" data="{{=URL(r=request,c='static',f='player_mp3_maxi.swf')}}" width="200" height="20">

    <param name="wmode" value="transparent" />

    <param name="movie" value="{{=URL(r=request,c='static',f='player_mp3_maxi.swf')}}" />

    <param name="FlashVars" value="mp3={{=URL(r=request,f='download',args=db.music[songid].song)}}&amp;showstop=1&amp;showinfo=1&amp;showvolume=1" />

    <p>You are not having Flash Player</p>

</object>
</div>
