<style>
div.error {
    background-color: red;
    font-size:12px;
color: white;
padding: 3px;
}    
</style>

{{=form.custom.begin}}
<table style="padding-left:50px;color:#FF9523">
<tr><td>Rate (Between 1-5) </td><td>:</td><td>{{=form.custom.widget.rating}}</td><td>{{=form.custom.submit}}</td></tr>
</table>
{{=form.custom.end}}
