{{extend 'TravelPort.html'}}

<div class="titleR"></div>

<div style="padding-left:180px">
{{=form.custom.begin}}
<h2 style="padding-left:100px;font-size:25px;text-decoration:underline">Register Here !!</h2><br/>
<table border=0>
<tr> <td style="font-weight:bold;font-size:18px">First Name:</td> <td>{{=form.custom.widget.first_name}}</td></tr><tr><td></td></tr>
<tr> <td style="font-weight:bold;font-size:18px">Last Name:</td> <td>{{=form.custom.widget.last_name}}</td></tr><tr><td></td></tr>
<tr> <td style="font-weight:bold;font-size:18px">Occupation:</td> <td>{{=form.custom.widget.Occupation}}</td></tr><tr><td></td></tr>
<tr> <td style="font-weight:bold;font-size:18px">City:</td> <td>{{=form.custom.widget.city}}</td></tr><tr><td></td></tr>
<tr> <td style="font-weight:bold;font-size:18px">Country:</td> <td>{{=form.custom.widget.country}}</td></tr><tr><td></td></tr>
<tr> <td style="font-weight:bold;font-size:18px">Date Of birth:</td> <td>{{=form.custom.widget.dob}}</td></tr><tr><td></td></tr>
<tr> <td style="font-weight:bold;font-size:18px">Gender:</td> <td>{{=form.custom.widget.gender}}</td></tr><tr><td></td></tr>
<tr> <td style="font-weight:bold;font-size:18px">Email id:</td> <td>{{=form.custom.widget.email_id}}</td></tr><tr><td></td></tr>
<tr> <td style="font-weight:bold;font-size:18px">Password:</td> <td>{{=form.custom.widget.password}}</td></tr><tr><td></td></tr>
<tr> <td style="font-weight:bold;font-size:18px">Retype Password:</td> <td>{{=form.custom.widget.retype_password}}</td></tr><tr><td></td></tr>
</table>
</div>
<div style="text-align:center" > <br />{{=form.custom.submit}} </div>
{{=form.custom.end}}
