{{extend 'TravelPort.html'}}
<div class="titleA"></div>
<h1 style="text-align:center;font-size:25px;text-decoration:underline">Movies</h1>
<br/>
<table style="padding-left:130px;font-size:18px;text-align:center" width=100%>
<tr style="font-weight:bold"><td style="width:31%;text-decoration:underline;text-align:center">Movie</td><td style="width:31%;text-decoration:underline;text-align:center">Number of Songs</td>
<tr><td><br/></td></tr>
{{for movies in movie:}}
{{song=db(db.music.movie==movies.movie).select()}}
{{count=db(db.music.movie==movies.movie).count()}}
<tr><td style="text-align:center">
<a href="{{=URL(r=request,f='show_moviesong',args=song[0].id)}}"> {{=movies.movie}}</a></td><td style="text-align:center">{{=count}} {{if count==1:}}Song{{else:}}Songs{{pass}}</td></tr>
{{pass}}
</table>
