{{extend 'TravelPort.html'}}
<div class="titleP"></div>

<h1 style="text-align:center;text-decoration:underline">Playlist - {{=db.playlist[playlistid].name}}</h1>

{{for s in song :}}
<table width=100%>
<tr>
<td>
<a href="{{=URL(r=request,f='all_songs_detail',args=s.songid)}}" style="font-size:22px;float:left">{{=db.music[s.songid].title}}</a></td><td></td><td><form action="{{=URL(r=request,f='deletesong_playlist',args=s.songid)}}" ><input type='submit' value='delete' /></form></td></tr><tr></tr><tr></tr>
</table>
{{pass}}
