{{extend 'TravelPort.html'}}
<div class="titleT"></div>
<h1 style="text-align:center;text-decoration:underline">Top Ten</h1>

{{count=0}}
<ol style="font-size:22px">
{{for song in top:}}
{{if count<11:}}
<li>
<a href="{{=URL(r=request,f='all_songs_detail',args=song.songid)}}"> {{=db.music[song.songid].title}}</a>
</li>
{{count=count+1}}
{{else:}}
{{break}}
{{pass}}
{{pass}}
</ol>
