<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">

{{extend 'TravelPort.html'}}
<h1 style="text-align:center;text-decoration:underline;font-size:30px">User History </h1><br /><br />
<table style="margin-left:60px;color:#101010" border='0px'>
<tr>
<td style="font-family:'arial rounded mt bold';color:#191919;font-size:17px;padding:10px;border-bottom-style:solid;border-bottom-width:5px">User Name</td>
<td style="font-family:'arial rounded mt bold';color:#191919;font-size:17px;padding:10px;border-bottom-style:solid;border-bottom-width:5px">Login Time</td>
<td style="font-family:'arial rounded mt bold';color:#191919;font-size:17px;padding:10px;border-bottom-style:solid;border-bottom-width:5px"> Logout Time </td>
<td style="font-family:'arial rounded mt bold';color:#191919;font-size:17px;padding:10px;border-bottom-style:solid;border-bottom-width:5px">Visitor No. </td>
</tr>
{{for usr in history:}}
<tr>
<td style="font-family:'arial rounded mt bold';color:#414141;font-size:17px;padding:10px;border-bottom-style:dotted;border-bottom-width:2px">
{{name=db.user[usr.userid].first_name+' '+db.user[usr.userid].last_name}}
{{=name}}
</td>
<td style="font-family:'arial rounded mt bold';color:#414141;font-size:17px;padding:10px;border-bottom-style:dotted;border-bottom-width:2px">
{{=usr.login_time}}</td>
<td style="font-family:'arial rounded mt bold';color:#414141;font-size:17px;padding:10px;border-bottom-style:dotted;border-bottom-width:2px">{{=usr.logout_time}}</td> 
<td style="font-family:'arial rounded mt bold';color:#414141;font-size:17px;padding:10px;border-bottom-style:dotted;border-bottom-width:2px;text-align:center">{{=usr.visitorno}}</td>
</tr>
{{pass}}
</table>
<br />
 <p style="font-family:'arial rounded mt bold';color:#191919;font-size:17px;padding:10px;border-bottom-style:dotted;border-bottom-width:2px;text-align:center"> Total no. of visitors : {{=db().select(totalvisits)[0]._extra[totalvisits]}} </p> 
