<table style="padding-left:140px" border="0">
{{for x in playlist :}}
<tr><td>
<ul>
<li>
<a href="{{=URL(r=request,f='show_playlist',args=x.id)}}" target="_blank" style="color:#FF9523" >{{=x.name}}</a></li></ul></td>
<td  style="text-align:right;padding-left:100px;padding-bottom:13px"><a href="{{=URL(r=request,f='delete_playlist',args=x.id)}}">Delete Playlist</a></td>

</tr>
{{pass}}
</table>
