{{extend 'TravelPort.html'}}
<br/>
<div class="titleU" ></div>
<h2 style="font-size:25px;text-decoration:underline;padding-left:230px"> Personal Details</h2>
<table style="font-size:18px;padding-left:200px">
<tr><td style="font-weight:bold">Name</td><td>:</td><td> {{=user.first_name +' ' +user.last_name}}</td></tr>
<tr><td style="font-weight:bold">Occupation</td><td>:</td><td> {{=user.Occupation}}</td></tr>
<tr><td style="font-weight:bold">City</td><td>:</td><td> {{=user.city}}</td></tr>
<tr><td style="font-weight:bold">Country</td><td>:</td><td> {{=user.country}}</td></tr>
<tr><td style="font-weight:bold">Date of Birth</td><td>:</td><td> {{=user.dob}}</td></tr>
<tr><td style="font-weight:bold">Gender</td><td>:</td><td> {{=user.gender}}</td></tr>
<tr><td style="font-weight:bold">Email-ID</td><td>:</td><td> {{=user.email_id}}</td></tr>
</table> 

<br/>
<h2 style="font-size:28px;text-decoration:underline;padding-left:230px">Songs by User</h2>

<table style="padding-left:50px">
<tr style="font-size:20px;padding-left:200px;font-weight:bold;"><td  style="padding-left:50px;padding-right:50px;text-decoration:underline">Title</td><td  style="padding-left:50px;padding-right:50px;text-decoration:underline">Average Rating</td><td style="padding-left:50px;padding-right:50px;text-decoration:underline">No. of Users Rated</td></tr>
<tr><td><br/></td></tr>
{{for song in uploaded:}}
{{rate=db(db.song_rating.songid==song.id).select()}}
{{if rate:}}
<tr style="text-align:center;font-size:19px"><td> {{=song.title}}</td><td>{{="%.2f"%rate[0].avg_rating}}</td><td>{{=rate[0].users_rated}}</td></tr>
{{pass}}
{{pass}}
{{pass}}
</table>
<br/>
<h2 style="font-size:25px;text-decoration:underline;padding-left:270px">Playlists</h2>


<iframe name="iframe2" src="{{=URL(r=request,f='user_playlist',args=user.id)}}" scrolling="auto" frameborder="0" style=" width:600px; height:120px;" allowTransparency="true"></iframe>

<table><tr><td style="padding-left:230px;padding-top:40px">
<a href="{{=URL(r=request,f='create_playlist')}}" style="font-size:22px;color:red" target="iframe1" >Create Playlist</a></td></tr><tr><td style="padding-left:70px">
<iframe name="iframe1" src="#" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:60px;" allowTransparency="true"></iframe></td></tr>
</table>
